.on5_box>ul {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.on5_box>ul>li {
    border: 4px solid #fff;
    border-radius: 8px;
    position: relative;
}

.on5_box_h1 {
    color: #fff;
    text-align: center;
}

.on5_box_p {
    color: #e5e5e5;
    text-align: center;
    font-weight: 400;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.on5_bottom {
    text-align: center;
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    border-radius: 2px;
    margin: 0 auto;
}

.on5_img {
    background: url(/static/pages/ma.png) no-repeat;
    background-size: 100%;
}

.on5_img_QQ {
    background: url(/static/pages/QQ.png) no-repeat;
    background-size: 100%;
}

@media screen and (min-width: 1850px) {
    .on5_box {
        width: 1382px !important;
        height: 574px !important;
        margin: 200px auto;
    }

    .on5_box>ul {
        height: 544px;
    }

    .on5_box>ul>li {
        width: 402px;
        height: 531px;
        margin-right: 38px;
    }

    .on5_box_h1 {
        font-size: 42px;
        margin-top: 89px;
    }

    .on5_box_p {
        width: 288px;
        margin: 60px auto 0;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 75px;
    }

    .on5_bottom {
        width: 173px;
        height: 47px;
        line-height: 47px;
        font-size: 18px;
        background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    }

    .on5_img {
        width: 201.5008px;
        height: 201.5008px;
        margin: 60.8px auto 0;
    }

    .on5_img_QQ {
        width: 201.5008px;
        height: 201.5008px;
        margin: 60.8px auto 0;
    }
}

@media screen and (max-width: 1850px) and (min-width: 1350px) {
    .on5_box {
        width: 1000px !important;
        height: 400px !important;
        margin: 150px auto;
    }

    .on5_box>ul {
        height: 400px;
    }

    .on5_box>ul>li {
        width: 402px;
        height: 400px;
        margin-right: 38px;
    }

    .on5_box_h1 {
        font-size: 42px;
        margin-top: 35px;
    }

    .on5_box_p {
        width: 288px;
        margin: 60px auto 0;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 75px;
    }

    .on5_bottom {
        width: 173px;
        height: 47px;
        line-height: 47px;
        font-size: 18px;
        background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    }

    .on5_img {
        width: 201.5008px;
        height: 201.5008px;
        margin: 60.8px auto 0;
    }

    .on5_img_QQ {
        width: 201.5008px;
        height: 201.5008px;
        margin: 60.8px auto 0;
    }
}


@media screen and (max-width: 1350px) and (min-width: 1000px) {
    .on5_box {
        width: 1000px !important;
        height: 400px !important;
        margin: 100px auto;
    }

    .on5_box>ul {
        height: 400px;
    }

    .on5_box>ul>li {
        width: 402px;
        height: 400px;
        margin-right: 38px;
    }


    .on5_box_h1 {
        font-size: 42px;
        margin-top: 35px;
    }

    .on5_box_p {
        width: 288px;
        margin: 60px auto 0;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 75px;
    }

    .on5_bottom {
        width: 173px;
        height: 47px;
        line-height: 47px;
        font-size: 18px;
        background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    }

    .on5_img {
        width: 201.5008px;
        height: 201.5008px;
        margin: 60.8px auto 0;
    }

    .on5_img_QQ {
        width: 201.5008px;
        height: 201.5008px;
        margin: 60.8px auto 0;
    }
}

@media screen and (max-width: 1000px) and (min-width: 750px) {
    .on5_box {
        width: 700px !important;
        height: 300px !important;
        margin: 100px auto;
    }

    .on5_box>ul {
        height: 300px;
    }

    .on5_box>ul>li {
        width: 250px;
        height: 300px;
        margin-right: 15px;
    }

    .on5_box_h1 {
        font-size: 30px;
        margin-top: 20px;
    }

    .on5_box_p {
        margin: 20px auto 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 15px;
    }

    .on5_bottom {
        width: 150px;
        height: 47px;
        line-height: 47px;
        font-size: 16px;
        background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    }

    .on5_img {
        width: 150px;
        height: 150px;
        margin: 30px auto 0;
    }

    .on5_img_QQ {
        width: 150px;
        height: 150px;
        margin: 30px auto 0;
    }
}

@media screen and (max-width: 750px) {
    .on5_box {
        width: 350rem !important;
        height: 300rem !important;
        margin: 0 auto 100rem;
        overflow-x: auto;
    }

    .on5_box>ul {
        padding: 0;
        width: 100%;
        height: 300rem;
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        justify-content: space-between;
    }

    .on5_box>ul>li {
        width: 250rem;
        height: 300rem;
        border: 4rem solid #fff;
        margin-right: 15rem;
        border-radius: 8rem;
        position: relative;
    }

    .on5_box>ul>li:hover {
        border-color: #00F5A0;
    }

    .on5_box_h1 {
        width: 250rem;
        font-size: 30rem;
        color: #fff;
        text-align: center;
        margin-top: 20rem;
    }

    .on5_box_p {
        margin: 20rem auto 0;
        font-size: 16rem;
        color: #e5e5e5;
        text-align: center;
        font-weight: 400;
        line-height: 28rem;
        flex: none;
        order: 3;
        flex-grow: 0;
        font-style: normal;
        margin-bottom: 15rem;
    }

    .on5_bottom {
        text-align: center;
        width: 150rem;
        height: 47rem;
        line-height: 47rem;
        font-size: 16rem;
        background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
        border-radius: 2rem;
        margin: 0 auto;
    }

    .on5_img {
        width: 150rem;
        height: 150rem;
        background: url(/static/pages/ma.png) no-repeat;
        background-size: 100%;
        margin: 30rem auto 0;
    }

    .on5_img_QQ {
        width: 150rem;
        height: 150rem;
        background: url(/static/pages/QQ.png) no-repeat;
        background-size: 100%;
        margin: 30rem auto 0;
    }
}