.on5_box {
    width: 100%;
    overflow: hidden;
}


.on5_box>h2 {
    color: #FFF;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 3.2px;
    text-align: left;
}


.on5_box>ul {
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.on5_box>ul>li {
    width: 31%;
    height: 100%;
    border-radius: 10px;
    background-color: #1C1C1C;
}

.on5_box>ul>li>img {
    display: block;
}

.on5_box>ul>li>p {
    color: #767676;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.on5_box>ul>li>h2 {
    color: #FFF;
    text-align: center;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.on5_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    border-radius: 35px;
    border: 1.5px solid #fff;
    margin: 0 auto;
    cursor: pointer;
}

.on5_bottom:hover {
    background-color: #2d88c9;
}

#wechat,
#joinqq {
    display: none;
}

@media screen and (min-width: 1950px) {
    .on5_box>h2 {
        width: 1920px;
        margin: 50px auto 100px;
        font-size: 71px;
        line-height: 80px;
    }


    .on5_box>ul {
        width: 1920px;
        height: 680px;
        margin-bottom: 100px;
    }

    .on5_box>ul>li {
        padding: 0 20px;
    }

    .on5_box>ul>li>img {
        margin: 100px auto 150px;
        width: 250px;
        height: 250px;
    }

    .on5_box>ul>li>p {
        font-size: 20px;
        margin-top: 20px;
    }

    .on5_box>ul>li>h2 {
        font-size: 36px;
    }

    .on5_bottom {
        width: 190px;
        height: 50px;
        font-size: 20px;
    }
}

@media screen and (max-width: 1950px) and (min-width: 1450px) {
    .on5_box>h2 {
        width: calc(1920px*.7);
        margin: 30px auto 70px;
        font-size: 54px;
    }


    .on5_box>ul {
        width: calc(1920px*.7);
        height: calc(680px*.7);
        margin-bottom: 100px;
    }

    .on5_box>ul>li {
        padding: 0 20px;
    }

    .on5_box>ul>li>img {
        margin: 80px auto 50px;
        width: calc(250px*.7);
        height: calc(250px*.7);
    }

    .on5_box>ul>li>p {
        font-size: 18px;
        margin-top: 20px;
    }

    .on5_box>ul>li>h2 {
        font-size: 36px;
    }

    .on5_bottom {
        width: 170px;
        height: 50px;
        font-size: 20px;
    }
}

@media screen and (max-width: 1450px) and (min-width: 1000px) {
    .on5_box>h2 {
        width: calc(1920px*.7*.7);
        margin: 20px auto 30px;
        font-size: 38px;
    }


    .on5_box>ul {
        width: calc(1920px*.7*.7);
        height: calc(680px*.7*.7);
        margin-bottom: 80px;
    }

    .on5_box>ul>li {
        padding: 0 20px;
    }

    .on5_box>ul>li>img {
        margin: 40px auto;
        width: calc(250px*.7*.7);
        height: calc(250px*.7*.7);
    }

    .on5_box>ul>li>p {
        font-size: 14px;
        margin-top: 20px;
    }

    .on5_box>ul>li>h2 {
        font-size: 28px;
    }

    .on5_bottom {
        width: 150px;
        height: 45px;
        font-size: 16px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 750px) {
    .on5_box>h2 {
        width: calc(1920px*.7*.7*.75);
        margin: 20px auto 30px;
        font-size: 28px;
    }

    .on5_box>ul {
        width: calc(1920px*.7*.7*.75);
        height: calc(680px*.7*.7*.75);
        margin-bottom: 50px;
    }

    .on5_box>ul>li {
        padding: 0 10px;
    }

    .on5_box>ul>li>img {
        margin: 20px auto;
        width: calc(250px*.7*.7*.75);
        height: calc(250px*.7*.7*.75);
    }

    .on5_box>ul>li>p {
        font-size: 12px;
        margin-top: 20px;
    }

    .on5_box>ul>li>h2 {
        font-size: 28px;
    }

    .on5_bottom {
        width: 130px;
        height: 35px;
        font-size: 14px;
    }
}

@media screen and (max-width: 750px) {
    .on5_box>h2 {
        text-align: center;
        font-size: 24rem;
        margin-top: 30rem;
    }

    .on5_box>ul {
        width: 350rem;
        margin-bottom: 50rem;
        flex-direction: column;
    }

    .on5_box>ul>li {
        width: 100%;
        height: 400rem;
        padding: 0 10rem;
        margin-bottom: 10rem;
    }

    .on5_box>ul>li>img {
        margin: 20rem auto;
        width: 200rem;
        height: 200rem;
    }

    .on5_box>ul>li>p {
        font-size: 16rem;
        margin-top: 20rem;
    }

    .on5_box>ul>li>h2 {
        font-size: 28rem;
    }

    .on5_bottom {
        width: 130rem;
        height: 35rem;
        font-size: 14rem;
    }

    .on5_box>ul>li>h2 {
        display: none;
    }

    #wechat,
    #joinqq {
        display: flex;
    }
}