* {
    margin: 0;
    padding: 0;
}

.centerBox {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: relative;
}

.startbox {
    width: 82.5rem;
    margin: 0 auto;
    margin-top: 3.125rem;
    /* position: relative; */
    overflow: hidden;
}

.center_Box {
    width: 82.5rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.pagBox {
    position: absolute;
    width: 44.1875rem;
    height: 45.9375rem;
    left: 40.4375rem;
    top: 8.125rem;
    background: url(/static/img/centerImg/Group401.png) no-repeat;
    background-size: 100%;
}

.bigimg {
    background-color: aqua;
    width: 100%;
    height: 53.82rem;
    background: url(/static/img/centerImg/FrameBox.svg) no-repeat;
    background-size: 100%;
    position: relative;
    margin: 0 auto;
}

.titleBox {
    width: 60.75rem;
    height: 20.6875rem;
    position: absolute;
    top: 18.25rem;
    left: -5rem;
}

.titleBox>h1 {
    font-size: 5.3625rem;
    font-style: normal;
    font-weight: 700;
    background: linear-gradient(90deg, #0F8CFF 1.27%, #00FFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
}

.titleBox>p {
    font-style: normal;
    font-weight: 500;
    font-size: 2.2963rem;
    color: #fff;
    text-align: center;
    margin-top: 1.17rem;
}

.buy {
    margin-top: 0.34rem;
}

.mintext {
    text-align: center;
    font-size: 1.4299rem;
    color: #fff;
}


.title2 {
    margin-top: 5rem;
    margin-bottom: 6.25rem;
    font-size: 4.7804rem;
    font-weight: 500;
    line-height: 4.8748rem;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    position: relative;
    width: 38.7156rem;
    height: 4.875rem;
    text-align: left;
}

.title2::after {
    content: '';
    position: absolute;
    right: -46.5625rem;
    bottom: 1.25rem;
    width: 55.5625rem;
    height: 2px;
    background: #929292;
}

.title7 {
    font-size: 4.7813rem;
    font-weight: 500;
    line-height: 4.875rem;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    width: 72.3125rem;
    height: 4.875rem;
    text-align: left;
    position: relative;
    margin-bottom: 5rem;
}

.title7::after {
    content: '';
    position: absolute;
    right: -39.5625rem;
    bottom: 1.2625rem;
    width: 77rem;
    height: 2px;
    background: #929292;
}

.title8 {
    font-size: 5.5rem;
    font-weight: 500;
    line-height: 4.875rem;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    position: relative;
    width: 72.3125rem;
    height: 4.875rem;
    text-align: left;
    margin-bottom: 5rem;
}

.title8::after {
    content: '';
    position: absolute;
    right: -39.5625rem;
    bottom: 1.2625rem;
    width: 63.4063rem;
    height: 2px;
    background: #929292;
}

.power {
    width: 82.5rem;
    height: 24.625rem;
    margin: 0 auto 9.375rem;
    position: relative;
}

.power1 {
    position: relative;
    left: 0;
    top: 0;
    width: 28.4375rem;
    height: 24.625rem;
    background: url(/static/img/centerImg/image83.svg) no-repeat;
    background-size: cover;
    overflow: hidden;
}

.power1>h1 {
    background: linear-gradient(89.98deg, #FFFFFF 0.02%, #00F0FF 0.03%, #9E00FF 49.33%, #15D1FF 100.74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
    font-size: 1.4625rem;
    margin-top: 1.17rem;
}

.powerimg {
    width: 22.1875rem;
    height: 22.1875rem;
    margin: -1.17rem auto 0;
    background: url(/static/img/centerImg/SG20421.svg) no-repeat;
    background-size: 100%;
}

.power2 {
    position: absolute;
    width: 52.75rem;
    height: 24.625rem;
    right: 0;
    top: 0;
    border: 1px solid #05EAFF;
}

.power2_txt {
    position: absolute;
    width: 30.3438rem;
    height: 4.9375rem;
    left: 5.025rem;
    top: 1.4625rem;
    font-style: normal;
    font-weight: 500;
    font-size: 2.6875rem;
    background: linear-gradient(89.98deg, #FFFFFF 0.02%, #00F0FF 0.03%, #9E00FF 49.33%, #15D1FF 100.74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.power2_1 {
    position: absolute;
    width: 18.375rem;
    height: 16.625rem;
    left: 5.025rem;
    top: 7rem;
}

.power2_2 {
    position: absolute;
    width: 36.6875rem;
    height: 16.625rem;
    left: 24.25rem;
    top: 7rem;
}

.power2 p {
    font-size: 1rem;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    margin-bottom: .5rem;
}

.power2_2::after {
    content: '';
    position: absolute;
    left: -3.625rem;
    bottom: 2.375rem;
    height: 15rem;
    width: 2px;
    background: #929292;
}

.pionBox {
    width: 82.5rem;
    height: 30.375rem;
    margin: 0 auto 9.375rem;
    display: flex;
    justify-content: space-between;
}

.pionBox>div {
    width: 26.4375rem;
    height: 30.375rem;
}

.pionBox .pionBox_1 {
    background: url(/static/img/centerImg/image83.svg) no-repeat;
    background-size: cover;
}

.pionBox .pionBox_1 .pionBox_1_img {
    width: 23.625rem;
    height: 19.75rem;
    margin: 4.75rem auto 0;
    background: url(/static/img/centerImg/0031.svg) no-repeat;
    background-size: cover;
}


.pionBox_2>ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    padding-left: 0;
    background-color: #000;
}

.pionBox_2>ul>li {
    flex: 1;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.pionBox_2>ul>li>p {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: .875rem;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 1.125rem;
    margin-bottom: 0;
}

.pionBox_2>ul>li>h1 {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 1.125rem;
}

.pionBox_2>ul>li>div {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 1.1875rem;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}


.pionBox_3>ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    padding-left: 0;
    background-color: #000;
}

.pionBox_3>ul>li {
    flex: 1;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.pionBox_3>ul>li>p {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: .875rem;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 1.125rem;
    margin-bottom: 0;
}

.pionBox_3>ul>li>h1 {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 1.125rem;
}

.pionBox_3>ul>li>div {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.h1_1 {
    background: linear-gradient(90.18deg, #01FDC3 -3.24%, #0176F9 101.38%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.h1_2 {
    background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.h1_3 {
    background: linear-gradient(90.18deg, #01FDC3 -3.24%, #0176F9 101.38%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}



.show1 {
    position: absolute;
    width: 17.375rem;
    height: 3.9688rem;
    left: 5.375rem;
    top: 2rem;
    background: rgba(4, 246, 198, 0.82);
    filter: blur(4.375rem);
}

.show2 {
    position: absolute;
    width: 17.375rem;
    height: 3.9688rem;
    left: 5rem;
    top: 7.75rem;
    background: rgba(4, 246, 198, 0.82);
    filter: blur(4.375rem);
}

.show3 {
    position: absolute;
    width: 17.375rem;
    height: 3.9688rem;
    left: 18.8438rem;
    top: 1.4063rem;
    background: rgba(4, 246, 198, 0.8);
    filter: blur(4.375rem);
    transform: rotate(105deg);
}


.title3 {
    font-size: 5.5rem;
    font-weight: 500;
    line-height: 4.875rem;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    position: relative;
    width: 66.3125rem;
    height: 4.875rem;
    text-align: left;
    margin-bottom: 5rem;
}

.title3::after {
    content: '';
    position: absolute;
    right: -15.625rem;
    bottom: 1.2625rem;
    width: 47.8125rem;
    height: 2px;
    background: #929292;
}

.startbox>ul {
    width: 82.5rem;
    height: 10.6875rem;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}



.list1>li {
    width: 19.4375rem;
    border: 1px solid #05EAFF;
    height: 100%;
    border-radius: 1.175rem;
}

.list2>li {
    width: 26.4375rem;
    height: 100%;
    border-radius: 1.175rem;
    border: 1px solid #05EAFF;
}

.list2 {
    margin-bottom: 9.375rem;
}

.div_on1 {
    background: url(/static/img/centerImg/fedoralogo.svg);
    background-size: 100%;

}

.div_on1>div {
    width: 7.8125rem;
    height: 7.8125rem;
    margin: 1.75rem auto 0;
}

.div_on2 {
    background: linear-gradient(106.82deg, rgba(1, 32, 45, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
}

.div_on2>div {
    width: 10.5rem;
    height: 8rem;
    margin: 1.75rem auto 0;
    background: url(/static/img/centerImg/pioneer_1.svg) no-repeat;
    background-size: 100%;
}

.div_on3 {
    background: linear-gradient(106.82deg, rgba(1, 32, 45, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
}

.div_on3>div {
    width: 13.875rem;
    height: 7.8125rem;
    margin: 1.75rem auto 0;
    background: url(/static/img/centerImg/pioneer_4.svg) no-repeat;
    background-size: 100%;
}

.div_on4 {
    background: linear-gradient(106.82deg, rgba(1, 32, 45, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
}

.div_on4>div {
    width: 7.4375rem;
    height: 7.8125rem;
    margin: 1.75rem auto 0;
    background: url(/static/img/centerImg/pioneer_5.svg) no-repeat;
    background-size: 100%;
}

.div_on5 {
    width: 11.25rem;
    height: 8.125rem;
    margin: 1.125rem auto 0;
    background: url(/static/img/centerImg/image75.svg) no-repeat;
    background-size: 100%;
}

.div_on6 {
    width: 100%;
    height: 100%;
    background: url(/static/img/pioneerxitong.svg) no-repeat;
    background-size: 100%;
}

.div_on7 {
    width: 23.5rem;
    height: 7.8125rem;
    margin: 1.75rem auto 0;
    background: url(/static/img/centerImg/image74.svg) no-repeat;
    background-size: 100%;
}


.title4 {
    font-size: 5.5rem;
    font-weight: 500;
    line-height: 4.875rem;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    position: relative;
    width: 66.3125rem;
    height: 4.875rem;
    text-align: left;
    margin-bottom: 5rem;
}

.title4::after {
    content: '';
    position: absolute;
    right: -15.625rem;
    bottom: 1.2625rem;
    width: 46.625rem;
    height: 2px;
    background: #929292;
}

.bannerBox {
    width: 82.5rem;
    height: 22.875rem;
    margin: 0 auto 9.375rem;
    position: relative;
}

.bannerimg1 {
    width: 26.1875rem;
    height: 21.8125rem;
    color: #fff;
    position: absolute;
    left: 0;
    border: 1px solid #878787;
    border-radius: .25rem;
    background-color: #fff;
}

.bannerimg1_1 {
    width: 26rem;
    height: 21.8125rem;
    background: url(/static/img/111.jpg) no-repeat;
    background-size: contain;
}

.bannerimg2 {
    width: 26.1875rem;
    height: 21.8125rem;
    color: #fff;
    position: absolute;
    left: 28.1875rem;
    border: .0625rem solid #878787;
    border-radius: .25rem;
    background-color: #fff;
}

.bannerimg2_1 {
    width: 26rem;
    height: 17.7188rem;
    background: url(/static/img/centerImg/Frame429.svg) no-repeat;
    background-size: 100%;
}

.bannerimg3_1 {
    width: 26rem;
    height: 17.7188rem;
    background: url(/static/img/centerImg/image80.svg) no-repeat;
    background-size: 100%;
}

.bannerimg3 {
    background-color: #fff;
    width: 26.1875rem;
    height: 21.8125rem;
    position: absolute;
    left: 56.375rem;
    color: #fff;

    border: .0625rem solid #878787;
    border-radius: .25rem;
}

.bannerT {
    position: absolute;
    bottom: 0;
    width: 26.1rem;
    height: 2.25rem;
    line-height: 2.25rem;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 1.0837rem;
}



.RichImg {
    width: 100%;
    height: 41.0625rem;
    background: url(/static/img/centerImg/Frame442.svg) no-repeat;
    background-size: 100%;
    margin-bottom: 9.375rem;
    position: relative;
}


.embrace {
    width: 100%;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 5.25rem;
    text-align: center;
    position: absolute;
    top: 10rem;
}

.risc_v {
    position: absolute;
    top: 17rem;
    width: 100%;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    font-size: 5rem;
    background: linear-gradient(93.08deg, #00FFC2 33.15%, #0066FF 101.47%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.riscBg {
    margin: -12rem auto 20rem;
    width: 120rem;
    height: 50.625rem;
    background: url(/static/img/footerbg.png) no-repeat;
    background-size: 100%;
    position: relative;
}

.footText {
    width: 82.5rem;
    margin: 0 auto;
}

h2 {
    font-size: 2rem;
    opacity: .9;
    margin-bottom: 1.25rem;
}

.chartTech {
    width: 82.5rem;
    margin: 0 auto 0;
}

.tech_text1 {
    width: 100%;
    height: 12.9375rem;

    color: #fff;
}

.tech_title {
    font-size: 3rem;
}

.tech_text3>h1 {
    margin: 5rem auto 1.5625rem;
}

.tech_p {
    margin-top: 5rem;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    flex: none;
    opacity: .8;
    order: 1;
    flex-grow: 0;
    margin-bottom: 5rem;
}

.tech_text2 {
    width: 100%;
    height: 14.875rem;

    color: #fff;
}

.box_tit {
    font-size: 1.625rem;
    margin-bottom: 1.25rem;
}

.tech_text3 {
    width: 100%;
    height: 44.875rem;
    color: #fff;
}


.tech_text4 {
    width: 100%;
    height: 29.875rem;
    color: #fff;
}

.tech_text2>h1 {
    margin-bottom: 1.5625rem;
}

.tech_text4>h2 {
    margin-top: 1.5625rem;
}

.tech_p_line {
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 400;
    opacity: .8;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0;
}

.tech_title3 {
    font-size: 3rem;
    color: #fff;
}

.pinImg {
    width: 82.5rem;
    height: 35rem;
    background: url(/static/img/FrameBig.png) no-repeat;
    background-size: 100%;
}



.document>h1 {
    color: #fff;
    font-size: 3rem;
    margin-top: 5rem;
}

.document>ul {
    width: 71.9625rem;
    height: 5.85rem;
    margin-left: -1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.down {
    width: 1.875rem;
    height: 1.875rem;
    background: url(/static/img/download.svg) no-repeat;
    background-size: 100%;
    margin-right: 1.1994rem;
}

.document>ul>li {
    height: 1.4625rem;
    line-height: 1.75rem;
    display: flex;
    justify-content: flex-start;
}

.link_down {
    color: #fff;
    text-decoration: none;
    font-size: 1.6187rem;
}

.title6 {
    font-size: 5.5rem;
    font-weight: 500;
    line-height: 4.875rem;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    position: relative;
    width: 66.3125rem;
    height: 4.875rem;
    text-align: left;
    margin-bottom: 5rem;
}

.title6::after {
    content: '';
    position: absolute;
    right: -15.625rem;
    bottom: 1.2625rem;
    width: 52.4375rem;
    height: .125rem;
    background: #929292;
}


.on5_box {
    width: 86.375rem;
    height: 37rem;
    margin: 9.375rem auto;
}

.on5_box>ul {
    padding: 0;
    width: 100%;
    height: 34rem;
    display: flex;
    justify-content: space-between;
}

.on5_box>ul>li {
    width: 25.125rem;
    height: 33.1875rem;
    border: .25rem solid #fff;
    margin: 0 auto;
    border-radius: .5rem;
    position: relative;
}

.on5_box>ul>li:hover {
    border-color: #00F5A0;
}

.on5_box_h1 {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    margin-top: 5.5625rem;
}

.on5_box_p {
    width: 18.625rem;
    margin: 3.75rem auto 0;
    font-size: 1rem;
    color: #e5e5e5;
    text-align: center;
    font-weight: 400;
    line-height: 1.8125rem;
    flex: none;
    order: 3;
    flex-grow: 0;
    font-style: normal;
    margin-bottom: 4.6875rem;
}

.on5_bottom {
    text-align: center;
    width: 11.8125rem;
    height: 2.925rem;
    line-height: 2.925rem;
    font-size: 1.125rem;
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    border-radius: .125rem;
    margin: 0 auto 0rem;
}

.on5_img {
    width: 12.5938rem;
    height: 12.5938rem;
    background: url(/static/img/ma.png) no-repeat;
    background-size: 100%;
    margin: 3.8rem auto 0;
}

.on5_img_QQ {
    width: 12.5938rem;
    height: 12.5938rem;
    background: url(/static/img/QQ.png) no-repeat;
    background-size: 100%;
    margin: 3.8rem auto 0;
}