* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.btnbuy {
    border: 2px solid #fff;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.btnbuy:hover {
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    text-decoration: none;
    color: #fff;
}

.title {
    text-align: left;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.title::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
}

.bannerList p {
    text-align: center;
}

.starting {
    color: #FFF;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.starting>span {
    background: linear-gradient(180deg, #02F4A5 -7%, #02DAF4 109%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.content_box {
    margin: 0 auto;
    overflow: hidden;
}

.storage {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.storage>div {
    position: relative;
    background-color: #000;
}

.left_view {
    width: 28.5%;
}

.right_view {
    width: 70%;
}

.view_title {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.left_view>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 3px solid #fff;
    border-radius: 10px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.left_view>span {
    position: absolute;
    top: 0;
    right: 0;
    color: #FFF;
    font-family: Inter;
    font-weight: 500;
    background-color: #f00;
}

.mb64 {
    margin: 0 auto;
    color: #fff;
}

.mb256 {
    margin: 0 auto;
    border-color: #0254D5 !important;
    color: #0254D5;
}

.max_title {
    color: #FFF;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
}

.min_title {
    text-align: center;
    color: #FFF;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.chat256 {
    display: block;
    width: 90%;
}

.right_ghz {
    position: absolute;
}

.chips_diagram {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chips_diagram>div {
    width: 49.3%;
    background-color: #000;
}

.chips_diagram>div>h3 {
    color: #FFF;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
}

.chips_diagram>div>img {
    width: 95%;
    display: block;
}

.audio_size_access,
.support_ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.support_ul>li {
    width: 32.5%;
    aspect-ratio: 466/524;
}

.audio_size_access>li>p,
.peripherals>p,
.support_ul>li>p {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.support_ul>li:last-child {
    background: url(/static/duo/open-source.webp) no-repeat;
    background-size: cover;
}

.support_ul>li:nth-last-child(2) {
    background: url(/static/duo/support-os.webp) no-repeat;
    background-size: cover;
}

.support_ul>li:nth-last-child(3) {
    background: url(/static/duo/chip-view.webp) no-repeat;
    background-size: cover;
}

.peripherals {
    width: 100%;
    aspect-ratio: 144/42;
    background: url(/static/duo/peripherals.webp) no-repeat;
    background-size: cover;
    overflow: hidden;
}

.audio_size_access>li {
    width: 32.5%;
    aspect-ratio: 467/321;
}

.audio_size_access>li:last-child {
    background: url(/static/duo/accessios-support.webp) no-repeat;
    background-size: cover;
}

.audio_size_access>li:nth-last-child(2) {
    background: url(/static/duo/size-view.webp) no-repeat;
    background-size: cover;
}

.audio_size_access>li:nth-last-child(3) {
    background: url(/static/duo/audio.webp) no-repeat;
    background-size: cover;
}

.techspec_module>h2 {
    color: #FFF;
    text-align: left;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
}

.techspec_module>h3 {
    color: #FFF;
    text-align: left;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.techspec_module>p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.tr_width {
    width: 20%;
}

.duo_techspec_table>tbody>tr>td {
    color: rgba(255, 255, 255, 0.85);
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}


.techspec_module>h4 {
    color: #FFF;
    text-align: left;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
}

@media screen and (min-width: 1950px) {
    .btnbuy {
        width: 240px;
        height: 80px;
        font-size: 43px;
        margin: 120px auto 30px;
    }

    .meet {
        font-size: 24px;
        margin-bottom: 6.4px;
    }

    .low {

        font-size: 24.8px;

    }

    .tax {
        font-size: 20px;
    }

    .titleTxt {
        font-size: 99.2px;
        margin-bottom: 44.8px;
    }

    .titleBox {
        text-align: center;
        width: 1036px;
        margin: 252.4px auto 0;
        color: #fff;
    }

    .textLine {
        background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-size: 70px;
        margin-bottom: 5px;
    }

    .title {
        font-size: 77px;
        font-weight: 500;
        text-align: left;
        color: #fff;
        position: relative;
        width: 1920px;
        height: 110px;
        overflow: hidden;
    }

    .support {
        padding: 4px;
        width: calc(484px*1.45);
        height: calc(51px*1.45);
        background: #0F896E;
        border-radius: 5px;
        position: absolute;
        top: calc(253px*1.45);
        left: calc(97px*1.45);
        color: #fff;
        font-style: normal;
        font-weight: 500;
        font-size: 24.4px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .document>h2 {
        color: #fff;
        font-size: 48px;
        margin-top: 80px;
    }

    .document>ul {
        width: 1151px;
        margin-top: 20px;
        margin-left: -29px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .document>ul>li {
        height: 23.4px;
        line-height: 28px;
        margin-bottom: 10px;
        display: flex;
        justify-content: flex-start;
    }

    .starting {
        font-size: 42px;
        margin: 70px 0;
    }

    .starting>span {
        font-size: 42px;
    }

    .content_box {
        width: 1920px;
    }

    .view_title {
        font-size: 36px;
        margin-top: 30px;
    }

    .left_view>div {
        width: 260px;
        height: 130px;
        padding: 10px;
        gap: 10px;
        font-size: 48px;
    }

    .left_view>span {
        padding: 2px 15px;
        font-size: 24px;
    }

    .mb64 {
        margin-top: 60px;
        margin-bottom: 40px;
    }

    .max_title {
        font-size: 34px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .min_title {
        font-size: 22px;
        margin-bottom: 30px;
    }

    .chat256 {
        margin: 0 auto 30px;
    }

    .right_ghz {
        top: 30px;
        right: 80px;
        width: 180px;
    }

    .chips_diagram {
        margin-top: 30px;
    }

    .chips_diagram>div>h3 {
        font-size: 28px;
        margin: 50px 0 30px;
    }

    .chips_diagram>div>img {
        margin: 0 auto 50px;
    }

    .support_ul>li {
        margin-top: 30px;
        padding: 0 20px;
    }

    .audio_size_access>li>p,
    .peripherals>p,
    .support_ul>li>p {
        font-size: 36px;
        margin-top: 50px;
    }

    .peripherals {
        margin-top: 30px;
    }

    .audio_size_access>li {
        margin-top: 30px;
        padding: 0 20px;
    }

    .size_p {
        margin-top: 20px !important;
    }

    .techspec_module {
        margin-top: 150px;
    }

    .techspec_module>h2 {
        font-size: 80px;
    }

    .techspec_module>h3 {
        font-size: 48px;
    }

    .techspec_module>p {
        font-size: 26px;
        margin: 80px 0;
    }

    .duo_techspec_table {
        margin: 30px 0 100px;
    }

    .duo_techspec_table>tbody>tr>td {
        padding: 20px;
        padding-left: 50px;
        font-size: 32px;
    }

    .content_box {
        margin-top: 100px;
    }

    .duo_pinout {
        width: 100%;
        margin: 50px auto;
    }

    .techspec_module>h4 {
        font-size: 28px;
        margin-top: 100px;
    }
}

@media screen and (max-width: 1950px) and (min-width: 1450px) {
    .btnbuy {
        width: 180px;
        height: 60px;
        font-size: 22px;
        margin: 60px auto 30px;
    }

    .meet {
        font-size: 24px;
        margin-bottom: 6.4px;
    }

    .low {

        font-size: 24.8px;

    }

    .tax {
        font-size: 18px;
    }

    .titleTxt {
        font-size: 99.2px;
        margin-bottom: 44.8px;
    }

    .titleBox {
        text-align: center;
        width: 1036px;
        margin: 252.4px auto 0;
        color: #fff;
    }

    .textLine {
        background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-size: 70px;
        margin-bottom: 5px;
    }

    .title {
        font-size: 77px;
        font-weight: 500;
        text-align: left;
        color: #fff;
        position: relative;
        width: 1320px;
        height: 110px;
        overflow: hidden;
    }

    .support {
        padding: 4px;
        width: 484px;
        height: 51px;
        background: #0F896E;
        border-radius: 5px;
        position: absolute;
        top: 253px;
        left: 97px;
        color: #fff;
        font-style: normal;
        font-weight: 500;
        font-size: 24.4px;
        text-align: center;
    }

    .document>h2 {
        color: #fff;
        font-size: 48px;
        margin-top: 80px;
    }

    .document>ul {
        width: 1151px;
        margin-top: 20px;
        margin-left: -29px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .document>ul>li {
        height: 23.4px;
        line-height: 28px;
        margin-bottom: 10px;
        display: flex;
        justify-content: flex-start;
    }

    .starting {
        font-size: 36px;
        margin: 50px 0;
    }

    .starting>span {
        font-size: 32px;
    }

    .content_box {
        width: 1420px;
    }

    .view_title {
        font-size: 26px;
        margin-top: 40px;
    }

    .left_view>div {
        width: 220px;
        height: 100px;
        padding: 10px;
        gap: 10px;
        font-size: 40px;
    }

    .left_view>span {
        padding: 2px 15px;
        font-size: 20px;
    }

    .mb64 {
        margin-top: 60px;
        margin-bottom: 40px;
    }

    .max_title {
        font-size: 28px;
        margin-top: 30px;
        margin-bottom: 5px;
    }

    .min_title {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .chat256 {
        margin: 0 auto 30px;
    }

    .right_ghz {
        top: 30px;
        right: 80px;
        width: 150px;
    }

    .chips_diagram {
        margin-top: 20px;
    }

    .chips_diagram>div>h3 {
        font-size: 26px;
        margin: 50px 0 30px;
    }

    .chips_diagram>div>img {
        margin: 0 auto 50px;
    }

    .support_ul>li {
        margin-top: 20px;
        padding: 0 20px;
    }

    .audio_size_access>li>p,
    .peripherals>p,
    .support_ul>li>p {
        font-size: 24px;
        margin-top: 50px;
    }

    .peripherals {
        margin-top: 20px;
    }

    .audio_size_access>li {
        margin-top: 20px;
        padding: 0 20px;
    }

    .size_p {
        margin-top: 20px !important;
    }

    .techspec_module {
        margin-top: 120px;
    }

    .techspec_module>h2 {
        font-size: 60px;
    }

    .techspec_module>h3 {
        font-size: 38px;
    }

    .techspec_module>p {
        font-size: 20px;
        margin: 50px 0;
    }

    .duo_techspec_table {
        margin: 30px 0 80px;
    }

    .duo_techspec_table>tbody>tr>td {
        padding: 20px;
        padding-left: 30px;
        font-size: 24px;
    }

    .content_box {
        margin-top: 80px;
    }

    .duo_pinout {
        width: 100%;
        margin: 50px auto;
    }

    .techspec_module>h4 {
        font-size: 24px;
        margin-top: 60px;
    }
}

@media screen and (max-width: 1450px) and (min-width: 1050px) {
    .btnbuy {
        width: 140px;
        height: 50px;
        font-size: 18px;
        margin: 60px auto 20px;
    }

    .meet {
        font-size: 24px;
        margin-bottom: 6.4px;
    }

    .low {

        font-size: 24.8px;

    }

    .tax {
        font-size: 14px;
    }

    .titleTxt {
        font-size: 79.2px;
        margin-bottom: 24.8px;
    }

    .titleBox {
        text-align: center;
        width: 836px;
        margin: 150px auto 100px;
        color: #fff;
    }

    .textLine {
        background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-size: 40px;
        margin-bottom: 5px;
    }

    .title {
        font-size: 47px;
        width: 1000px;
        height: 78px;
        margin: 100px auto 100px;
    }

    .support {
        padding: 0 4px;
        width: 90%;
        margin: 0 auto;
        height: 51px;
        line-height: 51px;
        background: #0F896E;
        border-radius: 5px;
        color: #fff;
        font-style: normal;
        font-weight: 500;
        font-size: 18.4px;
        text-align: center;
        margin-bottom: 20px;
    }

    .document>h2 {
        color: #fff;
        font-size: 28px;
    }

    .document>ul {
        width: 1151px;
        margin-left: -29px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .document>ul>li {
        height: 23.4px;
        line-height: 28px;
        margin-top: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .starting {
        font-size: 30px;
        margin: 30px 0;
    }

    .starting>span {
        font-size: 34px;
    }

    .content_box {
        width: 1000px;
    }

    .view_title {
        font-size: 20px;
        margin-top: 40px;
    }

    .left_view>div {
        width: 160px;
        height: 80px;
        padding: 10px;
        font-size: 30px;
    }

    .left_view>span {
        padding: 2px 15px;
        font-size: 20px;
    }

    .mb64 {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .max_title {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .min_title {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .chat256 {
        margin: 0 auto 20px;
    }

    .right_ghz {
        top: 20px;
        right: 40px;
        width: 120px;
    }

    .chips_diagram {
        margin-top: 20px;
    }

    .chips_diagram>div>h3 {
        font-size: 20px;
        margin: 30px 0 20px;
    }

    .chips_diagram>div>img {
        margin: 0 auto 20px;
    }

    .support_ul>li {
        margin-top: 20px;
        padding: 0 20px;
    }

    .audio_size_access>li>p,
    .peripherals>p,
    .support_ul>li>p {
        font-size: 18px;
        margin-top: 30px;
    }

    .peripherals {
        margin-top: 20px;
    }

    .audio_size_access>li {
        margin-top: 20px;
        padding: 0 20px;
    }

    .size_p {
        margin-top: 20px !important;
    }

    .techspec_module {
        margin-top: 80px;
    }

    .techspec_module>h2 {
        font-size: 40px;
    }

    .techspec_module>h3 {
        font-size: 28px;
    }

    .techspec_module>p {
        font-size: 16px;
        margin: 30px 0;
    }

    .duo_techspec_table {
        margin: 30px 0 50px;
    }

    .duo_techspec_table>tbody>tr>td {
        padding: 20px;
        padding-left: 30px;
        font-size: 18px;
    }

    .content_box {
        margin-top: 60px;
    }

    .duo_pinout {
        width: 100%;
        margin: 50px auto;
    }

    .techspec_module>h4 {
        font-size: 18px;
        margin-top: 60px;
    }
}

@media screen and (max-width: 1050px) and (min-width: 750px) {
    .btnbuy {
        width: 120px;
        height: 50px;
        font-size: 16px;
        margin: 40px auto 10px;
    }

    .meet {
        font-size: 20px;
        margin-bottom: 0px;
    }

    .low {
        font-size: 22px;
    }

    .tax {
        font-size: 12px;
    }

    .titleTxt {
        font-size: 60px;
    }

    .titleBox {
        text-align: center;
        width: 700px;
        height: 400px;
        margin: 100px auto 0;
        color: #fff;
        z-index: 101;
    }

    .textLine {
        background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-size: 36px;
    }

    .title {
        font-size: 37px;
        width: 700px;
        margin: 60px auto 50px;
    }

    .support {
        padding: 0 4px;
        width: 90%;
        margin: 0 auto;
        height: 51px;
        line-height: 51px;
        background: #0F896E;
        border-radius: 5px;
        color: #fff;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        margin-bottom: 20px;
    }

    .document>h2 {
        color: #fff;
        font-size: 20px;
    }

    .document>ul {
        width: 1151px;
        margin-left: -29px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .document>ul>li {
        height: 23.4px;
        line-height: 28px;
        margin-bottom: 10px;
        margin-top: 5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .starting {
        font-size: 20px;
    }

    .starting>span {
        font-size: 20px;
    }

    .content_box {
        width: 90%;
    }

    .view_title {
        font-size: 16px;
        margin-top: 30px;
    }

    .left_view>div {
        width: 100px;
        height: 50px;
        padding: 10px;
        font-size: 20px;
    }

    .left_view>span {
        padding: 2px 15px;
        font-size: 12px;
    }

    .mb64 {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .max_title {
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .min_title {
        font-size: 12px;
        margin-bottom: 20px;
    }

    .chat256 {
        margin: 0 auto 20px;
    }

    .right_ghz {
        top: 20px;
        right: 20px;
        width: 80px;
    }

    .chips_diagram {
        margin-top: 20px;
    }

    .chips_diagram>div>h3 {
        font-size: 16px;
        margin: 20px 0 15px;
    }

    .chips_diagram>div>img {
        margin: 0 auto 20px;
    }

    .support_ul>li {
        margin-top: 20px;
        padding: 0 20px;
    }

    .audio_size_access>li>p,
    .peripherals>p,
    .support_ul>li>p {
        font-size: 12px;
        margin-top: 20px;
    }

    .peripherals {
        margin-top: 20px;
    }

    .audio_size_access>li {
        margin-top: 20px;
        padding: 0 20px;
    }

    .size_p {
        margin-top: 10px !important;
    }

    .techspec_module {
        margin-top: 50px;
    }

    .techspec_module>h2 {
        font-size: 30px;
    }

    .techspec_module>h3 {
        font-size: 20px;
    }

    .techspec_module>p {
        font-size: 12px;
        margin: 20px 0;
    }

    .duo_techspec_table {
        margin: 30px 0 50px;
    }

    .duo_techspec_table>tbody>tr>td {
        padding: 15px;
        padding-left: 20px;
        font-size: 14px;
    }

    .content_box {
        margin-top: 50px;
    }

    .duo_pinout {
        width: 100%;
        margin: 30px auto;
    }

    .techspec_module>h4 {
        font-size: 14px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 750px) {

    .title {
        width: 350rem;
        text-align: left;
        color: #fff;
        position: relative;
        overflow: hidden;
        margin: 0 auto;
    }

    .title::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #ccc;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .btnbuy {
        width: 120rem;
        height: 45rem;
        font-size: 20rem;
        margin: 30rem auto 10rem;
    }

    .meet {
        font-size: 18rem;
        margin-bottom: 0rem;
    }

    .low {
        font-size: 11rem;
    }

    .tax {
        font-size: 16rem;
    }

    .titleTxt {
        font-size: 36rem;
    }

    .titleBox {
        text-align: center;
        width: 340rem;
        margin: 30rem auto 0;
        color: #fff;
        z-index: 101;
    }

    .textLine {
        background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-size: 26rem;
    }

    .title {
        font-size: 26rem;
        font-weight: 500;
        letter-spacing: 0em;
        text-align: left;
        color: #fff;
        overflow: hidden;
        position: relative;
        width: 350px;
        margin: 50rem auto 0;
    }

    .support {
        padding: 0 4rem;
        width: 90%;
        margin: 0 auto;
        height: 51rem;
        line-height: 51rem;
        background: #0F896E;
        border-radius: 5rem;
        color: #fff;
        font-style: normal;
        font-weight: 500;
        font-size: 16rem;
        text-align: center;
        margin-bottom: 20rem;
    }

    .document>h2 {
        color: #fff;
        margin-top: 20rem;
        font-size: 16rem;
    }

    .document>ul {
        width: 1151rem;
        height: 93.6rem;
        margin-top: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .document>ul>li {
        height: 23.4rem;
        line-height: 28rem;
        margin-bottom: 5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .storage {
        flex-direction: column;
    }

    .starting {
        font-size: 20rem;
    }

    .starting>span {
        font-size: 20rem;
    }

    .content_box {
        width: 95%;
    }

    .view_title {
        font-size: 20rem;
        margin-top: 30rem;
    }

    .storage>div {
        width: 100%;
    }

    .left_view {
        margin-bottom: 10rem;
        padding-bottom: 20rem;
    }

    .left_view>div {
        width: 100rem;
        height: 50rem;
        padding: 10rem;
        font-size: 20rem;
    }

    .left_view>span {
        padding: 2rem 15rem;
        font-size: 14rem;
    }

    .mb64 {
        margin-top: 20rem;
        margin-bottom: 20rem;
    }

    .max_title {
        font-size: 20rem;
        margin-top: 20rem;
        margin-bottom: 5rem;
    }

    .min_title {
        font-size: 14rem;
        margin-bottom: 20rem;
    }

    .chat256 {
        margin: 0 auto 20rem;
    }

    .right_ghz {
        top: 40rem;
        right: 20rem;
        width: 50rem;
    }

    .chips_diagram {
        margin-top: 20rem;
        flex-direction: column;
    }

    .chips_diagram>div {
        width: 100%;
        margin-bottom: 10rem;
    }

    .chips_diagram>div>h3 {
        font-size: 20rem;
        margin: 20rem 0 15rem;
    }

    .chips_diagram>div>img {
        margin: 0 auto 20rem;
    }

    .support_ul {
        flex-direction: column;
    }

    .support_ul>li {
        width: 100%;
        margin-top: 20rem;
        padding: 0 20rem;
    }

    .audio_size_access>li>p,
    .peripherals>p,
    .support_ul>li>p {
        font-size: 20rem;
        margin-top: 30rem;
    }

    .peripherals {
        height: 350rem;
        margin-top: 20rem;
        background-position: 80%;
    }

    .audio_size_access {
        flex-direction: column;
    }

    .audio_size_access>li {
        width: 100%;
        margin-top: 10rem;
        padding: 0 20rem;
    }

    .size_p {
        margin-top: 10rem !important;
    }

    .techspec_module {
        margin-top: 50rem;
    }

    .techspec_module>h2 {
        font-size: 30rem;
    }

    .techspec_module>h3 {
        font-size: 20rem;
    }

    .techspec_module>p {
        font-size: 12rem;
        margin: 20rem 0;
    }

    .duo_techspec_table {
        margin: 30rem 0 50rem;
    }

    .duo_techspec_table>tbody>tr>td {
        padding: 15rem;
        padding-left: 20rem;
        font-size: 14rem;
    }

    .content_box {
        margin-top: 50rem;
    }

    .duo_pinout {
        width: 100%;
        margin: 20rem 0;
    }

    .techspec_module>h4 {
        font-size: 14rem;
        margin-top: 20rem;
    }
}