* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #000;
}

.titleBox {
    text-align: center;
    width: 64.75rem;
    height: 34.5rem;
    margin: 15.775rem auto 0;
    color: #fff;
}

.textLine {
    background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 4.375rem;
    margin-bottom: .3125rem;
}

.rotateImg {
    position: absolute;
    width: 37.1875rem;
    height: 16.3125rem;
    left: -16.375rem;
    top: 27.5313rem;
    transform: rotate(-56.36deg);
    z-index: 100;
    background: url(/static/img/Group.svg) no-repeat;
    background-size: 100%;
}

/* 阴影 */
.shadow1 {
    position: absolute;
    width: 20.25rem;
    height: 20.25rem;
    left: -10.25rem;
    top: -3.125rem;
    background: #01DEEA;
    -moz-filter: blur(16rem);
    filter: blur(16rem);
}

.shadow2 {
    position: absolute;
    width: 20.25rem;
    height: 20.25rem;
    left: 107.0625rem;
    top: 44.8125rem;
    background: #01B2EA;
    -moz-filter: blur(16rem);
    filter: blur(16rem);
}

.shadow3 {
    position: absolute;
    width: 8.3125rem;
    height: 16.5rem;
    left: 80rem;
    top: 8.875rem;
    background: #FCEA4C;
    -moz-filter: blur(3.75rem);
    filter: blur(3.75rem);
}

.shadow4 {
    position: absolute;
    width: 18.1875rem;
    height: 18.1875rem;
    left: 68.5rem;
    top: 26.1875rem;
    background: rgba(11, 240, 185, 0.68);
    -moz-filter: blur(16rem);
    filter: blur(16rem);
}

.shadow5 {
    position: absolute;
    width: 18.3125rem;
    height: 18.3125rem;
    left: 6.5625rem;
    top: 70.1875rem;
    background: #01DEEA;
    -moz-filter: blur(16rem);
    filter: blur(16rem);
    z-index: -10;
}

.title2 {
    font-size: 4.8125rem;
    font-weight: 500;
    line-height: 4.875rem;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    position: relative;
    width: 82.5rem;
    height: 4.875rem;
    margin: 11.0625rem auto 6.25rem;
}

.title2::after {
    content: '';
    position: absolute;
    right: 0rem;
    bottom: 1.25rem;
    width: 50.4375rem;
    height: .125rem;
    background: #929292;
}


.on5_box {
    width: 86.375rem;
    height: 35.875rem;
    margin: 0 auto;
}

.on5_box>ul {
    padding: 0;
    width: 100%;
    height: 34rem;
    display: flex;
    justify-content: space-between;
}

.on5_box>ul>li {
    width: 25.125rem;
    height: 33.1875rem;
    border: .25rem solid #fff;
    margin-right: 2.375rem;
    border-radius: .5rem;
    position: relative;
}

.on5_box>ul>li:hover {
    border-color: #00F5A0;
}

.on5_box_h1 {
    font-size: 2.625rem;
    color: #fff;
    text-align: center;
    margin-top: 5.5625rem;
}

.on5_box_p {
    width: 18rem;
    margin: 3.75rem auto 0;
    font-size: 1rem;
    color: #e5e5e5;
    text-align: center;
    font-weight: 400;
    line-height: 1.75rem;
    flex: none;
    order: 3;
    flex-grow: 0;
    font-style: normal;
    margin-bottom: 4.6875rem;
}

.on5_bottom {
    text-align: center;
    width: 10.8125rem;
    height: 2.9375rem;
    line-height: 2.9375rem;
    font-size: 1.125rem;
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    border-radius: .125rem;
    margin: 0 auto;
}

.on5_img {
    width: 12.5938rem;
    height: 12.5938rem;
    background: url(/static/img/ma.png) no-repeat;
    background-size: 100%;
    margin: 3.8rem auto 0;
}

.on5_img_QQ {
    width: 12.5938rem;
    height: 12.5938rem;
    background: url(/static/img/QQ.png) no-repeat;
    background-size: 100%;
    margin: 3.8rem auto 0;
}


.chartBox {
    width: 82.5rem;
    height: 37.75rem;
    background-color: #141619;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.chartTitle {
    position: absolute;
    width: 60.125rem;
    height: 4.1875rem;
    left: 7.2188rem;
    top: 2.4375rem;
    font-style: normal;
    font-weight: 500;
    font-size: 2.75rem;
    line-height: 120%;
    color: #FFFFFF;
}

.chartTitle2 {
    position: absolute;
    width: 35.875rem;
    height: 2.8125rem;
    left: 7.2188rem;
    top: 8.25rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4375rem;
    line-height: 150%;
    color: #FFFFFF;
}

.largeText {
    position: absolute;
    width: 11.25rem;
    height: 7.5rem;
    left: 8.2188rem;
    top: 9.4375rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.exhibits {
    width: 82.5rem;
    height: 81.5625rem;
    margin: 1.75rem auto 9.875rem;
    position: relative;
}

.exhibits .group2 {
    width: 40.625rem;
    height: 42.5625rem;
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    border: .0625rem solid;
    border-image-source: linear-gradient(137.67deg, #01F2AA 0%, #01DCEE 100%);
    border-image-slice: 1;
}

.exhibits .group2>.textList {
    height: 6.125rem;
    width: 31.875rem;
    font-weight: 500;
    line-height: 3.0625rem;
    letter-spacing: 0em;
    text-align: center;
    color: #FF5C00;
    font-size: 2.1875rem;
    display: block;
    margin: 3.3125rem auto 0;
}

.exhibitsImg {
    display: block;
    width: 28.3125rem;
    height: 11.6875rem;
    transform: rotate(-90deg);
    margin: 8.75rem auto 0;
    background: url(/static/img/Group.svg) no-repeat;
    background-size: 100%;
}

.micBox {
    width: 40.625rem;
    height: 24.875rem;
    border: .0625rem solid;
    border-image-source: linear-gradient(248.35deg, #941970 1.15%, #572E91 100.6%);
    border-image-slice: 1;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 43.9375rem;
}

.micList1 {
    position: absolute;
    top: 1.875rem;
    left: 3.5rem;
    height: 20.25rem;
    width: 15.5rem;
    border-radius: .3125rem;
    background-color: #343431;
    overflow: hidden;
}

.micList1 .frame1 {
    width: 12.5rem;
    height: 12.5rem;
    position: absolute;
    top: 1.25rem;
    left: .9375rem;
    background: url(/static/img/Frame1.svg) no-repeat;
    background-size: 100%;
}

.micList1>p {
    position: absolute;
    width: 100%;
    height: 1.875rem;
    left: 3.5625rem;
    top: 16.625rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 130%;
    background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.micList2 .frame2 {
    width: 10.1875rem;
    height: 10.1875rem;
    position: absolute;
    top: 2.75rem;
    left: 3.5625rem;
    background: url(/static/img/Frame2.svg) no-repeat;
    background-size: 100%;
}

.micList2 {
    position: absolute;
    top: 1.875rem;
    left: 21.8125rem;
    height: 20.25rem;
    width: 15.5rem;
    border-radius: .3125rem;
    background-color: #343431;
    overflow: hidden;
}

.micList2>p {
    position: absolute;
    width: 100%;
    height: 1.875rem;
    left: 5.3125rem;
    top: 16.625rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 130%;
    background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.shadow6 {
    position: absolute;
    width: 9.1875rem;
    height: 9.1875rem;
    left: -5.4375rem;
    top: 3.5rem;
    background: rgba(11, 240, 185, 0.68);
    -moz-filter: blur(16rem);
    filter: blur(16rem);
}

.shadow7 {
    position: absolute;
    width: 9.1875rem;
    height: 9.1875rem;
    left: 3.5625rem;
    top: 13.6875rem;
    background: #B1A53D;
    -moz-filter: blur(16rem);
    filter: blur(16rem);
}

.footerText {
    width: 40.625rem;
    height: 9.625rem;
    position: absolute;
    left: 0;
    top: 70.3125rem;
    background: #181818;
}

.footerText>h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 2.875rem;
    text-align: center;
    margin-top: 2.9375rem;
    background-image: -webkit-linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bigExhibits {
    width: 40.625rem;
    height: 55.1875rem;
    position: absolute;
    left: 41.875rem;
    top: 0;
    background-color: #000;
    overflow: hidden;
}

.head {
    margin: 5rem 0 0 7.0625rem;
    width: 30.5rem;
    height: 21.875rem;
    font-style: normal;
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 4.875rem;
    background: linear-gradient(90deg, #FFE259 0%, #FFA751 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.support {
    padding: .25rem;
    width: 30.25rem;
    height: 3.1875rem;
    background: #0F896E;
    border-radius: .3125rem;
    position: absolute;
    top: 15.8125rem;
    left: 6.0625rem;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 1.525rem;
    text-align: center;
}

.btnBox {
    position: absolute;
    width: 30.89rem;
    height: 28.3125rem;
    left: 5.75rem;
    top: 22.6875rem;
    background: url(/static/img/Frame190.svg) no-repeat;
    background-size: 100%;
}


.shadow8 {
    position: absolute;
    width: 19.3125rem;
    height: 19.3125rem;
    left: -22.875rem;
    top: 1.8125rem;
    background: #01DEEA;
    -moz-filter: blur(6.25rem);
    filter: blur(6.25rem);
    z-index: 10;
}

.shadow9 {
    position: absolute;
    width: 13.9375rem;
    height: 13.9375rem;
    left: 13rem;
    top: -35.3125rem;
    background: #FFF858;
    -moz-filter: blur(6.25rem);
    filter: blur(6.25rem);
}

.lineChart {
    width: 40.625rem;
    height: 23.375rem;
    position: absolute;
    left: 41.875rem;
    top: 56.5625rem;
    background-color: #000;
    overflow: hidden;
}

.shadow10 {
    position: absolute;
    width: 13.25rem;
    height: 13.25rem;
    left: 29.625rem;
    top: -1.5625rem;
    background: #8042D5;
    -moz-filter: blur(13.75rem);
    filter: blur(13.75rem);
}

.shadow11 {
    position: absolute;
    width: 26.5rem;
    height: 26.5rem;
    left: -6.4375rem;
    top: 3.4375rem;
    background: #BF2091;
    -moz-filter: blur(16.25rem);
    filter: blur(16.25rem);
}

.shadow12 {
    position: absolute;
    width: 354.625rem;
    height: 354.625rem;
    left: 60.625rem;
    top: 144rem;
    background: rgba(215, 207, 20, 0.51);
    -moz-filter: blur(16.25rem);
    filter: blur(16.25rem);
    z-index: -100;
}

.lineBox {
    position: absolute;
    width: 24.625rem;
    height: 17.75rem;
    left: 8rem;
    top: 3.4375rem;
}

.line1 {
    position: absolute;
    width: 24.625rem;
    height: 0rem;
    left: 0;
    top: 0;
    border: .1424rem dashed rgba(255, 255, 255, 0.5);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.line2 {
    position: absolute;
    width: 24.625rem;
    height: 0rem;
    left: 0;
    top: 33.33%;
    border: .1424rem dashed rgba(255, 255, 255, 0.5);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.line3 {
    position: absolute;
    width: 24.625rem;
    height: 0rem;
    left: 0;
    bottom: 33.33%;
    border: .1424rem dashed rgba(255, 255, 255, 0.5);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.line4 {
    position: absolute;
    width: 24.625rem;
    height: 0rem;
    left: 0;
    bottom: 0;
    border: .1424rem dashed rgba(255, 255, 255, 0.5);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.lineGroup {
    width: 18.75rem;
    height: 7.25rem;
    position: absolute;
    top: 5.1875rem;
    left: -3.625rem;
    transform: rotate(-90deg);
    background: url(/static/img/Group.svg) no-repeat;
    background-size: 100%;
}

.jj {
    position: absolute;
    width: 9.3125rem;
    height: 9.3125rem;
    left: 11.125rem;
    top: 8.75rem;
    background: url(/static/img/yingbi.svg) no-repeat;
    background-size: 100%;
}

.title4 {
    font-size: 4.8125rem;
    font-weight: 500;
    line-height: 4.875rem;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    width: 69.5625rem;
    height: 4.875rem;
    position: absolute;
    left: 0;
    top: -8rem;
}

.title4::after {
    content: '';
    position: absolute;
    right: -12.1875rem;
    bottom: 1.25rem;
    width: 52.75rem;
    height: .125rem;
    background: #929292;
}

.bannerList {
    width: 82.5rem;
    height: 30.8125rem;
    margin: 19.6875rem auto 0;
    position: relative;
    overflow: hidden;
    background-color: #000;
}

.title3 {
    font-size: 4.8125rem;
    font-weight: 500;
    line-height: 4.875rem;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    width: 69.5625rem;
    height: 4.875rem;
    position: absolute;
    left: 0;
    bottom: -20vh;
}

.title3::after {
    content: '';
    position: absolute;
    right: -13rem;
    bottom: 1.25rem;
    width: 22.5rem;
    height: .125rem;
    background: #929292;
}

.bannerimg {
    width: 26.25rem;
    height: 21.8125rem;
    background-color: #000;
    color: #fff;
    position: absolute;
    top: 1.75rem;
    border: .0625rem solid #878787;
    border-radius: .25rem;
}

.bannerimg>.img1 {
    display: block;
    width: 26.25rem;
    height: 17.7188rem;
    margin: .3125rem auto 0;
    background: url(/static/img/jiank3.svg) no-repeat;
    background-size: 100%;
}

.bannerimg>.img2 {
    display: block;
    width: 26.25rem;
    height: 17.7188rem;
    margin: 5px auto 0;
    background: url(/static/img/jiank2.svg) no-repeat;
    background-size: 100%;
}

.bannerimg>.img3 {
    display: block;
    width: 26.25rem;
    height: 17.7188rem;
    margin: 5px auto 0;
    background: url(/static/img/jiank.svg) no-repeat;
    background-size: 100%;
}

.bannerimg>.img4 {
    display: block;
    width: 26.25rem;
    height: 17.7188rem;
    background: url(/static/img/Rectangle2.svg) no-repeat;
    background-size: 100%;
}

.bannerimg>.img5 {
    display: block;
    width: 26.25rem;
    height: 17.7188rem;
    background: url(/static/img/Rectangle1.svg) no-repeat;
    background-size: 100%;
}

.bannerimg>p {
    font-size: 1.25rem;
    text-align: center;
    line-height: 5.25rem;
}

.prev {
    width: 5.125rem;
    height: 5.125rem;
    background: url(/static/img/chevron-left.svg) no-repeat;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    right: 3.8125rem;
    cursor: pointer;
}

.next {
    width: 5.125rem;
    height: 5.125rem;
    background: url(/static/img/chevron-right.svg) no-repeat;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    right: 0.1994rem;
    cursor: pointer;
}

.Ghzbox {
    width: 50.625rem;
    height: 11.8125rem;
    background: url(/static/img/Duochart1.svg) no-repeat;
    background-size: 100%;
    position: absolute;
    left: 8.5625rem;
    top: 23.0625rem;
}

.shadow13 {
    position: absolute;
    width: 23.0625rem;
    height: 23.0625rem;
    left: 6.9375rem;
    top: 245.6875rem;
    background: #01DEEA;
    -moz-filter: blur(16.25rem);
    filter: blur(16.25rem);
}

.chartTech {
    width: 82.5rem;
    height: 107.4375rem;
    margin: 19.6875rem auto 0;
    position: relative;
}

.tech_text1 {
    width: 100%;
    height: 12.9375rem;
    position: absolute;
    top: 2.3125rem;
    color: #fff;
}

.tech_title {
    font-size: 3rem;
}

.tech_p {
    margin-top: 1.75rem;
    font-size: 1.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.tech_text2 {
    width: 100%;
    height: 14.875rem;
    position: absolute;
    top: 23.375rem;
    color: #fff;
}

.tech_text2>h1 {
    margin-bottom: 1.7rem;
}

.tech_p_line {
    font-size: 1.625rem;
    font-style: normal;
    opacity: 0.8;
    font-weight: 400;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0;
}

.tech_title3 {
    font-size: 3rem;
    color: #fff;
    position: absolute;
    top: 51.5rem;
}

.pinImg {
    position: absolute;
    top: 56.25rem;
    width: 82.5rem;
    height: 35rem;
    background: url(/static/images/duo/duo-pinout.svg) no-repeat;
    background-size: 100%;
}

.document {
    position: absolute;
    top: 90.6875rem;
}

.document>h1 {
    color: #fff;
    font-size: 3rem;
}

.document>ul {
    width: 71.9375rem;
    height: 5.85rem;
    margin-left: -1.8125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.down {
    width: 1.875rem;
    height: 1.875rem;
    background: url(/static/img/download.svg) no-repeat;
    background-size: 100%;
    margin-right: 1.1994rem;
}

.document>ul>li {
    height: 1.4625rem;
    line-height: 1.75rem;
    display: flex;
    justify-content: flex-start;
}

.link_down {
    color: #fff;
    text-decoration: none;
    font-size: 1.625rem;
}

.shadow14 {
    position: absolute;
    width: 42.75rem;
    height: 42.75rem;
    left: 98.5625rem;
    top: 260.0625rem;
    background: rgba(215, 207, 20, 0.32);
    -moz-filter: blur(16.25rem);
    filter: blur(16.25rem);
}

.embrace {
    position: absolute;
    left: 0;
    top: 10.45rem;
    width: 100%;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 5.25rem;
    text-align: center;
}

.risc_v {
    position: absolute;
    left: 0;
    top: 17.2rem;
    width: 100%;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    font-size: 5rem;
    background: linear-gradient(93.08deg, #00FFC2 33.15%, #0066FF 101.47%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.riscBg {
    margin: 0 auto 20rem;
    width: 120rem;
    height: 50.625rem;
    background: url(/static/img/footerbg.png) no-repeat;
    background-size: 100%;
    position: relative;
}