.headImage {
    width: 100%;
    aspect-ratio: 1920/ 725;
    margin: 0 auto;
    background-image: url(/static/mars/mars-head.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.titleBox {
    text-align: center;
}

.marsBox {
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: hidden;
}

.prodcuts>div {
    background-color: #1a1a1a;
}

.prodcuts01 {
    background: url(/static/mars/mars-icon-01.webp) no-repeat;
    background-size: cover;
}



.prodcuts04 {
    background: url(/static/mars/mars-icon-03.webp) no-repeat;
    background-size: cover;
}

.prodcuts05 {
    background: url(/static/mars/mars-icon-04.webp) no-repeat;
    background-size: cover;
}

.prodcuts06 {
    background: url(/static/mars/mars-icon-05.webp) no-repeat;
    background-size: cover;
}

.li01 {
    background: url(/static/mars/mars-icon-06.webp) no-repeat;
    background-size: cover;
}

.li02 {
    background: url(/static/mars/mars-icon-07.webp) no-repeat;
    background-size: cover;
}

.li03 {
    background: url(/static/mars/mars-icon-08.webp) no-repeat;
    background-size: cover;
}

.btnbuy {
    border: 2px solid #fff;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    cursor: pointer;
    color: #fff;
}

.btnbuy:hover {
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
}

.title {
    text-align: left;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.title::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media screen and (min-width: 1950px) {

    .btnbuy {
        width: 240px;
        height: 80px;
        font-size: 43px;
        margin: 120px auto 30px;
    }

    .title {
        font-size: 77px;
        font-weight: 500;
        text-align: left;
        color: #fff;
        position: relative;
        width: 1450px;
        height: 110px;
        overflow: hidden;
        margin: 150px auto 100px;
    }

    .marsBox>h2 {
        width: 1440px;
        margin: 80px auto;
        font-weight: 500;
        font-size: 48px;
        color: #FFFFFF;
    }

    .titleBox {
        margin-top: 100px;
    }

    .titleBox>h1 {
        font-weight: 700;
        font-size: 87px;
        line-height: 120%;
        background: linear-gradient(90deg, #FFC500 0%, #C21500 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .titleBox>p {
        font-weight: 500;
        font-size: 38px;
        line-height: 120%;
        color: #FFFFFF;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .prodcuts {
        width: 1440px;
        height: 1235px;
        margin: 0 auto;
        position: relative;
    }

    .prodcuts01 {
        width: 470px;
        height: 330px;
        position: absolute;
        top: 0;
        left: 0;
        padding: 25px 30px 0;
    }

    .prodcuts01>h1 {
        font-weight: 500;
        font-size: 32px;
        line-height: 120%;
        color: #fff;
    }

    .prodcuts02 {
        position: absolute;
        top: 0;
        left: 485px;
        width: 470px;
        height: 245px;
        padding: 30px 30px 0;
    }

    .prodcuts02>p {
        margin-top: 35px;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        color: #D8D8D8;
    }

    .prodcuts03 {
        position: absolute;
        top: 0;
        left: 970px;
        width: 470px;
        height: 205px;
        font-weight: 600;
        font-size: 42px;
        color: rgba(255, 255, 255, 0.8);
        text-align: center;
        line-height: 205px;
    }

    .prodcuts04 {
        position: absolute;
        top: 345px;
        left: 0;
        width: 470px;
        height: 545px;
        padding: 40px 35px 0;
    }

    .prodcuts04>h1 {
        font-weight: 500;
        font-size: 42px;
        line-height: 120%;
        background: linear-gradient(270deg, #C31801 0%, #FFC301 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin: 0;
    }

    .prodcuts04>p {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        color: #FFFFFF;
    }

    .prodcuts05 {
        position: absolute;
        top: 260px;
        left: 485px;
        width: 470px;
        height: 630px;
        padding: 530px 15px 0px;
    }

    .prodcuts05>p {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        margin-bottom: 7px;
        color: #FFFFFF;
    }

    .prodcuts05>span {
        display: block;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        color: #D8D8D8;
    }

    .prodcuts06 {
        position: absolute;
        top: 220px;
        left: 970px;
        width: 470px;
        height: 670px;
        padding: 50px 40px 0;
    }

    .prodcuts06>h1 {
        font-weight: 500;
        font-size: 58px;
        line-height: 120%;
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0;
    }

    .prodcuts06>p {
        font-weight: 500;
        font-size: 36px;
        line-height: 120%;
        color: #FFFFFF;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .productsUl {
        width: 100%;
        height: 330px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0;
        margin: 0;
        padding: 0;
    }

    .productsUl>li {
        width: 470px;
        height: 100%;
        padding: 14px 25px 0;
    }

    .productsUl>li>h1 {
        font-weight: 500;
        font-size: 40px;
        line-height: 120%;
        color: #FFFFFF;
        margin: 0;
        flex: none;
        order: 0;
    }

    .productsUl>li>.titleMinP {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        color: #FFFFFF;
        flex: none;
        order: 1;
        flex-grow: 0;
        margin-bottom: 35px;
    }

    .title_p {
        margin: 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        color: rgba(255, 255, 255, 0.8);
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .moreP {
        font-size: 26px;
        line-height: 120%;
        color: rgba(255, 255, 255, 0.8);
        width: 1440px;
        margin: 0 auto;
    }

    .tableBox {
        margin: 80px auto;
        width: 1440px;
    }

    .tableBox td {
        text-align: left;
        height: 58px;
        font-weight: 500;
        font-size: 32px;
        color: rgba(255, 255, 255, 0.85);
        padding: 0;
        padding-left: 60px;
    }

    .tabP {
        width: 1030px;
    }

    .tabline {
        width: 410px;
    }

    .embrace {
        position: absolute;
        left: 0;
        top: 167.2px;
        width: 100%;
        color: #fff;
        font-style: normal;
        font-weight: 500;
        font-size: 74px;
        text-align: center;
    }

    .risc_v {
        position: absolute;
        left: 0;
        top: 275.2px;
        width: 100%;
        color: #fff;
        font-style: normal;
        font-weight: 500;
        text-align: center;
        font-size: 70px;
        background: linear-gradient(93.08deg, #00FFC2 33.15%, #0066FF 101.47%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

    }

    .riscBg {
        margin: 0 auto 100px;
        width: 80%;
        height: 800px;
        background: url(/static/pages/footerbg.png) no-repeat;
        background-size: 100%;
        position: relative;
    }
}

@media screen and (max-width: 1950px) and (min-width: 1450px) {

    .btnbuy {
        width: 200px;
        height: 70px;
        font-size: 34px;
        margin: 60px auto 20px;
    }

    .marsBox>h2 {
        width: 1440px;
        margin: 80px auto;
        font-weight: 500;
        font-size: 48px;
        color: #FFFFFF;
    }

    .titleBox {
        margin-top: 100px;
    }

    .titleBox>h1 {
        font-weight: 700;
        font-size: 87px;
        line-height: 120%;
        background: linear-gradient(90deg, #FFC500 0%, #C21500 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .title {
        font-size: 50px;
        width: 1440px;
        height: 78px;
        margin: 100px auto 80px;
    }

    .titleBox>p {
        font-weight: 500;
        font-size: 38px;
        line-height: 120%;
        color: #FFFFFF;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .prodcuts {
        width: 1440px;
        height: 1235px;
        margin: 0 auto;
        position: relative;
    }

    .prodcuts01 {
        width: 470px;
        height: 330px;
        position: absolute;
        top: 0;
        left: 0;
        padding: 25px 30px 0;
    }

    .prodcuts01>h1 {
        font-weight: 500;
        font-size: 32px;
        color: #fff;
        line-height: 120%;
    }

    .prodcuts02 {
        position: absolute;
        top: 0;
        left: 485px;
        width: 470px;
        height: 245px;
        padding: 30px 30px 0;
    }

    .prodcuts02>p {
        margin-top: 35px;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        color: #D8D8D8;
    }

    .prodcuts03 {
        position: absolute;
        top: 0;
        left: 970px;
        width: 470px;
        height: 205px;
        font-weight: 600;
        font-size: 36px;
        color: rgba(255, 255, 255, 0.8);
        text-align: center;
        line-height: 205px;
    }

    .prodcuts04 {
        position: absolute;
        top: 345px;
        left: 0;
        width: 470px;
        height: 545px;
        padding: 40px 35px 0;
    }

    .prodcuts04>h1 {
        font-weight: 500;
        font-size: 42px;
        line-height: 120%;
        background: linear-gradient(270deg, #C31801 0%, #FFC301 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin: 0;
    }

    .prodcuts04>p {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        color: #FFFFFF;
    }

    .prodcuts05 {
        position: absolute;
        top: 260px;
        left: 485px;
        width: 470px;
        height: 630px;
        padding: 530px 15px 0px;
    }

    .prodcuts05>span {
        display: block;
        font-weight: 500;
        font-size: 19px;
        line-height: 120%;
        color: #D8D8D8;
    }

    .prodcuts05>p {
        font-weight: 500;
        font-size: 19px;
        line-height: 120%;
        margin-bottom: 8px;
        color: #FFFFFF;
    }

    .prodcuts06 {
        position: absolute;
        top: 220px;
        left: 970px;
        width: 470px;
        height: 670px;
        padding: 50px 40px 0;
    }

    .prodcuts06>h1 {
        font-weight: 500;
        font-size: 58px;
        line-height: 120%;
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0;
    }

    .prodcuts06>p {
        font-weight: 500;
        font-size: 36px;
        line-height: 120%;
        color: #FFFFFF;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .productsUl {
        width: 100%;
        height: 330px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0;
        margin: 0;
        padding: 0;
    }

    .productsUl>li {
        width: 470px;
        height: 100%;
        padding: 14px 25px 0;
    }

    .productsUl>li>h1 {
        font-weight: 500;
        font-size: 40px;
        line-height: 120%;
        color: #FFFFFF;
        margin: 0;
        flex: none;
        order: 0;
    }

    .productsUl>li>.titleMinP {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        color: #FFFFFF;
        flex: none;
        order: 1;
        flex-grow: 0;
        margin-bottom: 35px;
    }

    .title_p {
        margin: 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        color: rgba(255, 255, 255, 0.8);
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .moreP {
        font-size: 26px;
        line-height: 120%;
        color: rgba(255, 255, 255, 0.8);
        width: 1440px;
        margin: 0 auto;
    }

    .tableBox {
        margin: 80px auto;
        width: 1440px;
    }

    .tableBox td {
        text-align: left;
        height: 58px;
        font-weight: 500;
        font-size: 32px;
        color: rgba(255, 255, 255, 0.85);
        padding: 0;
        padding-left: 60px;
    }

    .tabP {
        width: 1030px;
    }

    .tabline {
        width: 410px;
    }

    .embrace {
        position: absolute;
        left: 0;
        top: 167.2px;
        width: 100%;
        color: #fff;
        font-style: normal;
        font-weight: 500;
        font-size: 74px;
        text-align: center;
    }

    .risc_v {
        position: absolute;
        left: 0;
        top: 275.2px;
        width: 100%;
        color: #fff;
        font-style: normal;
        font-weight: 500;
        text-align: center;
        font-size: 70px;
        background: linear-gradient(93.08deg, #00FFC2 33.15%, #0066FF 101.47%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

    }

    .riscBg {
        margin: 0 auto 100px;
        width: 80%;
        height: 800px;
        background: url(/static/pages/footerbg.png) no-repeat;
        background-size: 100%;
        position: relative;
    }
}

@media screen and (max-width: 1450px) and (min-width: 1000px) {

    .btnbuy {
        width: 200px;
        height: 70px;
        font-size: 34px;
        margin: 60px auto 20px;
    }


    .marsBox>h2 {
        width: 990px;
        margin: 40px auto;
        font-weight: 500;
        font-size: 38px;
        color: #FFFFFF;
    }

    .title {
        font-size: 42px;
        width: 990px;
        height: 56px;
        margin: 100px auto 80px;
    }

    .titleBox {
        margin-top: 50px;
    }

    .titleBox>h1 {
        font-weight: 700;
        font-size: 67px;
        line-height: 120%;
        background: linear-gradient(90deg, #FFC500 0%, #C21500 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .titleBox>p {
        font-weight: 500;
        font-size: 28px;
        line-height: 120%;
        color: #FFFFFF;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .prodcuts {
        width: 990px;
        height: 930px;
        margin: 0 auto;
        position: relative;
    }

    .prodcuts01 {
        width: 320px;
        height: 250px;
        position: absolute;
        top: 0;
        left: 0;
        padding: 15px 20px 0;
    }

    .prodcuts01>h1 {
        font-weight: 500;
        font-size: 26px;
        color: #fff;
        line-height: 120%;
    }

    .prodcuts02 {
        position: absolute;
        top: 0;
        left: 335px;
        width: 320px;
        height: 200px;
        padding: 20px 20px 0;
    }

    .prodcuts02>p {
        margin-top: 15px;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: #D8D8D8;
    }

    .prodcuts03 {
        position: absolute;
        top: 0;
        left: 670px;
        width: 320px;
        height: 160px;
        font-weight: 600;
        font-size: 28px;
        color: rgba(255, 255, 255, 0.8);
        text-align: center;
        line-height: 160px;
    }

    .prodcuts04 {
        position: absolute;
        top: 265px;
        left: 0;
        width: 320px;
        height: 400px;
        padding: 30px 25px 0;
    }

    .prodcuts04>h1 {
        font-weight: 500;
        font-size: 28px;
        line-height: 120%;
        background: linear-gradient(270deg, #C31801 0%, #FFC301 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin: 0;
    }

    .prodcuts04>p {
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: #FFFFFF;
    }

    .prodcuts05 {
        position: absolute;
        top: 215px;
        left: 335px;
        width: 320px;
        height: 450px;
        padding: 380px 5px 0px;
    }

    .prodcuts05>span {
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        color: #D8D8D8;
    }

    .prodcuts05>p {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 5px;
        line-height: 120%;
        color: #FFFFFF;
    }

    .prodcuts06 {
        position: absolute;
        top: 175px;
        left: 670px;
        width: 320px;
        height: 490px;
        padding: 40px 30px 0;
    }

    .prodcuts06>h1 {
        font-weight: 500;
        font-size: 38px;
        line-height: 120%;
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0;
    }

    .prodcuts06>p {
        font-weight: 500;
        font-size: 22px;
        line-height: 120%;
        color: #FFFFFF;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .productsUl {
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0;
        margin: 0;
        padding: 0;
    }

    .productsUl>li {
        width: 320px;
        height: 100%;
        padding: 10px 20px 0;
    }

    .productsUl>li>h1 {
        font-weight: 500;
        font-size: 30px;
        line-height: 120%;
        color: #FFFFFF;
        margin: 0;
        flex: none;
        order: 0;
    }

    .productsUl>li>.titleMinP {
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: #FFFFFF;
        flex: none;
        order: 1;
        flex-grow: 0;
        margin-bottom: 35px;
    }

    .title_p {
        margin: 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: rgba(255, 255, 255, 0.8);
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .moreP {
        font-size: 18px;
        line-height: 120%;
        color: rgba(255, 255, 255, 0.8);
        width: 990px;
        margin: 0 auto;
    }

    .tableBox {
        margin: 50px auto 100px;
        width: 990px;
    }

    .tableBox td {
        text-align: left;
        height: 58px;
        font-weight: 500;
        font-size: 22px;
        color: rgba(255, 255, 255, 0.85);
        padding: 0;
        padding-left: 60px;
    }

    .tabP {
        width: 730px;
    }

    .tabline {
        width: 250px;
    }

    .embrace {
        position: absolute;
        left: 0;
        top: 150px;
        width: 100%;
        color: #fff;
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        text-align: center;
    }

    .risc_v {
        position: absolute;
        left: 0;
        top: 220px;
        width: 100%;
        color: #fff;
        font-style: normal;
        font-weight: 500;
        text-align: center;
        font-size: 40px;
        background: linear-gradient(93.08deg, #00FFC2 33.15%, #0066FF 101.47%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

    }

    .riscBg {
        margin: 0 auto 0;
        width: 1000px;
        height: 500px;
        background: url(/static/pages/footerbg.png) no-repeat;
        background-size: 100%;
        position: relative;
    }
}

@media screen and (max-width: 1000px) and (min-width: 750px) {
    .btnbuy {
        width: 160px;
        height: 60px;
        font-size: 26px;
        margin: 40px auto 10px;
    }

    .title {
        font-size: 36px;
        width: 740px;
        height: 52px;
        margin: 80px auto 40px;
    }

    .marsBox>h2 {
        width: 740px;
        margin: 20px auto;
        font-weight: 500;
        font-size: 28px;
        color: #FFFFFF;
    }

    .titleBox {
        margin-top: 50px;
    }

    .titleBox>h1 {
        font-weight: 700;
        font-size: 50px;
        line-height: 120%;
        background: linear-gradient(90deg, #FFC500 0%, #C21500 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .titleBox>p {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        color: #FFFFFF;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .prodcuts {
        width: 740px;
        height: 700px;
        margin: 0 auto;
        position: relative;
    }

    .prodcuts01 {
        width: 240px;
        height: 180px;
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px 10px 0;
    }

    .prodcuts01>h1 {
        font-weight: 500;
        font-size: 18px;
        color: #fff;
        line-height: 120%;
    }

    .prodcuts02 {
        position: absolute;
        top: 0;
        left: 250px;
        width: 240px;
        height: 150px;
        padding: 10px 10px 0;
    }

    .prodcuts02>p {
        margin-top: 15px;
        font-weight: 500;
        font-size: 12px;
        line-height: 120%;
        color: #D8D8D8;
    }

    .prodcuts03 {
        position: absolute;
        top: 0;
        left: 500px;
        width: 240px;
        height: 130px;
        font-weight: 600;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.8);
        text-align: center;
        line-height: 130px;
    }

    .prodcuts04 {
        position: absolute;
        top: 190px;
        left: 0;
        width: 240px;
        height: 300px;
        padding: 20px 15px 0;
    }

    .prodcuts04>h1 {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        background: linear-gradient(270deg, #C31801 0%, #FFC301 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin: 0;
    }

    .prodcuts04>p {
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        color: #FFFFFF;
    }

    .prodcuts05 {
        position: absolute;
        top: 160px;
        left: 250px;
        width: 240px;
        height: 330px;
        padding: 270px 5px 0px;
    }

    .prodcuts05>span {
        display: block;
        font-weight: 500;
        font-size: 12px;
        line-height: 120%;
        color: #D8D8D8;
    }

    .prodcuts05>p {
        font-weight: 500;
        font-size: 12px;
        margin-bottom: 0px;
        line-height: 120%;
        color: #FFFFFF;
    }

    .prodcuts06 {
        position: absolute;
        top: 140px;
        left: 500px;
        width: 240px;
        height: 350px;
        padding: 30px 20px 0;
    }

    .prodcuts06>h1 {
        font-weight: 500;
        font-size: 28px;
        line-height: 120%;
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0;
    }

    .prodcuts06>p {
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: #FFFFFF;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .productsUl {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0;
        margin: 0;
        padding: 0;
    }

    .productsUl>li {
        width: 240px;
        height: 100%;
        padding: 15px 10px 0;
    }

    .productsUl>li>h1 {
        font-weight: 500;
        font-size: 22px;
        line-height: 120%;
        color: #FFFFFF;
        margin: 0;
        flex: none;
        order: 0;
    }

    .productsUl>li>.titleMinP {
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        color: #FFFFFF;
        flex: none;
        order: 1;
        flex-grow: 0;
        margin-bottom: 35px;
    }

    .title_p {
        margin: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        color: rgba(255, 255, 255, 0.8);
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .moreP {
        font-size: 14px;
        line-height: 120%;
        color: rgba(255, 255, 255, 0.8);
        width: 740px;
        margin: 0 auto;
    }

    .tableBox {
        margin: 30px auto 100px;
        width: 740px;
    }

    .tableBox td {
        text-align: left;
        height: 50px;
        font-weight: 500;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.85);
        padding: 0;
        padding-left: 30px;
    }

    .tabP {
        width: 730px;
    }

    .tabline {
        width: 250px;
    }

    .embrace {
        position: absolute;
        left: 0;
        top: 150px;
        width: 100%;
        color: #fff;
        font-style: normal;
        font-weight: 500;
        font-size: 38px;
        text-align: center;
    }

    .risc_v {
        position: absolute;
        left: 0;
        top: 220px;
        width: 100%;
        color: #fff;
        font-style: normal;
        font-weight: 500;
        text-align: center;
        font-size: 34px;
        background: linear-gradient(93.08deg, #00FFC2 33.15%, #0066FF 101.47%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

    }

    .riscBg {
        margin: 0 auto 0;
        width: 700px;
        height: 400px;
        background: url(/static/pages/footerbg.png) no-repeat;
        background-size: 100%;
        position: relative;
    }
}


@media screen and (max-width: 750px) {
    .btnbuy {
        width: 120rem;
        height: 45rem;
        font-size: 20rem;
        margin: 30rem auto 10rem;
    }

    .marsBox>h2 {
        width: 340rem;
        margin: 20rem auto;
        font-weight: 500;
        font-size: 20rem;
        color: #FFFFFF;
        font-weight: 600;
    }

    .title {
        font-size: 26rem;
        width: 350rem;
        height: 36rem;
        margin: 80px auto 20px;
    }

    .titleBox {
        margin-top: 50rem;
    }

    .titleBox>h1 {
        font-weight: 700;
        font-size: 37rem;
        line-height: 120%;
        background: linear-gradient(90deg, #FFC500 0%, #C21500 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .titleBox>p {
        font-weight: 500;
        font-size: 16rem;
        line-height: 120%;
        color: #FFFFFF;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .prodcuts {
        width: 340rem;
        margin: 0 auto 50rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .prodcuts01 {
        width: 240rem;
        height: 180rem;
        padding: 5rem 10rem 0;
    }

    .prodcuts01>h1 {
        font-weight: 500;
        font-size: 18rem;
        color: #fff;
        line-height: 120%;
    }

    .prodcuts02 {
        width: 240rem;
        height: 150rem;
        padding: 10rem 10rem 0;
    }

    .prodcuts02>p {
        margin-top: 15rem;
        font-weight: 500;
        font-size: 12rem;
        line-height: 120%;
        color: #D8D8D8;
    }

    .prodcuts03 {
        width: 240rem;
        height: 130rem;
        font-weight: 600;
        font-size: 30rem;
        color: rgba(255, 255, 255, 0.8);
        text-align: center;
        line-height: 130rem;
    }

    .prodcuts04 {
        width: 240rem;
        height: 300rem;
        padding: 20rem 15rem 0;
    }

    .prodcuts04>h1 {
        font-weight: 500;
        font-size: 20rem;
        line-height: 120%;
        background: linear-gradient(270deg, #C31801 0%, #FFC301 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin: 0;
    }

    .prodcuts04>p {
        font-weight: 500;
        font-size: 14rem;
        line-height: 120%;
        color: #FFFFFF;
    }

    .prodcuts05 {
        width: 240rem;
        height: 330rem;
        padding: 270rem 5rem 0rem;
    }

    .prodcuts05>span {
        display: block;
        font-weight: 500;
        font-size: 12rem;
        line-height: 120%;
        color: #D8D8D8;
    }

    .prodcuts05>p {
        font-weight: 500;
        font-size: 12rem;
        margin-bottom: 0rem;
        line-height: 120%;
        color: #FFFFFF;
    }

    .prodcuts06 {
        width: 240rem;
        height: 350rem;
        padding: 30rem 20rem 0;
    }

    .prodcuts06>h1 {
        font-weight: 500;
        font-size: 28rem;
        line-height: 120%;
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0;
    }

    .prodcuts06>p {
        font-weight: 500;
        font-size: 16rem;
        line-height: 120%;
        color: #FFFFFF;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .productsUl {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .productsUl>li {
        width: 240rem;
        height: 150rem;
        padding: 15rem 10rem 0;
    }

    .productsUl>li>h1 {
        font-weight: 500;
        font-size: 22rem;
        line-height: 120%;
        color: #FFFFFF;
        margin: 0;
        flex: none;
        order: 0;
    }

    .productsUl>li>.titleMinP {
        font-weight: 500;
        font-size: 14rem;
        line-height: 120%;
        color: #FFFFFF;
        flex: none;
        order: 1;
        flex-grow: 0;
        margin-bottom: 35rem;
    }

    .title_p {
        margin: 0;
        font-weight: 500;
        font-size: 14rem;
        line-height: 120%;
        color: rgba(255, 255, 255, 0.8);
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .moreP {
        font-size: 14rem;
        line-height: 120%;
        color: rgba(255, 255, 255, 0.8);
        width: 340rem;
        margin: 0 auto;
    }

    .tableBox {
        margin: 30rem auto 100rem;
        width: 340rem;
    }

    .tableBox td {
        text-align: left;
        height: 50rem;
        font-weight: 500;
        font-size: 14rem;
        color: rgba(255, 255, 255, 0.85);
        padding: 0;
        padding-left: 10rem;
    }

    .tabP {
        width: 330rem;
    }


    .embrace {
        position: absolute;
        left: 0;
        top: 40rem;
        width: 100%;
        color: #fff;
        font-style: normal;
        font-weight: 500;
        font-size: 18rem;
        text-align: center;
    }

    .risc_v {
        position: absolute;
        left: 0;
        top: 70rem;
        width: 100%;
        color: #fff;
        font-style: normal;
        font-weight: 500;
        text-align: center;
        font-size: 14rem;
        background: linear-gradient(93.08deg, #00FFC2 33.15%, #0066FF 101.47%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

    }

    .riscBg {
        margin: -50rem auto 0;
        width: 100%;
        height: 200rem;
        background: url(/static/pages/footerbg.png) no-repeat;
        background-size: 100%;
        position: relative;
    }
}