:root {
  --titan-content-max-width: 2560px;
  --titan-content-width: 1320px;
}

.titan_main {
  width: 100%;
  max-width: var(--titan-content-max-width);
  margin: 0 auto;
  background-color: #000000;
  overflow: hidden;
}

.titan_main>div {
  width: 90%;
  overflow: hidden;
  max-width: var(--titan-content-width);
  margin: 0 auto;
}

.title_module {
  background: url(/static/titan/titan-view-bg.webp) no-repeat;
  background-size: cover;
  background-size: 100% 100%;
}

.title_module>h2 {
  color: #F5B21B;
  text-align: center;
  font-family: Roboto;
  margin: 0;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.title_module>p {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  margin: 0;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  position: relative;
  z-index: 5;
}

.title_module>img {
  display: block;
  position: relative;
  z-index: 4;
}

.module_title {
  color: #FFF;
  text-align: center;
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.module_title2 {
  color: #FFF;
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.module_title3 {
  color: #000;
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
}

.chip_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chip_flex>img {
  border: 1px solid #4C4C4C;
}

.ghzs {
  color: #FFF;
  font-family: "Titillium Web";
  font-weight: 600;
  border: 1px solid #2CCEFB;
}

.ul_list {
  display: flex;
  flex-direction: column;
}

.ul_list>li {
  color: #FFF;
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  list-style: square inside;
}

.chip_support {
  border: 1px solid #4C4C4C;
  display: flex;
  align-items: center;
  justify-content: center;
}

.storage_content {
  border: 1px solid #4C4C4C;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.storage_content>div {
  width: 50%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.storage_content>div>img {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.ul_list2>li {
  padding-left: 1rem;
  list-style-image: url(/static/titan/li-img.webp);
}

.uefi_module {
  aspect-ratio: 1920/365;
  background: url(/static/titan/uefi-bg.webp) no-repeat;
  background-size: cover;
  background-position: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.module_styles {
  width: 100%;
  max-width: var(--titan-content-max-width);
  margin: 0 auto;
  overflow: hidden;
}

.content_width {
  width: 90%;
  margin: 0 auto;
  max-width: var(--titan-content-width);
}

.ml_bottom2 {
  margin-bottom: 0;
  color: #000;
}

.ul_list3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ul_list3>li {
  color: #000 !important;
}

.sourced_module,
.interface_module,
.usb_module,
.os_module {
  background-color: #000;
}

.os_module>img {
  display: block;
  max-width: var(--titan-content-width);
  width: 90%;
}

.power_module,
.upstream_module {
  background-color: #fff;
}

.upstream_module>p {
  color: #000;
}

.upstream_module>img {
  display: block;
}

.upstream_module>img:nth-of-type(2) {
  width: 90%;
  max-width: var(--titan-content-width);
}

.usb_module>img {
  display: block;
  margin: 0 auto;
}

.pcie_list {
  width: 90%;
  max-width: var(--titan-content-width);
  aspect-ratio: 1244/205;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.pcie_list>li {
  height: 100%;
  flex: 1;
  background-color: #fff;
}

.pcie_list>li:nth-of-type(1) {
  background: url(/static/titan/pcie-img1.webp) no-repeat;
  background-size: cover;
  background-position: 50%;
}

.pcie_list>li:nth-of-type(2) {
  background: url(/static/titan/pcie-img2.webp) no-repeat;
  background-size: cover;
  background-position: 50%;
}

.pcie_list>li:nth-of-type(3) {
  background: url(/static/titan/pcie-img3.webp) no-repeat;
  background-size: cover;
  background-position: 50%;
}

.windows_list {
  width: 90%;
  max-width: var(--titan-content-width);
  aspect-ratio: 118/32;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.windows_list>li {
  position: relative;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.windows_list>li:nth-of-type(1) {
  background: url(/static/titan/game-view.webp) no-repeat;
  background-size: cover;
  background-position: 50%;
}

.windows_list>li:nth-of-type(2) {
  background: url(/static/titan/work-view.webp) no-repeat;
  background-size: cover;
  background-position: 50%;
}

.windows_list>li>p {
  width: 100%;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(4px);
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  color: #fff;
  align-items: center;
  margin: 0;
}

.dk_ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: var(--titan-content-width);
  margin: 0 auto;
}

.dk_ul>li {
  width: 100%;
  border: 1px solid #CFCFCF;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dk_ul>li>div:nth-of-type(1) {
  background-color: #FFF;
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dk_ul>li>div:nth-of-type(2) {
  width: 75%;
}

.dk_ul>li>div>img {
  max-width: 80%;
  max-height: 80%;
}

.usb_module>.lang_img {
  width: 90%;
  max-width: var(--titan-content-width);
}

.power_module>img {
  display: block;
}

.power_list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.power_list>p {
  color: #000;
  text-align: center;
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 62px;
  border: 1px solid #000;
}

.rtos_list {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bmc_content {
  width: 90%;
  max-width: var(--titan-content-width);
  margin: 0 auto;
  justify-content: space-between;
}

.bmc_content>img {
  height: 100%;
}

.typec_img {
  display: block;
  margin: 0 auto;
}

.pc_list {
  width: 90%;
  max-width: var(--titan-content-width);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}

.pc_list>li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pc_list>li:nth-of-type(odd) {
  flex-direction: row-reverse;
}

.pc_list>li>img {
  width: 45%;
}

.pc_list>li>div {
  flex: 1;
}

.software_module {
  background: url(/static/titan/software-bg.webp) no-repeat;
  background-size: cover;
  background-position: 50%;
}

.software_list {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.software_list>li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.software_list>li>p {
  color: #000;
  text-align: center;
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.sourced_list>li {
  flex: 1;
}

.software_list>li>p {
  color: #fff;
}

.color_fff>li>p {
  color: #000 !important;
}

.fromBox {
  background-color: #000;
}

.titan_table tbody>tr>td {
  color: #fff;
}

@media screen and (min-width: 1440px) {
  .title_module {
    height: 850px;
  }

  .title_module>h2 {
    font-size: 76px;
    margin-top: 120px;
  }

  .title_module>p {
    font-size: 36px;
  }

  .title_module>img {
    margin: 80px auto;
    width: 1000px;
  }

  .ml_bottom {
    margin-bottom: 80px;
  }

  .ml_bt {
    margin-top: 100px;
  }

  .module_title {
    font-size: 56px;
  }

  .module_title2 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .module_title3 {
    font-size: 24px;
  }

  .chip_flex {
    gap: 35px;
  }

  .chip_flex>img {
    width: 590px;
    border-radius: 30px;
  }

  .ghzs {
    gap: 10px;
    font-size: 28px;
    border-radius: 70px;
    padding: 3px 15px;
  }

  .ul_list {
    gap: 5px;
    margin: 20px 0 40px;
    padding-left: 1rem;
  }

  .ul_list>li {
    font-size: 24px;
  }

  .chip_support {
    margin-top: 20px;
    border-radius: 30px;
    gap: 100px;
    padding: 25px 0;
  }

  .chip_support>div {
    width: 560px;
  }

  .chip_support>img {
    width: 430px;
  }

  .titan_main>.storage_module {
    margin: 100px auto;
  }

  .storage_content {
    border-radius: 30px;
    gap: 75px;
    height: 480px;
  }

  .storage_content>div>img {
    width: 80%;
  }

  .ul_list2 {
    gap: 25px;
  }

  .ul_list2>li {
    font-size: 28px;
  }

  .ul_list3 {
    gap: 12px 20px;
    width: 800px;
  }

  .os_module>img {
    margin: 100px auto;
  }

  .upstream_module>img {
    margin: 50px auto 100px;
  }

  .upstream_module>img:nth-of-type(1) {
    width: 400px;
  }

  .usb_module>img {
    margin: 0 auto;
    width: 1000px;
  }

  .pcie_list {
    margin: 50px auto;
    gap: 20px;
  }

  .pcie_list>li {
    padding: 25px;
    border-radius: 20px;
  }


  .windows_list {
    margin: 50px auto;
    gap: 20px;
  }

  .windows_list>li {
    border-radius: 20px;
  }

  .windows_list>li>p {
    padding: 10px;
  }

  .dk_ul {
    gap: 20px;
  }

  .dk_ul>li {
    height: 300px;
    border-radius: 30px;
  }

  .dk_ul>li>div:nth-of-type(2) {
    padding: 0 50px;
  }

  .usb_module>.lang_img {
    margin-bottom: 50px;
  }

  .power_module>img {
    margin: 50px auto;
    width: 350px;
  }

  .power_list {
    gap: 30px;
    margin-bottom: 100px;
  }

  .power_list>p {
    font-size: 36px;
    border-radius: 62px;
    padding: 4px 20px;
  }

  .rtos_list {
    gap: 30px;
  }

  .rtos_list>img {
    width: 300px;
  }

  .bmc_content {
    height: 400px;
  }

  .typec_img {
    width: 850px;
  }

  .pc_list {
    gap: 50px;
    margin: 0 auto 100px;
  }

  .pc_list>li {
    gap: 50px;
  }

  .software_list {
    gap: 40px;
    margin: 100px auto;
  }

  .software_list>li {
    gap: 18px;
  }

  .software_list>li>img {
    width: 220px;
  }

  .software_list>li>p {
    font-size: 24px;
  }

  .sourced_list {
    width: 1000px;
    gap: 150px;
  }

  .sourced_list>li>img {
    width: 150px;
  }

  .titan_table tbody>tr>td {
    padding: 25px 50px;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1000px) {
  .title_module {
    height: 600px;
  }

  .title_module>h2 {
    font-size: 50px;
    margin-top: 80px;
  }

  .title_module>p {
    font-size: 26px;
  }

  .title_module>img {
    margin: 50px auto;
    width: 800px;
  }

  .ml_bottom {
    margin-bottom: 80px;
  }

  .ml_bt {
    margin-top: 80px;
  }

  .module_title {
    font-size: 40px;
  }

  .module_title2 {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .module_title3 {
    font-size: 20px;
  }

  .chip_flex {
    gap: 25px;
  }

  .chip_flex>img {
    width: 400px;
    border-radius: 30px;
  }

  .ghzs {
    gap: 10px;
    font-size: 22px;
    border-radius: 70px;
    padding: 3px 15px;
  }

  .ul_list {
    gap: 5px;
    margin: 20px 0 40px;
    padding-left: 1rem;
  }

  .ul_list>li {
    font-size: 18px;
  }

  .chip_support {
    margin-top: 20px;
    border-radius: 30px;
    gap: 80px;
    padding: 25px 0;
  }

  .chip_support>div {
    width: 400px;
  }

  .chip_support>img {
    width: 430px;
  }

  .titan_main>.storage_module {
    margin: 60px auto;
  }

  .storage_content {
    border-radius: 30px;
    gap: 50px;
    height: 400px;
  }

  .storage_content>div>img {
    width: 80%;
  }

  .ul_list2 {
    gap: 20px;
  }

  .ul_list2>li {
    font-size: 22px;
  }

  .ul_list3 {
    gap: 12px 20px;
    width: 800px;
  }

  .uefi_module {
    height: 300px;
  }

  .os_module>img {
    margin: 60px auto;
  }

  .upstream_module>img {
    margin: 50px auto 60px;
  }

  .upstream_module>img:nth-of-type(1) {
    width: 300px;
  }

  .usb_module>img {
    margin: 0 auto;
    width: 800px;
  }

  .pcie_list {
    margin: 50px auto;
    gap: 20px;
  }

  .pcie_list>li {
    padding: 25px;
    border-radius: 20px;
  }

  .windows_list {
    margin: 50px auto;
    gap: 20px;
  }

  .windows_list>li {
    border-radius: 20px;
  }

  .windows_list>li>p {
    padding: 10px;
  }

  .dk_ul {
    gap: 20px;
  }

  .dk_ul>li {
    height: 250px;
    border-radius: 30px;
  }

  .dk_ul>li>div:nth-of-type(2) {
    padding: 0 50px;
  }

  .usb_module>.lang_img {
    margin-bottom: 50px;
  }

  .power_module>img {
    margin: 50px auto;
    width: 350px;
  }

  .power_list {
    gap: 30px;
    margin-bottom: 50px;
  }

  .power_list>p {
    font-size: 28px;
    border-radius: 62px;
    padding: 4px 20px;
  }

  .rtos_list {
    gap: 30px;
  }

  .rtos_list>img {
    width: 300px;
  }

  .bmc_content {
    height: 350px;
  }

  .typec_img {
    width: 800px;
  }

  .pc_list {
    gap: 50px;
    margin: 0 auto 50px;
  }

  .pc_list>li {
    gap: 50px;
  }

  .software_list {
    gap: 40px;
    margin: 50px auto;
  }

  .software_list>li {
    gap: 18px;
  }

  .software_list>li>img {
    width: 200px;
  }

  .software_list>li>p {
    font-size: 24px;
  }

  .sourced_list {
    width: 90%;
  }

  .sourced_list>li>img {
    width: 120px;
  }

  .titan_table tbody>tr>td {
    padding: 25px 50px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 750px) {
  .title_module {
    height: 600px;
  }

  .title_module>h2 {
    font-size: 40px;
    margin-top: 50px;
  }

  .title_module>p {
    font-size: 26px;
  }

  .title_module>img {
    margin: 50px auto;
    width: 800px;
  }

  .ml_bottom {
    margin-bottom: 50px;
  }

  .ml_bt {
    margin-top: 50px;
  }

  .module_title {
    font-size: 30px;
  }

  .module_title2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .module_title3 {
    font-size: 16px;
  }

  .chip_flex {
    gap: 15px;
  }

  .chip_flex>img {
    width: 400px;
    border-radius: 30px;
  }

  .ghzs {
    gap: 10px;
    font-size: 18px;
    border-radius: 70px;
    padding: 3px 15px;
  }

  .ul_list {
    gap: 5px;
    margin: 20px 0 40px;
    padding-left: 1rem;
  }

  .ul_list>li {
    font-size: 16px;
  }

  .chip_support {
    margin-top: 20px;
    border-radius: 30px;
    gap: 20px;
    padding: 25px 0;
  }

  .chip_support>div {
    width: 250px;
  }

  .chip_support>img {
    width: 350px;
  }

  .titan_main>.storage_module {
    margin: 50px auto;
  }

  .storage_content {
    border-radius: 30px;
    gap: 10px;
    height: 300px;
  }

  .storage_content>div>img {
    width: 80%;
  }

  .ul_list2 {
    gap: 20px;
  }

  .ul_list2>li {
    font-size: 18px;
  }

  .ul_list3 {
    gap: 12px 20px;
    width: 600px;
  }

  .uefi_module {
    height: 250px;
  }

  .os_module>img {
    margin: 50px auto;
  }

  .upstream_module>img {
    margin: 50px auto 60px;
  }

  .upstream_module>img:nth-of-type(1) {
    width: 300px;
  }

  .usb_module>img {
    margin: 0 auto;
    width: 90%;
  }

  .pcie_list {
    margin: 50px auto;
    gap: 20px;
  }

  .pcie_list>li {
    padding: 10px;
    border-radius: 20px;
  }

  .windows_list {
    margin: 50px auto;
    gap: 20px;
  }

  .windows_list>li {
    border-radius: 20px;
  }

  .windows_list>li>p {
    padding: 10px;
  }

  .dk_ul {
    gap: 20px;
  }

  .dk_ul>li {
    height: 200px;
    border-radius: 30px;
  }

  .dk_ul>li>div:nth-of-type(2) {
    padding: 0 50px;
  }

  .usb_module>.lang_img {
    margin-bottom: 50px;
  }

  .power_module>img {
    margin: 50px auto;
    width: 320px;
  }

  .power_list {
    gap: 30px;
    margin-bottom: 50px;
  }

  .power_list>p {
    font-size: 28px;
    border-radius: 62px;
    padding: 4px 20px;
  }

  .rtos_list {
    gap: 30px;
  }

  .rtos_list>img {
    width: 200px;
  }

  .bmc_content {
    height: 250px;
  }

  .typec_img {
    width: 90%;
  }

  .pc_list {
    gap: 50px;
    margin: 0 auto 50px;
  }

  .pc_list>li {
    gap: 50px;
  }

  .software_list {
    gap: 40px;
    margin: 50px auto;
  }

  .software_list>li {
    gap: 18px;
  }

  .software_list>li>img {
    width: 200px;
  }

  .software_list>li>p {
    font-size: 16px;
  }

  .sourced_list {
    width: 60%;
  }

  .sourced_list>li>img {
    width: 100px;
  }

  .titan_table tbody>tr>td {
    padding: 15px;
  }
}

@media screen and (max-width: 750px) {
  .title_module {
    height: 360rem;
  }

  .title_module>h2 {
    font-size: 30rem;
    margin-top: 40rem;
  }

  .title_module>p {
    font-size: 20rem;
  }

  .title_module>img {
    margin: 50rem auto;
    width: 90%;
  }

  .ml_bottom {
    margin-bottom: 30rem;
  }

  .ml_bt {
    margin-top: 30rem;
  }

  .module_title {
    font-size: 24rem;
  }

  .module_title2 {
    font-size: 20rem;
    margin-bottom: 10rem;
  }

  .module_title3 {
    font-size: 14rem;
  }

  .chip_flex {
    flex-direction: column-reverse;
    gap: 10rem;
  }

  .chip_flex>img {
    width: 400rem;
    border-radius: 20rem;
  }

  .ghzs {
    gap: 10rem;
    font-size: 18rem;
    border-radius: 70rem;
    padding: 3rem 15rem;
  }

  .ul_list {
    gap: 5rem;
    margin: 10rem;
    padding-left: 1rem;
  }

  .ul_list>li {
    font-size: 16rem;
  }

  .chip_support {
    margin-top: 20rem;
    border-radius: 20rem;
    gap: 20rem;
    padding: 25rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .chip_support>div {
    width: 250rem;
  }

  .chip_support>img {
    display: block;
    width: 90%;
  }

  .titan_main>.storage_module {
    margin: 30rem auto;
  }

  .storage_content {
    flex-direction: column;
    border-radius: 20rem;
    gap: 10rem;
  }

  .storage_content>div,
  .storage_content>div>img {
    width: 100%;
  }

  .uefi_module {
    background-position: 75%;
  }

  .ul_list2 {
    gap: 20rem;
  }

  .ul_list2>li {
    font-size: 16rem;
  }

  .ul_list3 {
    grid-template-columns: 1fr;
    gap: 10rem;
  }

  .uefi_module {
    height: 250rem;
  }

  .os_module>img {
    margin: 30rem auto;
  }

  .upstream_module>img {
    margin: 30rem auto;
  }

  .upstream_module>img:nth-of-type(1) {
    width: 250rem;
  }

  .usb_module>img {
    margin: 0 auto;
    width: 90%;
  }

  .pcie_list {
    flex-direction: column;
    margin: 50rem auto;
    gap: 20rem;
    height: 580px;
  }

  .pcie_list>li {
    width: 100%;
    padding: 10rem;
    border-radius: 20rem;
  }

  .windows_list {
    flex-direction: column;
    margin: 50rem auto;
    gap: 20rem;
    height: 450px;
  }

  .windows_list>li {
    width: 100%;
    border-radius: 20rem;
  }

  .windows_list>li>p {
    padding: 10rem;
    font-size: 14rem;
  }

  .dk_ul {
    padding: 0;
    width: 95%;
    gap: 10rem;
  }

  .dk_ul>li {
    height: 200rem;
    border-radius: 20rem;
  }

  .dk_ul>li>div:nth-of-type(2) {
    padding: 0 20rem;
  }

  .usb_module>.lang_img {
    margin-bottom: 20rem;
  }

  .power_module>img {
    margin: 30rem auto;
    width: 260rem;
  }

  .power_list {
    gap: 20rem;
    margin-bottom: 50rem;
  }

  .power_list>p {
    font-size: 18rem;
    border-radius: 60rem;
    padding: 4rem 10rem;
  }

  .rtos_list {
    gap: 10rem;
    flex-direction: column;
  }

  .rtos_list>img {
    width: 200rem;
  }

  .bmc_content {
    flex-direction: column-reverse;
    height: 400rem;
  }

  .typec_img {
    width: 90%;
  }

  .pc_list {
    gap: 30rem;
    margin: 0 auto 30rem;
  }

  .pc_list>li {
    flex-direction: column !important;
    gap: 30rem;
  }

  .pc_list>li>img {
    width: 100%;
  }

  .software_module {
    background-position: 85%;
  }

  .software_list {
    gap: 40rem;
    margin: 50rem auto;
  }

  .software_list>li {
    gap: 18rem;
  }

  .software_list>li>img {
    width: 160rem;
  }

  .software_list>li>p {
    font-size: 16rem;
  }

  .sourced_list {
    width: 60%;
    align-items: flex-start;
  }

  .sourced_list>li>img {
    width: 100rem;
  }

  .titan_table tbody>tr>td {
    padding: 15rem;
  }
}