.popBox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
}

.popUp {
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: center;
}

.popUp>div {
    background: url(/static/form/popup-img.webp) no-repeat;
    background-size: contain;
}

.popUp>div>p {
    font-weight: 500;
    line-height: 120%;
    text-align: center;
    color: #fff;
    margin: 0;
}

.popUp>div>.lineText {
    background: linear-gradient(93.08deg, #00FFC2 33.15%, #0066FF 101.47%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.clearBtn {
    position: absolute;
    cursor: pointer;
}

.subscribeText>h1 {
    font-weight: 600;
    line-height: 120%;
    color: #000000;
}

.subscribeBtn {
    transition: .5s;
    cursor: not-allowed;
}

.subscribeEmail {
    font-weight: 400;
    color: #666666;
    outline: none;
}

.subscribeEmail:focus {
    border-color: #666666;
}

.subscribeEmail::placeholder {
    text-align: center;
}

@media screen and (min-width: 1100px) {

    .popUp {
        width: 1050px;
        height: 330px;
    }

    .popUp>div {
        width: 530px;
        height: 250px;
        padding-top: 40px;
    }

    .popUp>div>p {
        font-size: 24px;
        line-height: 120%;
    }

    .popUp>div>.lineText {
        font-size: 26px;
    }

    .clearBtn {
        width: 40px;
        height: 40px;
        top: 10px;
        right: 10px;
    }

    .validate {
        width: 360px;
        height: 250px;
        margin-left: 75px;
    }

    .subscribeText>h1 {
        font-size: 30px;
        margin-bottom: 40px;
    }

    .subscribeEmail,
    .subscribeBtn {
        width: 100%;
        font-size: 16px;
        height: 44px;
    }

    .subscribeEmail {
        margin-bottom: 20px;
        padding-left: 10px;
    }

}

@media screen and (max-width: 1100px) and (min-width: 750px) {
    .popUp {
        width: 735px;
        height: 231px;
    }

    .popUp>div {
        width: 371px;
        height: 175px;
        padding-top: 28px;
    }

    .popUp>div>p {
        font-size: 18px;
        line-height: 120%;
    }

    .popUp>div>.lineText {
        font-size: 20px;
    }

    .clearBtn {
        width: 28px;
        height: 28px;
        top: 7px;
        right: 7px;
    }

    .validate {
        width: 252px;
        height: 175px;
        margin-left: 50px;
    }

    .subscribeText>h1 {
        font-size: 24px;
        margin-bottom: 28px;
    }

    .subscribeEmail,
    .subscribeBtn {
        width: 100%;
        font-size: 15px;
        height: 38px;
    }

    .subscribeEmail {
        margin-bottom: 15px;
        padding-left: 10px;
    }
}

@media screen and (max-width: 750px) {
    .popUp {
        width: 350rem;
        height: 231rem;
    }

    .popUp>div {
        display: none;
    }

    .clearBtn {
        width: 28rem;
        height: 28rem;
        top: 7rem;
        right: 7rem;
    }

    .validate {
        width: 252rem;
        height: 175rem;
        margin-left: 50rem;
    }

    .subscribeText>h1 {
        font-size: 24rem;
        margin-bottom: 28rem;
    }

    .subscribeEmail,
    .subscribeBtn {
        width: 100%;
        font-size: 15rem;
        height: 38rem;
    }

    .subscribeEmail {
        margin-bottom: 15rem;
        padding-left: 10rem;
    }
}