* {
   margin: 0;
   padding: 0;
}

.box {
   width: 100%;
   height: 3.75rem;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 999;
}

.box>.headerLogo {
   display: block;
   width: 5.625rem;
   height: 1.625rem;
   margin: 1.0625rem 0 1.0625rem 19.9375rem;
   background: url(/static/img/ICON.svg) no-repeat;
   background-size: 100%;
}

.select1 {
   position: absolute;
   top: 0;
   left: 75.8125rem;
}

.buy {
   color: #fff;
   width: 13.9375rem;
   height: 4.9375rem;
   border-radius: 3.5938rem;
   border: .125rem solid #fff;
   display: flex;
   justify-content: center;
   align-content: center;
   line-height: 4.9375rem;
   font-size: 2.3625rem;
   margin: 3.75rem auto 1.125rem;
   position: relative;
   cursor: pointer;
}

.buy:hover {
   background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%),
      linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

.buyText {
   line-height: 4.9375rem;
}

.right {
   background: url(/static/img/arrow-right.svg) no-repeat;
   background-size: 100%;
   position: absolute;
   left: 9.5938rem;
   top: .75rem;
}

.select2 {
   position: absolute;
   top: 0;
   left: 82.1563rem;
}

.sele1 {
   color: #2D88C9;
   border: none;
   outline: none;
   font-size: 1.125rem;
   text-align: left;
   width: 5.875rem;
   height: 3.75rem;
}

.sele {
   color: #2D88C9;
   border: none;
   outline: none;
   font-size: 1.125rem;
   text-align: left;
   width: 7.0625rem;
   height: 3.75rem;
}

.item {
   font-size: 1.125rem;
}

.btn {
   background-color: #2D88C9;
   color: #fff;
   font-size: 1.125rem;
   padding: 0 .3125rem;
   border-radius: .3125rem;
   cursor: pointer;
}

.Logo {
   background: url(/static/img/ICON.svg) no-repeat;
   background-size: 100%;
   position: absolute;
   top: 5.5rem;
   left: 17.8125rem;
   width: 19.9375rem;
   height: 5.8125rem;
}

.chian {
   width: 39.3125rem;
   height: 5.75rem;
   border: .0938rem solid #2D88C9;
   position: absolute;
   top: 16.625rem;
   left: 8.125rem;
   cursor: pointer;
   color: #2D88C9;
   background-color: #fff;
}

.chian>.img {
   width: 4.5rem;
   height: 4.5rem;
   position: absolute;
   top: .585rem;
   left: .9375rem;
   background: url(/static/img/china.svg) no-repeat;
   background-size: 100%;
}

.other>.img {
   width: 4.5rem;
   height: 4.5rem;
   position: absolute;
   top: .585rem;
   left: .9375rem;
   background: url(/static/img/other.svg) no-repeat;
   background-size: 100%;
}

.chian>.text {
   width: 30.4375rem;
   height: 5.75rem;
   line-height: 5.75rem;
   position: absolute;
   top: 0;
   left: 6.25rem;
   font-size: 1.625rem;
   font-weight: 500;
}

.other>.text {
   width: 30.4375rem;
   height: 5.75rem;
   line-height: 5.75rem;
   position: absolute;
   top: 0;
   left: 6.25rem;
   font-size: 1.625rem;
   font-weight: 500;

}

.right_text {
   width: 2.625rem;
   height: 2.625rem;
   line-height: 2.625rem;
   position: absolute;
   right: .9375rem;
   top: 1.5625rem;
   font-size: 1.625rem;
   background: url(/static/img/icon_more-right.svg) no-repeat;
   background-size: 100%;
}



.other {
   width: 39.3125rem;
   height: 5.75rem;
   border: .0938rem solid #2D88C9;
   position: absolute;
   top: 23.625rem;
   cursor: pointer;
   left: 8.125rem;
   color: #2D88C9;
   background-color: #ccc;
}

/* .other:hover {
   background-color: #2D88C9;
   color: #fff;
} */
.coming {
   position: absolute;
   width: 7.8712rem;
   height: 8.2656rem;
   left: 27.0512rem;
   top: -0.8981rem;
   background: url(/static/img/COMINGSOON.svg) no-repeat;
   background-size: 100%;
}

.chian:hover {
   background-color: #2D88C9;
   color: #fff;
}

.chian:hover .right_text {
   background: url(/static/img/icon_more-right_white.svg) no-repeat;
}

.close {
   width: 3rem;
   height: 3rem;
   background: url(/static/img/x-circle.svg) no-repeat;
   background-size: 100%;
   margin-left: -2.375rem;
}

.login {
   width: 6.9063rem;
   height: 6.9063rem;
   position: fixed;
   right: 2rem;
   bottom: 2rem;
   cursor: pointer;
   color: #fff;
}

.login:hover {
   color: #01E7CC;
}

.Login_img {
   width: 4.5rem;
   height: 4.5rem;
   margin: 0 auto;
   background: url(/static/img/Frame4.svg) no-repeat;
   background-size: 100%;
}

.Login_p {
   height: 2.375rem;
   font-size: 1rem;
   text-align: center;
}

.login:hover .Login_img {
   background: url(/static/img/Frame3.svg) no-repeat;
   background-size: 100%;
}