.nx-display {
  flex-direction: row !important;
}

.nx-display>div {
  height: 100%;
}

.nx-display>div:nth-of-type(1)>img {
  width: 70%;
  display: block;
  margin: 10px auto;
}

.nx-display>div:nth-of-type(2)>img {
  width: 70%;
  display: block;
  margin: 50px auto;
}

.nx-flex>div:nth-of-type(1) {
  background-image: none !important;
}

.item-list-industrial {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 30px 0 !important;
}

.item-list-industrial>li {
  border-radius: 15px;
  border: 1px solid #37DDBB;
  background: rgba(55, 221, 187, 0.15);
  color: #37DDBB;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding: 8px 10px;
}

.nx-flex>div:nth-of-type(2) {
  background-image: url("/static/jupiter2-nx/front-view.webp");
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: 90% 90%;
}

.nx-flex {
  height: 380px;
}

.work-with {
  height: 300px;
  background-image: url("/static/jupiter2-nx/work-with-c200.webp");
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: 100% 50%;
}

.vs>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vs-chat {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.vs-chat>p {
  color: #DFDFDF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  display: flex;
  align-items: center;
  gap: 7px;
}

.vs-chat>p>span {
  width: 25px;
  height: 25px;
  display: block;
}

.vs-chat>p:nth-of-type(1)>span {
  background: #525252;
}

.vs-chat>p:nth-of-type(2)>span {
  background: linear-gradient(180deg, #37DDBB -0.33%, #6EAFFC 100.35%);
}

.vs>img {
  display: block;
  margin: 20px auto;
}

@media screen and (max-width: 1450px) and (min-width: 1050px) {
  .nx-flex {
    height: 280px;
  }

  .work-with {
    height: 230px;
  }

  .item-list-industrial>li {
    font-size: 20px;
  }

  .nx-display {
    height: 300px;
  }
}

@media screen and (max-width: 1050px) and (min-width: 750px) {
  .nx-flex {
    height: 230px;
  }

  .work-with {
    height: 150px;
  }

  .item-list-industrial>li {
    font-size: 14px;
  }

  .nx-display {
    height: 0px;
  }

  .vs-chat>p {
    font-size: 12px;
  }

  .vs-chat>p>span {
    width: 15px;
    height: 15px;
  }
}

@media screen and (max-width: 750px) {
  .nx-flex {
    flex-direction: column;
    height: auto;
  }

  .nx-flex>div:nth-of-type(2) {
    height: 200rem;
    width: 100%;
    flex: auto;
  }

  .work-with {
    height: 160rem;
    background-size: 90%;
    background-position: 350% 200%;
  }

  .item-list-industrial {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }

  .item-list-industrial>li {
    font-size: 10rem;
  }

  .nx-display {
    height: auto !important;
    flex-direction: column !important;
  }

  .vs>div {
    flex-direction: column;
  }


  .vs-chat>p {
    font-size: 10rem;
  }

  .vs-chat>p>span {
    width: 10rem;
    height: 10rem;
  }
}