.home_header {
    width: 100%;
    aspect-ratio: 1920/600;
    background: url(/static/home/home-header-contexts.webp) no-repeat;
    background-size: cover;
    position: relative;
}

.header_title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.header_title>h1 {
    color: #FFF;
    font-family: Condensed;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 3.2px;
    margin: 0;
}

.button_use {
    display: flex;
    align-items: center;
}

.docs_a,
.button_use>a,
.learnMore_use>a,
.buy_button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    white-space: nowrap;
    border: 1px solid;
    list-style: none;
    text-decoration: none;
    transition: .3s;
    cursor: pointer;
}

.docs_a,
.button_use>a {
    border-color: #fff;
    color: #FFF;
}

.docs_a {
    margin-right: 0;
}

.docs_a:hover {
    text-decoration: none;
    background-color: #FFF;
}

.learnMore_use>a {
    color: #000000;
    border-color: #000;
    margin-right: 0px;
}

.buy_button {
    color: #2D88C9;
    border: none;
}


.button_use>a:hover {
    background-color: #2D88C9;
    border-color: #2D88C9;
}

.learnMore_use>a:hover {
    color: #fff;
    background-color: #2D88C9;
    border-color: #2D88C9;

}

.black_shore {
    width: 100%;
    background-color: #151515;
    overflow: hidden;
}

.tab {
    padding: 0;
    display: flex;
    align-items: center;
    text-align: center;
}

.tab>li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    cursor: pointer;
}

.tab>li>p {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    color: #767676;
    text-transform: capitalize;
    margin: 0;
    position: relative;
}

.tab>li>p:hover {
    color: #fff !important;
}

.index>p {
    color: #fff !important;
}

.index>p::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 100%;
    height: 2px;
    background-color: #2D88C9;
}

.info_module {
    position: relative;
    overflow: hidden;
}

.main_module {
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view_mian {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right>div {
    width: 50%;
    height: 100%;
}

.right_text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.right_text>h2 {
    color: #333;
    font-family: Roboto Flex;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.48px;
}

.right_text>p {
    color: #818181;
    font-family: Roboto Flex;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.48px;
    text-align: center;
}

.right_text>.learnMore_use>.buy_button {
    margin: 0;
}

.left>h2 {
    color: #000;
    text-align: center;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 2.4px;
    margin-bottom: 0;
}

.left>p {
    color: #000;
    text-align: center;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 2.4px;
}

.view_mian>div {
    background-color: #f2f2f2;
    height: 100%;
    border-radius: 20px;
}

.main_module>div {
    width: 50%;
    height: 100%;
}

.left_title {
    text-align: center;
}

.left_title>h2 {
    color: #181818;
    text-align: center;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 2.4px;
}

.left_title>p {
    color: #818181;
    text-align: center;
    font-family: Roboto Flex;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.48px;
    margin: 0;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.learnMore_use {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right_img {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right_img>img {
    height: 100%;
}

.docs_link {
    background-color: #2d88c9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
}

.docs_link>img {
    height: 100%;
}

.docs_info {
    width: 60%;
}

.docs_info>h2 {
    color: #FFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.docs_info>p {
    color: rgba(255, 255, 255, 0.90);
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin-bottom: 0;
}

.vis_link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #818181;
    font-weight: lighter;
}

.vis_link>p {
    border-radius: 10px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #000;
    text-align: center;
    font-family: Roboto Flex;
    font-style: normal;
    font-weight: 400;
    /* 177.778% */
    letter-spacing: 0.48px;
    white-space: nowrap;
}

.left_title>h3 {
    color: #000;
    text-align: center;
    font-family: Roboto Flex;
    font-style: normal;
    font-weight: 400;
}

.chips_list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chips_list>li {
    width: 33.3%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.chips_list>li>a {
    color: #2D88C9;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.right_line {
    position: relative;
}

.right_line::after {
    content: '';
    position: absolute;
    right: 0%;
    top: 45%;
    transform: translateY(-50%);
    height: 100%;
    width: 1px;
    background-color: #B1B1B1;
}

.chips_list>li>img {
    cursor: pointer;
}

.chips_title {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    color: #111;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 3.2px;
}

.chips_learn {
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #111;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 50px;
    border: 1px solid #111;
    transition: .3s;
    white-space: nowrap;
}

.chips_learn:hover {
    color: #fff;
    background-color: #2D88C9;
    border-color: #2D88C9;
    text-decoration: none;
}

.new_products {
    border-radius: 20px;
    background-color: #2D88C9;
    overflow: hidden;
}

.new_products>p {
    color: #FFF;
    font-family: Roboto2;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.new_products>ol {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.new_products>ol>li {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
}

.new_products>ol>li>img {
    width: 100%;
}

.new_products>ol>li>p {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.new_products>ol>li>a {
    display: flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #000;
}

.titan_content {
    background: url(/static/home/banner-titan.webp) no-repeat;
    background-size: 100%;
    background-position: center;
    aspect-ratio: 1440/360;
}

.titan_left {
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titan_left>h2 {
    margin-bottom: 0 !important;
}


.titan_left>.titan_text {
    color: #FFF !important;
    text-align: center;
    font-family: "Titillium Web";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    height: auto;
    margin: 0;
    margin: 20px 0;
}

.titan_more>a {
    color: #fff !important;
    border-color: #fff !important;
}

@media screen and (min-width: 1950px) {
    .header_title {
        width: 1920px;
    }

    .header_title>h1 {
        font-size: 71px;
    }

    .button_use {
        margin: 100px 0;
    }

    .docs_a,
    .button_use>a,
    .learnMore_use>a,
    .buy_button {
        width: 200px;
        height: 58px;
        padding: 5px 75.5px;
        margin-right: 50px;
    }

    .tab {
        width: 1300px;
        height: 50px;
        margin: 50px auto;
    }

    .tab>li>p {
        font-size: 26px;
        padding: 10px 0;
    }

    .info_module {
        width: 1920px;
        margin: 40px auto;
    }

    .main_module {
        height: 740px;
        margin-bottom: 40px;
    }

    .view_mian {
        height: 646px;
        margin-bottom: 40px;
    }

    .left {
        width: 646px;
    }

    .right {
        width: 1234px;
    }

    .right_text {
        padding: 30px;
    }

    .right_text>h2 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .right_text>p {
        font-size: 22px;
        margin: 30px 0 70px;
    }

    .right_text>.learnMore_use>a {
        width: 150px;
        height: 45px;
    }

    .left>h2 {
        font-size: 53px;
    }

    .left>p {
        font-size: 30px;
    }

    .left_title {
        padding: 170px;
    }

    .left_title>h2 {
        font-size: 53px;
        margin-bottom: 40px;
    }

    .left_title>p {
        font-size: 23px;
        margin-bottom: 100px;
        height: 160px;
    }

    .docs_link {
        width: 1920px;
        height: 310px;
        padding: 20px 150px;
        margin: 150px auto;
    }

    .docs_info>h2 {
        font-size: 48px;
        margin-bottom: 20px;
    }

    .docs_info>p {
        font-size: 24px;
        margin-bottom: 0;
    }

    .vis_link {
        margin: 0px 0 40px;
        font-size: 32px;
    }

    .vis_link>p {
        width: 120px;
        height: 30px;
        padding: 10px;
        font-size: 18px;
        margin: 10px 10px 0;
    }

    .left_title>h3 {
        margin-top: -10px;
        margin-bottom: 5px;
        font-size: 18px;
    }

    .left_title>.duo_info_p {
        margin-bottom: 20px;
    }

    .chips_list {
        width: 1350px;
    }

    .chips_list>li>img {
        width: 230px;
    }

    .chips_list>li>a {
        font-size: 22px;
        margin-top: 50px;
    }

    .chips_title {
        font-size: 48px;
    }

    .chips_learn {
        width: 188px;
        height: 58px;
        padding: 5px 45px;
        gap: 10px;
        font-size: 18px;
    }

    .new_products {
        width: 1920px;
        margin: 60px auto;
        padding: 0 45px;
    }

    .new_products>p {
        font-size: 38px;
        margin: 50px 0;
    }

    .new_products>ol {
        gap: 35px;
        margin-bottom: 50px;
    }

    .new_products>ol>li {
        padding: 30px 0;
    }

    .new_products>ol>li>p {
        font-size: 28px;
        margin: 10px 0 30px;
    }

    .new_products>ol>li>a {
        width: 142px;
        height: 38px;
        padding: 5px 45px;
        gap: 10px;
    }
}

@media screen and (max-width: 1950px) and (min-width: 1450px) {
    .header_title {
        width: calc(1920px*.7);
    }

    .header_title>h1 {
        font-size: 48px;
        line-height: 150%;
    }

    .button_use {
        margin: 50px 0;
    }

    .docs_a,
    .button_use>a,
    .learnMore_use>a,
    .buy_button {
        width: 180px;
        height: 50px;
        padding: 5px 75px;
        margin-right: 0px;
    }

    .tab {
        width: calc(1300px*.7);
        height: 50px;
        margin: 40px auto;
    }

    .tab>li>p {
        font-size: 26px;
        padding: 10px 0;
    }

    .info_module {
        width: calc(1920px*.7);
        margin: 40px auto;
    }

    .main_module {
        height: calc(740px*.7);
        margin-bottom: 28px;
    }

    .view_mian {
        height: calc(646px*.7);
        margin-bottom: 28px;
    }

    .left {
        width: calc(646px*.7);
    }

    .right {
        width: calc(1234px*.7);
    }

    .right_text {
        padding: 30px;
    }

    .right_text>h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .right_text>p {
        font-size: 22px;
        margin: 30px 0 70px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }

    .right_text>.learnMore_use>a {
        width: 150px;
        height: 45px;
    }

    .left>h2 {
        font-size: 42px;
    }

    .left>p {
        font-size: 26px;
    }

    .left_title {
        padding: 80px;
    }

    .left_title>h2 {
        font-size: 53px;
        margin-bottom: 40px;
    }

    .left_title>p {
        font-size: 23px;
        margin-bottom: 40px;
        height: 160px;
    }

    .docs_link {
        width: calc(1920px*.7);
        height: calc(310px*.7);
        padding: 20px 100px;
        margin: 100px auto;
    }

    .docs_info>h2 {
        font-size: 36px;
        margin-bottom: 0px;
    }

    .docs_info>p {
        font-size: 20px;
        margin-bottom: 0;
    }

    .button_use>a {
        margin-right: 50px;
    }

    .vis_link {
        margin: 0px 0 20px;
        font-size: 24px;
    }

    .vis_link>p {
        width: 100px;
        height: 30px;
        padding: 10px;
        font-size: 16px;
        margin: 5px 10px 0;
    }

    .left_title>h3 {
        margin-top: -10px;
        margin-bottom: 5px;
        font-size: 18px;
    }

    .left_title>.duo_info_p {
        margin-bottom: 20px;
    }

    .chips_list {
        width: calc(1350px*.8);
    }

    .chips_list>li>img {
        width: 170px;
    }

    .chips_list>li>a {
        font-size: 20px;
        margin-top: 40px;
    }

    .chips_title {
        font-size: 32px;
        top: 5%;
    }

    .chips_learn {
        width: 165px;
        height: 50px;
        padding: 5px 45px;
        gap: 10px;
        font-size: 18px;
        bottom: 12%;
    }

    .new_products {
        width: calc(1920px*.7);
        margin: 60px auto;
        padding: 0 45px;
    }

    .new_products>p {
        font-size: 30px;
        margin: 40px 0;
    }

    .new_products>ol {
        gap: 25px;
        margin-bottom: 40px;
    }

    .new_products>ol>li {
        padding: 20px 0;
    }

    .new_products>ol>li>p {
        font-size: 24px;
        margin: 10px 0 30px;
    }

    .new_products>ol>li>a {
        width: 142px;
        height: 38px;
        padding: 5px 45px;
        gap: 10px;
    }
}

@media screen and (max-width: 1450px) and (min-width: 1000px) {
    .header_title {
        width: calc(1920px*.7*.7);
    }

    .header_title>h1 {
        font-size: 40px;
        line-height: 150%;
    }

    .button_use {
        margin: 40px 0;
    }

    .button_use>a,
    .docs_a,
    .learnMore_use>a,
    .buy_button {
        width: 160px;
        height: 45px;
    }

    .button_use>a {
        margin-right: 10px;
    }

    .tab {
        width: 750px;
        height: 40px;
        margin: 30px auto;
    }

    .tab>li>p {
        font-size: 22px;
        padding: 10px 0;
    }

    .info_module {
        width: calc(1920px*.7*.7);
        margin: 40px auto;
    }

    .main_module {
        height: calc(740px*.7*.7);
        margin-bottom: 20px;
    }

    .view_mian {
        height: calc(646px*.7*.7);
        margin-bottom: 20px;
    }

    .left {
        width: calc(646px*.7*.7);
    }

    .right {
        width: calc(1234px*.7*.7);
    }

    .right_text {
        padding: 30px;
    }

    .right_text>h2 {
        font-size: 24px;
    }

    .right_text>p {
        font-size: 16px;
        margin: 0px 0 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }

    .right_text>.learnMore_use>a {
        width: 150px;
        height: 45px;
    }

    .left>h2 {
        font-size: 32px;
    }

    .left>p {
        font-size: 20px;
    }

    .left_title {
        padding: 30px;
    }

    .left_title>h2 {
        font-size: 38px;
        margin-bottom: 20px;
    }

    .left_title>p {
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 30px;
        height: 120px;
    }

    .docs_link {
        width: calc(1920px*.7*.7);
        height: calc(310px*.7*.7);
        padding: 20px 50px;
        margin: 50px auto;
    }

    .docs_info>h2 {
        font-size: 28px;
        margin-bottom: 0px;
    }

    .docs_info>p {
        font-size: 16px;
        margin-bottom: 0;
    }

    .vis_link {
        margin: 0px 0 20px;
        font-size: 20px;
    }

    .vis_link>p {
        width: 100px;
        height: 25px;
        font-size: 16px;
        margin: 5px 10px 0;
    }

    .left_title>h3 {
        margin-top: -10px;
        margin-bottom: 5px;
        font-size: 16px;
    }

    .left_title>.duo_info_p {
        margin-bottom: 0px !important;
    }

    .chips_list {
        width: calc(1350px*.6);
    }

    .chips_list>li>img {
        width: 140px;
    }

    .chips_list>li>a {
        font-size: 18px;
        margin-top: 30px;
    }

    .chips_title {
        font-size: 22px;
        top: 0%;
    }

    .chips_learn {
        width: 130px;
        height: 45px;
        padding: 5px 45px;
        gap: 10px;
        font-size: 16px;
        bottom: 10%;
    }

    .new_products {
        width: calc(1920px*.7*.7);
        margin: 60px auto;
        padding: 0 45px;
    }

    .new_products>p {
        font-size: 30px;
        margin: 40px 0;
    }

    .new_products>ol {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
        margin-bottom: 40px;
    }

    .new_products>ol>li {
        padding: 20px 0;
    }

    .new_products>ol>li>p {
        font-size: 24px;
        margin: 10px 0 30px;
    }

    .new_products>ol>li>a {
        width: 142px;
        height: 38px;
        padding: 5px 45px;
        gap: 10px;
    }

    .titan_left>.titan_text {
        font-size: 20px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 750px) {
    .header_title {
        width: calc(1920px*.7*.7*.75);
    }

    .header_title>h1 {
        font-size: 28px;
        line-height: 140%;
    }

    .button_use {
        margin: 20px 0;
    }

    .button_use>a,
    .docs_a,
    .learnMore_use>a,
    .buy_button {
        width: 120px;
        height: 35px;
        font-size: 12px;
    }

    .button_use>a {
        margin-right: 10px;
    }

    .tab {
        width: 650px;
        height: 30px;
        margin: 20px auto;
    }

    .tab>li>p {
        font-size: 16px;
        padding: 5px 0;
    }

    .info_module {
        width: calc(1920px*.7*.7*.75);
        margin: 30px auto;
    }

    .main_module {
        height: calc(740px*.7*.7*.75);
        margin-bottom: 15px;
    }

    .view_mian {
        height: calc(646px*.7*.7*.75);
        margin-bottom: 15px;
    }

    .left {
        width: calc(646px*.7*.7*.75);
    }

    .right {
        width: calc(1234px*.7*.7*.75);
    }

    .right_text {
        padding: 0px;
    }

    .right_text>h2 {
        font-size: 20px;
    }

    .right_text>p {
        font-size: 12px;
        margin: 0px 0 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }

    .right_text>.learnMore_use>a {
        width: 120px;
        height: 35px;
    }

    .left>h2 {
        font-size: 24px;
        line-height: 120%;
    }

    .left>p {
        font-size: 16px;
    }

    .left_title {
        padding: 30px;
    }

    .left_title>h2 {
        font-size: 28px;
        margin-bottom: 0px;
    }

    .left_title>p {
        font-size: 12px;
        line-height: 150%;
        margin-bottom: 20px;
        height: 90px;
    }

    .docs_link {
        width: calc(1920px*.7*.7*.75);
        height: calc(310px*.7*.7*.75);
        padding: 20px 20px;
        margin: 20px auto;
    }

    .docs_info>h2 {
        font-size: 24px;
        margin-bottom: 0px;
    }

    .docs_info>p {
        font-size: 14px;
        margin-bottom: 0;
    }

    .vis_link {
        margin: 0px 0 5px;
        font-size: 20px;
    }

    .vis_link>p {
        width: 90px;
        height: 25px;
        font-size: 14px;
        margin: 5px 10px 0;
    }

    .left_title>h3 {
        margin-top: -10px;
        margin-bottom: 0px;
        font-size: 14px;
    }

    .left_title>.duo_info_p {
        margin-bottom: 5px !important;
    }

    .chips_list {
        width: calc(1350px*.5);
    }

    .chips_list>li>img {
        width: 120px;
    }

    .chips_list>li>a {
        font-size: 14px;
        margin-top: 20px;
    }

    .chips_title {
        font-size: 18px;
        line-height: 120%;
        top: 5%;
        white-space: nowrap;
    }

    .chips_learn {
        width: 100px;
        height: 30px;
        gap: 10px;
        font-size: 12px;
        bottom: 10%;
    }

    .new_products {
        width: calc(1920px*.7*.7*.75);
        margin: 60px auto;
        padding: 0 20px;
    }

    .new_products>p {
        font-size: 24px;
        margin: 30px 0;
    }

    .new_products>ol {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        margin-bottom: 30px;
    }

    .new_products>ol>li {
        padding: 20px 0;
    }

    .new_products>ol>li>p {
        font-size: 20px;
        margin: 10px 0 30px;
    }

    .new_products>ol>li>a {
        width: 130px;
        height: 38px;
        padding: 5px 45px;
        gap: 10px;
    }

    .titan_left>.titan_text {
        font-size: 16px;
        margin: 10px 0;
    }
}

@media screen and (max-width: 750px) {

    .home_header {
        height: 300rem;
        background-position: 60% 50%;
    }

    .header_title {
        bottom: 30rem;
        width: 350rem;
        margin-top: 50rem;
    }

    .header_title>h1 {
        font-size: 24rem;
        line-height: 140%;
    }

    .button_use {
        margin: 20rem 0;
    }

    .button_use>a,
    .docs_a,
    .learnMore_use>a,
    .buy_button {
        width: 120rem;
        height: 35rem;
        font-size: 12rem;
    }

    .button_use>a {
        margin-right: 10rem;
    }

    .tab {
        width: 100%;
        height: 20rem;
        margin: 20rem auto;
    }

    .tab>li>p {
        font-size: 16rem;
        padding: 3rem 0;
    }

    .info_module {
        width: 350rem;
        margin: 30rem auto;
    }

    .main_module {
        margin-bottom: 15rem;
        height: 600rem;
        flex-direction: column;
    }

    .main_module>div {
        width: 100%;
        height: 50%;
    }

    .left {
        height: 100rem !important;
        margin-bottom: 15rem;
    }

    .right {
        width: 350rem;
        flex-direction: column;
    }

    .right>div {
        width: 100%;
        height: 250rem;
    }

    .right_text {
        padding: 0rem;
        margin-top: -50rem;
    }

    .right_text>h2 {
        font-size: 20rem;
    }

    .right_text>p {
        font-size: 12rem;
        margin: 0rem 0 20rem;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }

    .right_text>.learnMore_use>a {
        width: 120rem;
        height: 35rem;
    }

    .left>h2 {
        font-size: 24rem;
        line-height: 120%;
    }

    .left>p {
        font-size: 16rem;
    }

    .left_title {
        padding: 30rem;
    }

    .left_title>h2 {
        font-size: 28rem;
        margin-bottom: 0rem;
        margin-top: 20rem;
    }

    .left_title>p {
        font-size: 12rem;
        line-height: 150%;
        margin-bottom: 20rem;
        height: 90rem;
    }

    .docs_link {
        width: 350rem;
        height: calc(310rem*.7*.7*.75);
        padding: 20rem 5rem;
        margin: 20rem auto;
    }

    .docs_info>h2 {
        font-size: 14rem;
        margin-bottom: 5rem;
    }

    .docs_link>img {
        width: 50rem;
        height: 50rem;
        margin: 0 5rem;
    }

    .docs_info>p {
        font-size: 10rem;
        margin-bottom: 0;
        line-height: 120%;
    }

    .view_mian {
        flex-direction: column;
        margin-bottom: 10rem;
    }

    .view_mian>div {
        width: 100%;
    }

    .vis_link {
        margin: 0rem 0 5rem;
        font-size: 20rem;
    }

    .vis_link>p {
        width: 80rem;
        height: 25rem;
        font-size: 12rem;
        margin: 5rem 10rem 0;
    }

    .left_title>h3 {
        margin-top: -10rem;
        margin-bottom: 0rem;
        font-size: 12rem;
    }

    .left_title>.duo_info_p {
        margin-bottom: 5rem !important;
    }


    .chips_list {
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    .chips_list>li {
        margin: 10rem 0;
    }

    .chips_list>li>img {
        width: 140rem;
    }

    .chips_list>li>a {
        font-size: 14rem;
        margin-top: 10rem;
    }

    .right_line::after {
        content: '';
        position: absolute;
        right: 0%;
        top: 45%;
        transform: translateY(-50%);
        height: 100%;
        width: 0px;
        background-color: #B1B1B1;
    }

    .chips_title {
        font-size: 15rem;
        line-height: 120%;
        top: 4%;
        white-space: nowrap;
    }

    .chips_learn {
        width: 100rem;
        height: 30rem;
        font-size: 12rem;
        bottom: 5%;
    }

    .tab {
        display: grid;
        height: auto;
        grid-template-columns: repeat(4, 1fr);
    }

    .learnMore_use {
        gap: 0 10rem;
    }

    .new_products {
        width: 95%;
        margin: 30rem auto;
        padding: 0 10rem;
    }

    .new_products>p {
        font-size: 24rem;
        margin: 20rem 0;
    }

    .new_products>ol {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
        margin-bottom: 30rem;
    }

    .new_products>ol>li {
        padding: 20rem 0;
    }

    .new_products>ol>li>p {
        font-size: 18rem;
        margin: 10rem 0 20rem;
    }

    .new_products>ol>li>a {
        width: 130rem;
        height: 38rem;
        padding: 5rem 45rem;
        gap: 10rem;
        font-size: 15rem;
    }

    .titan_content {
        height: 200rem !important;
        background-size: 250%;
        background-position: 95% 50%;
    }

    .titan_left>.titan_text {
        font-size: 16rem;
        margin: 5rem 0;
    }

    .titan_left {
        height: 100% !important;
    }
}