.cv1800b {
    width: 100%;
    height: 100%;
    background-color: #2d88c9;
    overflow: hidden;
}

.cv1800b>h1 {
    font-weight: 500;
    font-size: 58px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}

.radioForm,
.infoBox {
    background-color: #fff;
    overflow: hidden;
}

.radioForm h1 {
    font-weight: 500;
    line-height: 120%;
    color: #2D88C9;
    /* text-align: center; */
}


.labelBox>label input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #2D88C9;
    border-radius: 50%;
}

.inputBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoForm label input,
.labelBox>label input[type="text"] {
    width: 100%;
    outline: none;
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 1.5px solid #ccc;
}


.labelBox>label input[type="radio"]:checked {
    background-color: #2D88C9;
}

.labelBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.labelBox>label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.labelBox>label span {
    color: #2D88C9;
}

.infoForm>.terms {
    justify-content: center;
}

.infoForm>label,
.flexBox {
    display: flex;
    align-items: center;
}

.infoForm>.valuered {
    flex-direction: column;
}

.infoForm>.valuered>p {
    margin: 0;
    color: red;
    font-size: 16px;
}

.infoForm>.terms>span {
    width: auto;
}

.infoForm label span,
.flexBox>span {
    font-weight: 500;
    line-height: 120%;
    color: #2D88C9;
}

.infoForm>p {
    text-align: center;
    color: #2D88C9;
    font-weight: 500;
    margin: 0;
    cursor: pointer;
}

.infoForm>p:hover {
    text-decoration: underline;
}

.infoForm>button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7A8F9E;
    font-weight: 500;
    color: #fff;
    border: none;
    cursor: pointer;
}

.infoForm>button:hover {
    background-color: #2D88C9;
}

.flexBox>label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoForm>.upload {
    display: none;
}

.flexBox>label {
    background-color: #7A8F9E;
    color: #fff;
    cursor: pointer;
    width: auto !important;
    margin: 0 !important;
}

.flexBox>p {
    color: red;
}

@media screen and (min-width: 1500px) {
    .cv1800b {
        padding-bottom: 200px;
    }

    .contentBox {
        width: 1200px;
        margin: 40px auto;
    }

    .cv1800b>h1 {
        font-size: 58px;
        margin: 100px 0 50px;
    }

    .radioForm,
    .infoBox {
        width: 1440px;
        margin: 0 auto 25px;
    }

    .radioForm h1 {
        font-size: 39px;
        margin: 40px 0 25px;
    }

    .labelBox>label input[type="radio"] {
        width: 25px;
        height: 25px;
        border: 1px solid #2D88C9;
        margin-right: 10px;
    }

    .infoForm>.terms>input[type="radio"] {
        width: 35px;
        height: 35px;
        border: 1px solid #2D88C9;
        margin-right: 10px;
    }

    .labelBox>label span {
        font-weight: 500;
        font-size: 24px;
    }

    .infoBox {
        padding: 50px 0;
    }

    .infoForm label,
    .flexBox {
        width: 1200px;
        margin: 0 auto 50px;
        padding-bottom: 30px;
        border-bottom: 1px solid #ccc;
    }

    .inputBox {
        width: 1200px;
    }

    .infoForm label span,
    .flexBox>span {
        font-size: 24px;
        width: 400px;
    }

    .infoForm label input,
    .infoForm label input {
        height: 65px;
        padding: 0 10px;
        font-size: 24px;
    }

    .infoForm label input[type='file'] {
        width: 200px;
        font-size: 18px;
        height: 50px;
        padding: 10px 0;
        border-radius: 0;
        background-color: #fff;
        border: none;
    }


    .infoForm>p {
        font-size: 22px;
    }

    .infoForm>.terms {
        margin-top: 20px;
        border-bottom: none;
    }

    .infoForm>button {
        width: 350px;
        height: 60px;
        border-radius: 50px;
        font-size: 22px;
        margin: 0 auto 50px;
    }

    .infoForm>.terms>span {
        font-size: 22px;
    }

    .flexBox>label {
        padding: 5px 10px;
        font-size: 20px;
    }

    .flexBox>img {
        width: 30px;
        margin-left: 20px;
    }

    .flexBox>span {
        min-width: 300px !important;
        margin-right: 20px;
    }

    .flexBox>p {
        margin: 0 0 0 10px;
    }
}

@media screen and (max-width: 1500px) and (min-width: 1050px) {
    .cv1800b {
        padding-bottom: 200px;
    }

    .cv1800b>h1 {
        font-size: 48px;
        margin: 100px 0 50px;
    }

    .contentBox {
        width: 900px;
        margin: 40px auto;
    }

    .radioForm,
    .infoBox {
        width: 1000px;
        margin: 0 auto 25px;
    }

    .radioForm h1 {
        font-size: 29px;
        margin: 20px 0 25px;
    }

    .labelBox>label input[type="radio"] {
        width: 20px;
        height: 20px;
        border: 1px solid #2D88C9;
        margin-right: 10px;
    }

    .infoForm>.terms>input[type="radio"] {
        width: 25px;
        height: 25px;
        border: 1px solid #2D88C9;
        margin-right: 10px;
    }

    .labelBox>label span {
        font-weight: 500;
        font-size: 18px;
    }

    .infoBox {
        padding: 50px 0;
    }

    .infoForm label,
    .flexBox {
        width: 900px;
        margin: 0 auto 50px;
        padding-bottom: 30px;
        border-bottom: 1px solid #ccc;
    }

    .infoForm>.valuered>p {
        margin: 0;
        color: red;
        font-size: 14px;
    }

    .inputBox {
        width: 900px;
    }

    .infoForm label span,
    .flexBox>span {
        font-size: 18px;
        width: 350px;
    }

    .infoForm label input,
    .infoForm label input {
        height: 55px;
        padding: 0 10px;
        font-size: 18px;
    }

    .infoForm label input[type='file'] {
        font-size: 16px;
        border: none;
    }


    .infoForm>p {
        font-size: 16px;
    }

    .infoForm>.terms {
        margin-top: 20px;
        border-bottom: none;
    }

    .infoForm>button {
        width: 280px;
        height: 60px;
        border-radius: 50px;
        font-size: 20px;
        margin: 0 auto 50px;
    }

    .infoForm>.terms>span {
        font-size: 18px;
    }

    .flexBox>label {
        padding: 0px 10px;
        font-size: 16px;
        height: 50px;
    }

    .flexBox>img {
        width: 30px;
        margin-left: 20px;
    }

    .flexBox>span {
        min-width: 300px !important;
        margin-right: 20px;
    }

    .flexBox>p {
        font-size: 12px;
        margin: 0 0 0 10px;
    }
}

@media screen and (max-width: 1050px) and (min-width: 750px) {
    .cv1800b {
        padding-bottom: 200px;
    }

    .cv1800b>h1 {
        font-size: 38px;
        margin: 80px 0 50px;
    }

    .contentBox {
        width: 700px;
        margin: 40px auto;
    }

    .radioForm,
    .infoBox {
        width: 740px;
        margin: 0 auto 25px;
    }

    .radioForm h1 {
        font-size: 20px;
        margin: 10px 0 10px;
    }

    .labelBox>label input[type="radio"] {
        width: 20px;
        height: 20px;
        border: 1px solid #2D88C9;
        margin-right: 10px;
    }

    .infoForm>.terms>input[type="radio"] {
        width: 25px;
        height: 25px;
        border: 1px solid #2D88C9;
        margin-right: 10px;
    }

    .labelBox>label span {
        font-weight: 500;
        font-size: 14px;
    }

    .infoBox {
        padding: 40px 0;
    }

    .infoForm label,
    .flexBox {
        width: 700px;
        margin: 0 auto 50px;
        padding-bottom: 30px;
        border-bottom: 1px solid #ccc;
    }

    .infoForm>.valuered>p {
        margin: 0;
        color: red;
        font-size: 14px;
    }

    .inputBox {
        width: 700px;
    }

    .infoForm label span,
    .flexBox>span {
        font-size: 14px;
        width: 200px;
    }

    .infoForm label input,
    .infoForm label input {
        height: 45px;
        padding: 0 10px;
        font-size: 14px;
    }

    .infoForm label input[type='file'] {
        font-size: 14px;
        border: none;
    }


    .infoForm>p {
        font-size: 14px;
    }

    .infoForm>.terms {
        margin-top: 20px;
        border-bottom: none;
    }

    .infoForm>button {
        width: 200px;
        height: 50px;
        border-radius: 50px;
        font-size: 18px;
        margin: 0 auto 50px;
    }

    .infoForm>.terms>span {
        font-size: 16px;
    }

    .flexBox>label {
        padding: 0px 10px;
        font-size: 14px;
        height: 50px;
    }

    .flexBox>img {
        width: 30px;
        margin-left: 20px;
    }

    .flexBox>span {
        min-width: 200px !important;
        margin-right: 20px;
    }

    .flexBox>p {
        font-size: 12px;
        margin: 0 0 0 10px;
    }
}

@media screen and (max-width: 750px) {

    .labelBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .labelBox>label {
        margin-bottom: 10rem;
    }

    .infoForm>label,
    .flexBox {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .inputBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .cv1800b {
        padding-bottom: 50rem;
    }

    .cv1800b>h1 {
        font-size: 28rem;
        margin: 50rem 0;
    }

    .contentBox {
        width: 340rem;
        margin: 20rem auto;
    }

    .radioForm,
    .infoBox {
        width: 350rem;
        margin: 0 auto 25rem;
    }

    .radioForm h1 {
        font-size: 18rem;
        margin: 10rem 0;
    }

    .labelBox>label input[type="radio"] {
        width: 20rem;
        height: 20rem;
        border: 1rem solid #2D88C9;
        margin-right: 10rem;
    }

    .infoForm>.terms>input[type="radio"] {
        width: 20rem;
        height: 20rem;
        border: 1rem solid #2D88C9;
        margin-right: 10rem;
    }

    .labelBox>label span {
        font-weight: 500;
        font-size: 14rem;
    }

    .infoBox {
        padding: 40rem 0;
    }

    .infoForm label,
    .flexBox {
        width: 340rem;
        margin: 0 auto 20rem;
        padding-bottom: 20rem;
        border-bottom: 1rem solid #ccc;
    }

    .infoForm>.valuered>p {
        margin: 0;
        color: red;
        font-size: 14rem;
    }

    .inputBox {
        width: 340rem;
    }

    .infoForm label span,
    .flexBox>span {
        font-size: 14rem;
        margin-bottom: 5rem;
    }

    .infoForm label input,
    .infoForm label input {
        height: 45rem;
        padding: 0 10rem;
        font-size: 14rem;
    }

    .infoForm label input[type='file'] {
        font-size: 14rem;
        border: none;
    }


    .infoForm>p {
        font-size: 14rem;
    }

    .infoForm>.terms {
        margin-top: 20rem;
        border-bottom: none;
    }

    .infoForm>button {
        width: 200rem;
        height: 50rem;
        border-radius: 50rem;
        font-size: 18rem;
        margin: 0 auto 20rem;
    }

    .infoForm>.terms>span {
        font-size: 12rem;
    }

    .infoForm>.terms {
        align-items: center;
        flex-direction: row;
    }

    .infoForm>.terms>span>br {
        display: block !important;
    }

    .flexBox>label {
        padding: 0rem 10rem;
        font-size: 14rem;
        height: 40rem;
    }

    .flexBox>img {
        width: 30rem;
        margin-left: 20rem;
    }

    .flexBox>span {
        min-width: 200rem !important;
        margin-right: 20rem;
    }

    .flexBox>p {
        font-size: 12rem;
    }
}