:root {
    --ifm-container-width-xl: 95%;
}

.bgBox {
    width: 100%;
    overflow: hidden;
    background: url(/static/icons/mdHome-image.svg) no-repeat;
    background-size: 100%;
    position: relative;
}

.products_ul>li {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.products_ul>li:hover {
    box-shadow: 5px 5px 12px 0px #ccc;
}

.products_ul>li:hover .def {
    display: none;
}

.products_ul>li:hover .on {
    display: block;
    transform: scale(.5) translateX(20px);
}

.products_ul>li img {
    transition: .5s;
}

.products_ul>li:hover h1 {
    color: #2d88c9;
}

.on {
    display: none;
    transform: translateX(20px) scale(.5);
    transition: 1s;
}

.imageBox>img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.imageBox {
    width: 100%;
    border-radius: 15px 15px 0 0;
    aspect-ratio: 423/ 211;
    background-color: #f5f5f5;
}

.pName {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pNameBox {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
}

.pNameBox>p {
    margin: 0;
    font-size: 14px;
}

.products_ul {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.products_ul>li {
    margin-top: 0 !important;
    transition: .3s;
}

._title>h2 {
    text-align: center;
}

@media screen and (min-width: 1850px) {
    ._title>h2 {
        font-weight: 600;
        font-size: 46px;
        line-height: 120%;
        color: #FFFFFF;
        margin: 100px 0;
    }

    .pNameBox {
        margin: 36px auto 20px;
    }

    .products_ul {
        max-width: 1400px;
        margin: 100px auto 50px;
    }

    .on {
        display: none;
        transform: translateX(20px);
        transition: 1s;
    }

    .products_ul>li:hover .on {
        display: block;
        transform: translateX(20px);
    }

    .products_ul>li {
        max-height: 600px;
        aspect-ratio: 2/2.45;
        padding-bottom: 50px;
        border-radius: 15px;
        list-style: none;
        background-color: #fff;
    }

    .pName>h2 {
        margin: 0 !important;
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        color: #0C0D0D;
    }

    .products_ul>li>P {
        width: 90%;
        margin: 0 auto;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        color: #303131;
    }

    .bgBox {
        min-height: 1200px;
    }
}

@media screen and (max-width: 1850px) and (min-width: 1400px) {
    ._title>h2 {
        font-weight: 600;
        font-size: 36px;
        line-height: 120%;
        color: #FFFFFF;
        margin: 100px 0;
    }

    .pNameBox {
        margin: 25px auto 15px;
    }

    .products_ul {
        width: 90%;
        margin: 50px auto;
        gap: 20px;
    }

    .products_ul>li {
        aspect-ratio: 2/2.45;
        padding-bottom: 30px;
        border-radius: 15px;
        list-style: none;
        background-color: #fff;
    }

    .pName>h2 {
        margin: 0 !important;
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        color: #0C0D0D;
    }

    .products_ul>li>P {
        width: 90%;
        margin: 0 auto;
        font-weight: 400;
        font-size: 13px;
        line-height: 120%;
        color: #303131;
    }

    .bgBox {
        min-height: 1000px;
    }
}

@media screen and (max-width: 1400px) and (min-width: 750px) {
    .products_ul>li>.pNameBox img {
        transform: scale(.5);
    }

    ._title>h2 {
        font-weight: 600;
        font-size: 32px;
        line-height: 120%;
        color: #FFFFFF;
        margin: 80px 0;
    }

    .pNameBox {
        margin: 25px auto 15px;
    }

    .products_ul {
        width: 90%;
        margin: 80px auto 40px;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }

    .products_ul>li {
        min-height: 400px;
        padding-bottom: 30px;
        border-radius: 15px;
        list-style: none;
        background-color: #fff;
    }

    .pName>h2 {
        margin: 0 !important;
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        color: #0C0D0D;
    }

    .products_ul>li>P {
        width: 90%;
        margin: 0 auto;
        font-weight: 400;
        font-size: 13px;
        line-height: 120%;
        color: #303131;
    }

    .bgBox {
        min-height: 600px;
    }
}

@media screen and (max-width: 750px) {
    .products_ul>li>.pNameBox img {
        transform: scale(.5);
    }

    ._title>h2 {
        font-weight: 600;
        font-size: 24rem;
        white-space: nowrap;
        line-height: 120%;
        color: #FFFFFF;
    }

    ._title {
        position: absolute;
        top: 2%;
        left: 50%;
        transform: translateX(-50%);
    }

    .pNameBox {
        margin: 25rem auto 15rem;
    }

    .products_ul {
        position: static;
        width: 90%;
        transform: none;
        grid-template-columns: 1fr;
        gap: 5rem;
        margin: 100rem auto 20rem;
    }

    .products_ul>li {
        width: 100%;
        min-height: 400rem;
        padding-bottom: 30rem;
        margin-bottom: 10rem;
        border-radius: 15rem;
        list-style: none;
        background-color: #fff;
    }

    .pName>h2 {
        margin: 0 !important;
        font-weight: 600;
        font-size: 20rem;
        line-height: 120%;
        color: #0C0D0D;
    }

    .products_ul>li>P {
        width: 90%;
        margin: 0 auto;
        font-weight: 400;
        font-size: 13rem;
        line-height: 120%;
        color: #303131;
    }

    .bgBox {
        height: auto;
    }
}