.chip_module {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
}

.chip_diagram,
.chip_introduction,
.chip_title {
    overflow: hidden;
    margin: 0 auto;
}

.chip_introduction,
.chip_title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.title_l_t {
    width: 70%;
}

.title_l_t>h4 {
    color: #333;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.title_l_t>a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 50px;
    border: 1px solid #000;
    text-decoration: none;
    transition: .3s;
}

.title_l_t>a:hover {
    background-color: #2d88c9;
    border-color: #2d88c9;
    color: #fff;
}

.chip_view img {
    width: 100%;
    border: 1px solid #999;
}

.view_ul {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.view_ul>img {
    width: 33%;
    border: 1px solid #999;
}

.chip_intro_t>p {
    color: #333;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.chip_diagram h2 {
    color: #000;
    text-align: left;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.diagram_img {
    width: 100%;
}

.hardware_ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.hardware_ul>li {
    display: flex;
    align-content: flex-start;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
}

.causality,
.causality_data {
    color: rgba(0, 0, 0, 0.85);
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.causality {
    width: 25%;
    margin: 0;
}

.causality_data {
    width: 70%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.causality_data>li {
    list-style-type: disc;
}

.causality_data>li:first-child {
    margin: 0 !important;
}

.hardware_ul>li:last-child {
    border-bottom: none;
}

.scenarios {
    overflow: hidden;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 0;
}

.scenarios>li {
    overflow: hidden;
}

.scenarios>li>img {
    width: 100%;
}

.scenarios>li>p {
    color: #666;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
}

.chip_view_contexts {
    position: relative;
}

.chip_view_contexts>.magnifiers {
    width: 50%;
    aspect-ratio: 665/375;
    background-color: #adb2b6;
    position: absolute;
    opacity: .5;
}

.chip_view_contexts>.magnifiers_view {
    width: 150%;
    aspect-ratio: 665/375;
    position: absolute;
    top: 0;
    right: -160%;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #000;
}

.chip_view_contexts>.magnifiers_view>img {
    position: absolute;
    width: 200%;
    border: none;
    max-width: none;
}

.toTop {
    position: fixed;
    display: none;
    cursor: pointer;
}

.table_separate {
    position: sticky;
    background-color: #fff;
    width: 100%;
    z-index: 99;
}

.table_u {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.table_u>li {
    height: 100%;
    color: #999;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    transition: none;
    box-sizing: border-box;
}

.table_u>li:hover {
    color: #000;
    border-bottom: 2px solid #2d88c9;
}

.download_link {
    width: 100%;
    display: flex;
}

.radio_input {
    width: 28%;
}

.download_list {
    width: 72%;
    overflow-y: auto;
}

.resources_m .download_list {
    overflow: hidden;
}

.download_list::-webkit-scrollbar {
    width: 5px;
}

.download_list::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.download_list::-webkit-scrollbar-thumb {
    background-color: #2D88C9;
    border-radius: 5px;
}

.radio_input>p {
    color: #8A8A8A;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.radio_input>label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.radio_input>label>span {
    color: #444;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.download_list {
    border-left: 1px solid #E9E9E9;
}

.download_list>p {
    color: #444;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.download_list>ul {
    padding: 0;
}

.download_list>ul>li>a,
.board_info>div>a {
    color: #2D88C9;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.download_list>ul>li>p {
    color: #999;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.board_info {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.board_info>img {
    width: 30%;
}

.board_info>div {
    width: 68%;
}

.info_t {
    color: #2D88C9;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.info_p {
    color: #000;
    text-align: justify;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.table_u>li {
    white-space: nowrap;
}

.certificate>div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.choosing_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    width: 32.5%;
    background-color: #f8f8f8;
}

.choosing_item>img {
    height: 50%;
}

.text_l {
    width: 100%;
}

.text_l>h3 {
    color: #333;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.text_l>p {
    color: #333;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
}

.tabs_hied {
    position: sticky;
    top: 60px;
    background-color: #fff;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    z-index: 99;
}

.tab_card {
    width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.tab_card a {
    color: #999;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-transform: capitalize;
    text-decoration: none;
}

.tab_card a:hover {
    color: #2D88C9;
}

.tab_card>span>a {
    color: #2D88C9;
}


@media screen and (min-width: 1950px) {

    .chip_diagram,
    .chip_introduction,
    .chip_title {
        width: 1240px;
        padding: 100px 0;
    }

    .chip_title>img {
        width: 200px;
    }

    .title_l_t>h4 {
        font-size: 20px;
        margin-bottom: 35px;
    }

    .title_l_t>a {
        width: 150px;
        height: 45px;
        font-size: 18px;
    }

    .chip_view {
        width: 38%;
    }

    .view_ul {
        margin: 20px auto 0;
    }

    .chip_intro_t {
        width: 60%;
    }

    .chip_intro_t>p {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .chip_diagram h2 {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .diagram_img {
        margin-bottom: 70px;
    }

    .hardware_ul {
        margin-bottom: 100px;
    }

    .hardware_ul>li {
        padding: 40px 0;
    }

    .causality,
    .causality_data {
        font-size: 20px;
    }

    .causality_data>li {
        margin-top: 40px;
    }

    .scenarios {
        width: 1240px;
        margin-bottom: 100px;
    }

    .scenarios>li>p {
        font-size: 18px;
        margin-top: 20px;
    }

    .toTop {
        bottom: 60px;
        right: 60px;
    }

    .toTop>img {
        width: 60px;
    }

    .table_separate {
        top: 120px;
        height: 64px;
    }

    .table_u {
        width: 1240px;
    }

    .table_u>li {
        margin-right: 40px;
        font-size: 20px;
    }

    .radio_input>p {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .radio_input>label>input[type="radio"] {
        width: 20px;
        margin-right: 10px;
    }

    .radio_input>label>span {
        font-size: 16px;
    }

    .download_list {
        padding-left: 30px;
        max-height: 800px;
    }

    .download_list>p {
        font-size: 18px;
        margin-bottom: 35px;
    }

    .download_list>ul>li {
        margin-bottom: 25px;
    }

    .info_t,
    .download_list>ul>li>a {
        font-size: 20px;
    }

    .download_list>ul>li>p {
        font-size: 16px;
    }

    .download_list>ul>li>p>span {
        margin-right: 10px;
    }

    .resources_m {
        margin: 100px 0;
    }

    .board_info {
        margin-bottom: 20px;
    }

    .info_p {
        font-size: 16px;
        margin-top: 10px;
    }

    .headModule {
        margin-top: 100px;
    }

    .choosing_item {
        margin-bottom: 30px;
        padding: 20px;
        height: 350px;
    }

    .choosing_item>img {
        margin-bottom: 30px;
    }

    .text_l>h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .text_l>p {
        font-size: 14px;
    }

    .certificate>div>h2 {
        margin-bottom: 50px;
    }

    .tab_card {
        width: 1240px;
    }

}

@media screen and (max-width: 1950px) and (min-width: 1450px) {

    .chip_diagram,
    .chip_introduction,
    .chip_title {
        width: 1200px;
        padding: 80px 0;
    }

    .chip_title>img {
        width: 180px;
    }

    .title_l_t>h4 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .title_l_t>a {
        width: 150px;
        height: 45px;
        font-size: 16px;
    }

    .chip_view {
        width: 33%;
    }

    .view_ul {
        margin: 20px auto 0;
    }

    .chip_intro_t {
        width: 65%;
    }

    .chip_intro_t>p {
        font-size: 16px;
        margin-bottom: 40px;
    }

    .chip_diagram h2 {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .diagram_img {
        margin-bottom: 60px;
    }

    .hardware_ul {
        margin-bottom: 80px;
    }

    .hardware_ul>li {
        padding: 30px 0;
    }

    .causality,
    .causality_data {
        font-size: 18px;
    }

    .causality_data>li {
        margin-top: 35px;
    }

    .scenarios {
        width: 100%;
        margin-bottom: 80px;
    }

    .scenarios>li>p {
        font-size: 16px;
        margin-top: 20px;
    }

    .toTop {
        bottom: 50px;
        right: 50px;
    }

    .toTop>img {
        width: 50px;
    }

    .table_separate {
        top: 120px;
        height: 60px;
    }

    .table_u {
        width: 1200px;
    }

    .table_u>li {
        margin-right: 40px;
        font-size: 18px;
    }

    .radio_input>p {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .radio_input>label>input[type="radio"] {
        width: 20px;
        margin-right: 10px;
    }

    .radio_input>label>span {
        font-size: 16px;
    }

    .download_list {
        padding-left: 30px;
        max-height: 500px;
    }

    .download_list>p {
        font-size: 18px;
        margin-bottom: 35px;
    }

    .download_list>ul>li {
        margin-bottom: 25px;
    }

    .info_t,
    .download_list>ul>li>a {
        font-size: 20px;
    }

    .download_list>ul>li>p {
        font-size: 16px;
    }

    .download_list>ul>li>p>span {
        margin-right: 10px;
    }

    .resources_m {
        margin: 80px 0;
    }

    .board_info {
        margin-bottom: 20px;
    }

    .info_p {
        font-size: 16px;
        margin-top: 10px;
    }

    .headModule {
        margin-top: 100px;
    }

    .choosing_item {
        margin-bottom: 30px;
        padding: 20px;
        height: 350px;
    }

    .choosing_item>img {
        margin-bottom: 30px;
    }

    .text_l>h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .text_l>p {
        font-size: 14px;
    }

    .certificate>div>h2 {
        margin-bottom: 50px;
    }

    .tab_card {
        width: 1200px;
    }
}

@media screen and (max-width: 1450px) and (min-width: 1000px) {

    .chip_diagram,
    .chip_introduction,
    .chip_title {
        width: 950px;
        padding: 60px 0;
    }

    .chip_title>img {
        width: 150px;
    }

    .title_l_t>h4 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .title_l_t>a {
        width: 130px;
        height: 40px;
        font-size: 16px;
    }

    .chip_view {
        width: 33%;
    }

    .view_ul {
        margin: 20px auto 0;
    }

    .chip_intro_t {
        width: 65%;
    }

    .chip_intro_t>p {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .chip_diagram h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .diagram_img {
        margin-bottom: 60px;
    }

    .hardware_ul {
        margin-bottom: 80px;
    }

    .hardware_ul>li {
        padding: 25px 0;
    }

    .causality,
    .causality_data {
        font-size: 16px;
    }

    .causality_data>li {
        margin-top: 35px;
    }

    .scenarios {
        width: 100%;
        margin-bottom: 60px;
    }

    .scenarios>li>p {
        font-size: 16px;
        margin-top: 10px;
    }

    .toTop {
        bottom: 50px;
        right: 50px;
    }

    .toTop>img {
        width: 50px;
    }

    .table_separate {
        top: 120px;
        height: 50px;
    }

    .table_u {
        width: 950px;
    }

    .table_u>li {
        margin-right: 40px;
        font-size: 16px;
    }

    .radio_input>p {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .radio_input>label>input[type="radio"] {
        width: 20px;
        margin-right: 10px;
    }

    .radio_input>label>span {
        font-size: 16px;
    }

    .download_list {
        padding-left: 30px;
        max-height: 300px;
    }

    .download_list>p {
        font-size: 18px;
        margin-bottom: 35px;
    }

    .download_list>ul>li {
        margin-bottom: 25px;
    }

    .info_t,
    .download_list>ul>li>a {
        font-size: 18px;
    }

    .download_list>ul>li>p {
        font-size: 14px;
    }

    .download_list>ul>li>p>span {
        margin-right: 10px;
    }

    .resources_m {
        margin: 80px 0;
    }

    .board_info {
        margin-bottom: 20px;
    }

    .info_p {
        font-size: 14px;
        margin-top: 10px;
    }

    .headModule {
        margin-top: 80px;
    }

    .choosing_item {
        margin-bottom: 30px;
        padding: 15px;
        height: 300px;
    }

    .choosing_item>img {
        margin-bottom: 20px;
    }

    .text_l>h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .text_l>p {
        font-size: 12px;
        line-height: 120%;
    }

    .certificate>div>h2 {
        margin-bottom: 40px;
    }

    .tab_card {
        width: 950px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 750px) {

    .chip_diagram,
    .chip_introduction,
    .chip_title {
        width: 90%;
        padding: 30px 0;
    }

    .chip_title>img {
        width: 130px;
    }

    .title_l_t>h4 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .title_l_t>a {
        width: 120px;
        height: 35px;
        font-size: 14px;
    }

    .chip_view {
        width: 40%;
    }

    .view_ul {
        margin: 20px auto 0;
    }

    .chip_intro_t {
        width: 58%;
    }

    .chip_intro_t>p {
        font-size: 12px;
        margin-bottom: 20px;
        text-align: left;
    }

    .chip_diagram h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .diagram_img {
        margin-bottom: 60px;
    }

    .hardware_ul {
        margin-bottom: 80px;
    }

    .hardware_ul>li {
        padding: 25px 0;
    }

    .causality {
        width: 30%;
    }

    .causality,
    .causality_data {
        font-size: 14px;
    }

    .causality_data>li {
        margin-top: 30px;
    }

    .scenarios {
        width: 100%;
        margin-bottom: 60px;
    }

    .scenarios>li>p {
        font-size: 12px;
        line-height: normal;
        margin-top: 10px;
    }

    .chip_view_contexts>.magnifiers_view {
        right: -150%;
    }

    .toTop {
        bottom: 40px;
        right: 40px;
    }

    .toTop>img {
        width: 50px;
    }

    .table_separate {
        top: 120px;
        height: 45px;
    }

    .table_u {
        width: 90%;
    }

    .table_u>li {
        margin-right: 30px;
        font-size: 14px;
    }

    .radio_input>p {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .radio_input>label>input[type="radio"] {
        width: 20px;
        margin-right: 10px;
    }

    .radio_input>label>span {
        font-size: 16px;
    }

    .download_list {
        padding-left: 30px;
        max-height: 400px;
    }

    .download_list>p {
        font-size: 18px;
        margin-bottom: 35px;
    }

    .download_list>ul>li {
        margin-bottom: 25px;
    }

    .info_t,
    .download_list>ul>li>a {
        font-size: 16px;
    }

    .download_list>ul>li>p {
        font-size: 12px;
    }

    .download_list>ul>li>p>span {
        margin-right: 10px;
    }

    .resources_m {
        margin: 80px 0;
    }

    .board_info {
        margin-bottom: 20px;
    }

    .info_p {
        font-size: 12px;
        margin-top: 10px;
    }

    .headModule {
        margin-top: 60px;
    }

    .choosing_item {
        margin-bottom: 20px;
        padding: 10px;
        height: 320px;
    }

    .choosing_item>img {
        margin-bottom: 20px;
    }

    .text_l>h3 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .text_l>p {
        font-size: 12px;
        line-height: 120%;
    }

    .certificate>div>h2 {
        margin-bottom: 40px;
    }

    .tab_card {
        width: 700px;
    }
}

@media screen and (max-width: 750px) {

    .chip_diagram,
    .chip_introduction,
    .chip_title {
        width: 90%;
        padding: 40rem 0;
    }

    .chip_title {
        align-items: center;
        flex-direction: column-reverse;
    }

    .chip_introduction {
        align-items: center;
        flex-direction: column;
    }

    .chip_title>img {
        width: 160rem;
    }

    .title_l_t {
        width: 100%;
    }

    .title_l_t>h4 {
        width: 100%;
        font-size: 16rem;
        margin-bottom: 10rem;
    }

    .title_l_t>a {
        width: 100rem;
        height: 35rem;
        font-size: 14rem;
    }

    .chip_view {
        width: 100%;
    }

    .view_ul {
        margin: 20rem auto 0;
    }

    .chip_intro_t {
        width: 100%;
        margin-top: 20rem;
    }

    .chip_intro_t>p {
        font-size: 14rem;
        margin-bottom: 20rem;
        text-align: left;
    }

    .chip_diagram h2 {
        font-size: 24rem;
        margin-bottom: 20rem;
    }

    .diagram_img {
        margin-bottom: 60rem;
    }

    .hardware_ul {
        margin-bottom: 80rem;
    }

    .hardware_ul>li {
        padding: 25rem 0;
    }

    .causality {
        font-size: 14rem;
    }

    .causality_data {
        font-size: 12rem;
    }

    .causality_data {
        margin-left: 30rem;
    }

    .causality_data>li {
        margin-top: 5rem;
    }

    .scenarios {
        width: 100%;
        margin-bottom: 60rem;
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
    }

    .scenarios>li>p {
        font-size: 12rem;
        line-height: normal;
        margin-top: 10rem;
    }

    .chip_view_contexts {
        position: relative;
    }

    .chip_view_contexts>.magnifiers {
        display: none !important;
    }

    .chip_view_contexts>.magnifiers_view {
        display: none !important;
    }

    .chip_view_contexts>.magnifiers_view>img {
        display: none !important;
    }

    .toTop {
        bottom: 20rem;
        right: 20rem;
    }

    .toTop>img {
        width: 30rem;
    }

    .table_separate {
        top: 50rem;
        display: none !important;
        height: 45rem;
    }

    .table_u {
        width: 90%;
        overflow: hidden;
    }

    .table_u>li {
        margin-right: 30rem;
        font-size: 14rem;
        white-space: nowrap;
    }

    .download_link {
        flex-direction: column;
    }

    .download_link>.download_list {
        border-left: none;
        padding-left: 0;
        padding-top: 20rem;
        border-top: 1px solid #ccc;
    }

    .download_link>div {
        width: 100%;
    }

    .download_link>.radio_input>label {
        float: left;
        margin-right: 10rem;
    }

    .radio_input>p {
        font-size: 16rem;
        margin-bottom: 16rem;
    }

    .radio_input>label>input[type="radio"] {
        width: 15rem;
        margin-right: 5rem;
    }

    .radio_input>label>span {
        font-size: 16rem;
    }

    .download_list {
        padding-left: 30rem;
    }

    .download_list>p {
        font-size: 18rem;
        margin-bottom: 15rem;
    }

    .download_list>ul>li {
        margin-bottom: 15rem;
    }

    .download_list>ul>li>a {
        font-size: 14rem;
    }

    .download_list>ul>li>p {
        font-size: 11rem;
        margin-top: 3rem;
    }

    .download_list>ul>li>p>span {
        margin-right: 6rem;
    }

    .resources_m {
        margin: 60rem 0 0;
    }

    .board_info {
        margin-bottom: 20rem;
    }

    .info_t {
        font-size: 18rem;
    }

    .info_p {
        font-size: 13rem;
        margin-top: 10rem;
    }

    .board_info {
        flex-direction: column;
    }

    .board_info>img {
        margin-bottom: 10rem;
    }

    .board_info>img,
    .board_info>div {
        width: 100%;
    }

    .certificate>div {
        flex-direction: column;
    }

    .choosing_item {
        width: 100%;
        margin-bottom: 10rem;
        flex-direction: column;
        align-items: center;
        padding: 15rem;
    }

    .text_l {
        width: 100%;
        margin-bottom: 10rem;
    }

    .choosing_item>img {
        width: 350rem;
        margin-bottom: 20rem;
    }

    .text_l>h3 {
        font-size: 20rem;
        margin-bottom: 15rem;
    }

    .text_l>p {
        font-size: 14rem;
    }

    .tab_card {
        width: 350rem;
    }

    .tabs_hied {
        position: sticky;
        top: 48rem;
    }
}