.flexBox {
    width: 100%;
    display: flex;
    margin-bottom: 100px;
}

.textLeft {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.textLeft h2 {
    font-weight: 600;
    line-height: 120%;
    color: #333;
}

.textLeft h3 {
    font-weight: 700;
    line-height: 120%;
    color: #333;
}

.textLeft a {
    font-weight: 700;
    line-height: 120%;
    color: #2D88C9;
}

.touchBox>h2 {
    font-weight: 700;
    line-height: 120%;
    color: #333;
}

.touchForm {
    position: relative;
}

.touchForm>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.touchForm>div>label {
    width: 48%;
}

.touchForm>label {
    display: block;
}

.touchForm label>input {
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    color: #fff;
    font-weight: 600;
}

.touchForm label>textarea {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 0;
    color: #fff;
    font-weight: 600;
}

.touchForm label>p {
    font-weight: 500;
    line-height: 120%;
    color: #FFFFFF;
}

.touchBtn {
    width: 130px;
    height: 35px;
    border: 1px solid #ccc;
    color: #FFF;
    position: absolute;
    right: 0;
    bottom: 0;
}

.touchBtn:hover {
    background-color: #2D88C9;
    cursor: pointer;
}

.pop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
    z-index: 10000;
}

.popBox {
    width: 500px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
}

.popBox>h2 {
    font-size: 44px;
    color: #242424;
    margin: 50px auto 30px;
    font-weight: 600;
    text-align: center;
}

.popBox>p {
    font-size: 22px;
    line-height: 120%;
    color: #767676;
    text-align: center;
    font-weight: 400;
}

.popBox>h2>span {
    font-size: 48px;
}

.ok {
    width: 150px;
    margin: 0 auto;
    padding: 0px 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d88c9;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.mark_pop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .4);
}

.loader {
    border-top: 5px solid #2d88c9;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.contactMain {
    width: 100%;
    overflow: hidden;
    background: linear-gradient(194deg, #ECF7FF 0.01%, #FFF 100%);
}

.maxtitle {
    text-align: left;
    color: #333;
}

.input_contact {
    display: flex;
    flex-direction: column;
}

.banner_contact {
    margin-right: 5%;
    border-radius: 15px;
    background-color: #1c1c1c;
}

.banner_items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.banner_items>img {
    display: block;
    width: 50%;
    margin: 0 auto;
}

.banner_items>p {
    color: #767676;
    text-align: center;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.on5_bottom>a {
    display: flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid #FFF;
}

.flex_inputs {
    display: flex;
}

.touchForm>.flex_inputs>label {
    width: 30%;
}

.touchForm>.flex_inputs>label>input {
    color: #000;
    border-bottom: 1px solid #000;
}

.touchForm>label>.message_area {
    border-color: #000;
    color: #000;
    font-family: "Roboto Condensed";
    font-weight: 400;
}

.touchBtn {
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
}


@media screen and (min-width: 1950px) {
    .cUs {
        width: 1920px !important;
        overflow: hidden;
        margin: 100px auto;
    }

    .maxtitle {
        font-weight: 500;
        font-size: 68px;
        margin: 20px auto 40px;
    }

    .touchForm {
        padding-bottom: 50px;
    }

    .textLeft h2 {
        margin-bottom: 60px;
        font-size: 30px;
    }

    .textLeft h3 {
        margin-bottom: 10px;
        font-size: 23px;
    }

    .textLeft a {
        display: block;
        margin-bottom: 30px;
        font-size: 23px;
    }

    .touchBox>h2 {
        font-size: 23px;
        margin-bottom: 60px;
    }

    .touchForm>div>label {
        margin-bottom: 20px;
    }

    .touchForm>label {
        margin-bottom: 20px;
    }

    .touchForm label>input {
        height: 50px;
        padding: 0 10px;
    }

    .touchForm label>textarea {
        height: 100px;
        padding: 10px;
        margin-top: 10px;
    }

    .touchForm label>p {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .contactMain {
        margin: 50px 0;
    }

    .banner_contact {
        margin-right: 5%;
        width: 28%;
    }

    .banner_items>img {
        margin-top: 100px;
    }

    .banner_items>p {
        font-size: 20px;
    }

    .on5_bottom {
        margin: 50px auto 30px;
    }

    .on5_bottom>a {
        width: 178px;
        height: 51px;
        padding: 5px 45px;
    }

    .textLeft>div {
        margin-right: 100px;
    }

    .touchBox {
        margin-top: 150px;
    }

    .flex_inputs {
        margin-bottom: 50px;
    }

    .touchForm>.flex_inputs>label>input {
        margin-right: 10px;
    }
}

@media screen and (max-width: 1950px) and (min-width: 1450px) {
    .cUs {
        width: 1440px !important;
        height: 700px !important;
        overflow: hidden;
        margin: 100px auto;
    }

    .maxtitle {
        font-weight: 500;
        font-size: 68px;
        margin: 20px auto 40px;
    }

    .touchForm {
        padding-bottom: 50px;
    }

    .textLeft h2 {
        margin-bottom: 60px;
        font-size: 30px;
    }

    .textLeft h3 {
        margin-bottom: 10px;
        font-size: 23px;
    }

    .textLeft a {
        display: block;
        margin-bottom: 30px;
        font-size: 23px;
    }

    .touchBox>h2 {
        font-size: 23px;
        margin-bottom: 60px;
    }


    .touchForm>div>label {
        margin-bottom: 20px;
    }

    .touchForm>label {
        margin-bottom: 20px;
    }

    .touchForm label>input {
        height: 50px;
        padding: 0 10px;
    }

    .touchForm label>textarea {
        height: 100px;
        padding: 10px;
        margin-top: 10px;
    }

    .touchForm label>p {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .contactMain {
        margin: 30px 0;
    }

    .banner_contact {
        margin-right: 5%;
        width: 28%;
    }

    .banner_items>img {
        margin-top: 40px;
    }

    .banner_items>p {
        font-size: 16px;
    }

    .on5_bottom {
        margin: 50px auto 30px;
    }

    .on5_bottom>a {
        width: 178px;
        height: 51px;
        padding: 5px 45px;
    }

    .textLeft>div {
        margin-right: 100px;
    }

    .touchBox {
        margin-top: 50px;
    }

    .flex_inputs {
        margin-bottom: 30px;
    }

    .touchForm>.flex_inputs>label>input {
        margin-right: 10px;
    }
}

@media screen and (max-width: 1450px) and (min-width: 1050px) {
    .cUs {
        width: 1000px !important;
        height: 600px !important;
        margin: 0 auto;
        overflow: hidden;
    }

    .maxtitle {
        width: 1000px;
        font-weight: 500;
        font-size: 40px;
        margin: 20px auto 20px;
    }

    .touchForm {
        padding-bottom: 50px;
    }

    .textLeft h2 {
        margin-bottom: 40px;
        font-size: 24px;
    }

    .textLeft h3 {
        margin-bottom: 10px;
        font-size: 18px;
    }

    .textLeft a {
        margin-bottom: 30px;
        font-size: 18px;
    }

    .touchBox>h2 {
        font-size: 23px;
        margin-bottom: 40px;
    }


    .touchForm>div>label {
        margin-bottom: 20px;
    }

    .touchForm>label {
        margin-bottom: 20px;
    }

    .touchForm label>input {
        height: 40px;
        padding: 0 10px;
        font-size: 16px;
    }

    .touchForm label>textarea {
        height: 100px;
        padding: 10px;
        font-size: 16px;
        margin-top: 10px;
    }

    .touchForm label>p {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .contactMain {
        margin: 30px 0;
    }

    .banner_contact {
        margin-right: 3%;
        width: 28%;
    }

    .banner_items>img {
        margin-top: 40px;
    }

    .banner_items>p {
        font-size: 16px;
    }

    .banner_items>h2 {
        color: #fff;
        font-family: "Roboto Condensed";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }

    .on5_bottom {
        margin: 30px auto 30px;
    }

    .on5_bottom>a {
        width: 150px;
        height: 45px;
        padding: 5px 45px;
    }

    .textLeft>div {
        margin-right: 100px;
    }

    .touchBox {
        margin-top: 20px;
    }

    .flex_inputs {
        margin-bottom: 20px;
    }

    .touchForm>.flex_inputs>label>input {
        margin-right: 10px;
    }
}

@media screen and (max-width: 1050px) and (min-width: 750px) {
    .cUs {
        width: 740px !important;
        height: 480px !important;
        overflow: hidden;
        margin: 0 auto 50px;
    }

    .maxtitle {
        font-weight: 500;
        font-size: 32px;
        margin-top: 10px;
    }

    .touchForm {
        padding-bottom: 50px;
    }

    .textLeft h2 {
        margin-bottom: 40px;
        font-size: 18px;
    }

    .textLeft h3 {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .textLeft a {
        margin-bottom: 30px;
        font-size: 14px;
    }

    .touchBox>h2 {
        font-size: 18px;
        margin-bottom: 20px;
    }


    .touchForm>div>label {
        margin-bottom: 10px;
    }

    .touchForm>label {
        margin-bottom: 10px;
    }

    .touchForm label>input {
        height: 30px;
        padding: 0 10px;
        font-size: 12px;
    }

    .touchForm label>textarea {
        height: 100px;
        padding: 10px;
        font-size: 12px;
        margin-top: 10px;
    }

    .touchForm label>p {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .touchBtn {
        width: 100px;
        height: 30px;
        border: 1px solid #ccc;
        background-color: #1a1a1a;
        color: #FFF;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .contactMain {
        margin: 30px 0;
    }

    .banner_contact {
        margin-right: 3%;
        width: 28%;
    }

    .banner_items>img {
        margin-top: 40px;
    }

    .banner_items>p {
        font-size: 12 px;
    }

    .banner_items>h2 {
        color: #fff;
        font-family: "Roboto Condensed";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }

    .on5_bottom {
        margin: 30px auto 30px;
    }

    .on5_bottom>a {
        width: 150px;
        height: 45px;
        padding: 5px 45px;
    }

    .textLeft>div {
        margin-right: 100px;
    }

    .touchBox {
        margin-top: 20px;
    }

    .input_contact {
        overflow: hidden;
    }

    .flex_inputs {
        margin-bottom: 20px;
    }

    .touchForm>.flex_inputs>label>input {
        margin-right: 10px;
    }
}

@media screen and (max-width: 750px) {
    .textLeft::after {
        width: 0;
    }

    .touchBox {
        margin-top: 20rem;
    }

    .touchBox>h2 {
        display: none;
    }

    .flexBox {
        flex-direction: column;
    }

    .flexBox>div {
        width: 100%;
        padding: 0;
    }

    .cUs {
        width: 340rem !important;
        overflow: hidden;
        margin: 0 auto 0rem;
    }

    .maxtitle {
        font-weight: 500;
        font-size: 35rem;
        text-align: center;
        margin-top: 10rem;
        margin-bottom: 15rem;
    }

    .touchForm {
        padding-bottom: 50rem;
    }

    .textLeft h2 {
        text-align: center;
        margin-bottom: 40rem;
        font-size: 18rem;
    }

    .textLeft h3 {
        margin-bottom: 5rem;
        font-size: 14rem;
    }

    .textLeft a {
        margin-bottom: 20rem;
        display: block;
        font-size: 14rem;
    }

    .touchBox>h2 {
        font-size: 18rem;
        margin-bottom: 20rem;
    }


    .touchForm>div>label {
        margin-bottom: 10rem;
    }

    .touchForm>label {
        margin-bottom: 10rem;
    }

    .touchForm label>input {
        height: 30rem;
        padding: 0 10rem;
        font-size: 12rem;
    }

    .touchForm label>textarea {
        height: 100rem;
        padding: 10rem;
        font-size: 12rem;
        margin-top: 10rem;
    }

    .touchForm label>p {
        font-size: 16rem;
        margin-bottom: 10rem;
    }

    .touchBtn {
        width: 100rem;
        height: 30rem;
        border: 1px solid #ccc;
        background-color: #1a1a1a;
        color: #FFF;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .pop {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, .4);
        z-index: 10000;
    }

    .popBox {
        width: 340rem;
        height: 280rem;
        background-color: #fff;
        border-radius: 10rem;
    }

    .popBox>h2 {
        font-size: 28rem;
        color: #242424;
        margin: 50rem auto 30rem;
        font-weight: 600;
        text-align: center;
    }

    .popBox>p {
        font-size: 18rem;
        line-height: 120%;
        margin-bottom: 40rem;
        color: #767676;
        text-align: center;
        font-weight: 400;
    }

    .popBox>h2>span {
        font-size: 48rem;
    }

    .ok {
        width: 150rem;
        margin: 0 auto;
        padding: 0rem 10rem;
        font-size: 26rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #2d88c9;
        color: #fff;
        border-radius: 10rem;
        cursor: pointer;
    }
}