:root {
  --ifm-color-primary: #2d88c9;
  --ifm-color-primary-dark: #297ab5;
  --ifm-color-primary-darker: #2674ab;
  --ifm-color-primary-darkest: #205f8d;
  --ifm-color-primary-light: #3b94d3;
  --ifm-color-primary-lighter: #4599d5;
  --ifm-color-primary-lightest: #64aadc;
}

[data-theme='dark'] {
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0);
}

[data-theme='light'] .DocSearch {
  /* --docsearch-primary-color: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* 弹窗 */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* 搜索框 */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* 条目 */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* 页脚 */
  --docsearch-footer-background: var(--ifm-color-white);
}

[data-theme='dark'] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* 弹窗 */
  --docsearch-modal-background: var(--ifm-background-color);
  /* 搜索框 */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* 条目 */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* 页脚 */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(-26.5deg,
      var(--ifm-color-emphasis-200) 0%,
      var(--ifm-color-emphasis-100) 100%);
}

body,
html {
  overflow-x: hidden;
  -ms-overflow-style: none;
}

html {
  font-size: 16px;
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.markdown li {
  list-style: unset;
}

#__docusaurus {
  background-color: #fff;
}

/* footer */
.footer {
  display: none;
  width: 100%;
  height: 12.375rem;
  position: relative;
}

.footer__link-separator {
  display: none;

}

.margin-bottom--sm {
  position: absolute;
  top: 1.4625rem;
  left: 17.9375rem;
}

.footer_text {
  width: 50rem;
  height: 8rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer_logo {
  width: 16.25rem;
  height: 4.75rem;
  background: url(/static/components/ICON.svg) no-repeat center center;
  background-size: cover;
}

.navbar__item {
  color: #000 !important;
}

.navbar__item:hover {
  color: #2d88c9 !important;
}


.text_right {
  text-align: left;
  color: #2D88C9;
  font-weight: 700;
}

.navbar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__logo>img {
  height: 80%;
}


@media screen and (max-width: 750px) {
  html {
    width: 100%;
    font-size: 0.266666667vw;
    background-color: #fff;
  }

  .navbar {
    background-color: #fff;
    height: 50rem;
    padding: 5rem 10rem;
  }

  .navbar__logo {
    height: 40rem;
  }

  .navbar__logo>img {
    margin-left: 10rem;
    width: 250rem;
    height: 40rem;
  }

  .navbar-sidebar__brand {
    height: 50rem;
  }

  .menu {
    padding: 10rem;
  }

  .menu__list-item {
    margin-bottom: 5rem;
  }

  .navbar-sidebar__close {
    margin-left: 20rem;
  }

  .footer {
    width: 100%;
    height: 130rem;
    position: relative;
  }

  .footer__link-separator {
    display: none;

  }

  .footer_text {
    width: 300rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    height: 100%;
  }

  .footer__links,
  .footer__link-item {
    height: 100%;
  }

  .footer_logo {
    width: 116rem;
    height: 33rem;
    background: url(/static/components/ICON.svg) no-repeat center center;
    background-size: cover;
    margin-right: 10rem;
  }

  .margin-top--lg {
    width: 100%;
  }

  .container .card {
    margin: 10rem 0;
    padding: 5rem !important;
  }

  .pagination-nav {
    margin-bottom: 50rem;
    padding: 0 5rem;
  }

  .pagination-nav__link {
    padding: 10rem;
  }

  .tocCollapsibleButton_node_modules-\@docusaurus-theme-classic-lib-theme-TOCCollapsible-CollapseButton-styles-module {
    padding: 10rem !important;
    width: 90% !important;
  }

  .tocCollapsibleButton_node_modules-\@docusaurus-theme-classic-lib-theme-TOCCollapsible-CollapseButton-styles-module::after {
    width: 20rem !important;
    height: 20rem !important;
  }

  .tocCollapsibleContent_node_modules-\@docusaurus-theme-classic-lib-theme-TOCCollapsible-styles-module>ul>li {
    padding: 0 10rem;
  }

  .details_node_modules-\@docusaurus-theme-classic-lib-theme-Details-styles-module {
    font-size: 14rem;
    padding: 10rem 5rem;
    margin-bottom: 10rem !important;
    text-align: left;
    border-radius: 5rem;
  }

  .details_node_modules-\@docusaurus-theme-classic-lib-theme-Details-styles-module p,
  .details_node_modules-\@docusaurus-theme-classic-lib-theme-Details-styles-module li {
    font-size: 12rem;
  }

  .details_node_modules-\@docusaurus-theme-common-lib-components-Details-styles-module>summary {
    display: flex;
    padding-left: 20rem !important;
  }

  .details_node_modules-\@docusaurus-theme-common-lib-components-Details-styles-module>summary::before {
    width: 1rem !important;
    height: 1rem !important;
    /* position: static !important; */
  }

  .details_node_modules-\@docusaurus-theme-common-lib-components-Details-styles-module>summary::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
  }

  .details_node_modules-\@docusaurus-theme-common-lib-components-Details-styles-module {
    --docusaurus-details-summary-arrow-size: 6rem !important;
  }

  /* 字体size */
  :root {
    --ifm-h1-font-size: 20rem;
    --ifm-h2-font-size: 15rem;
    --ifm-h3-font-size: 12.5rem;
    --ifm-h4-font-size: 10rem;
    --ifm-h5-font-size: 8.75rem;
    --ifm-h6-font-size: 8.5rem;
    --ifm-list-left-padding: 20rem;
    --ifm-list-margin: 10rem;
    --ifm-list-item-margin: 2.5rem;
    --ifm-list-paragraph-margin: 10rem;
    --ifm-table-cell-padding: 7.5rem;
    --ifm-global-spacing: 10rem;
    --ifm-code-padding-horizontal: 10rem;
    --ifm-code-padding-vertical: 10rem;
    --ifm-pre-padding: 10rem;
    --ifm-image-alignment-padding: 12.5rem;
    --ifm-leading: cale(var(--ifm-leading-desktop) * 10rem);
    --ifm-hr-margin-vertical: 15rem;
    --ifm-avatar-intro-margin: 10rem;
    --ifm-avatar-photo-size: 30rem;
    --ifm-breadcrumb-border-radius: 10rem;
    --ifm-breadcrumb-spacing: 5rem;
    --ifm-breadcrumb-padding-horizontal: 8rem;
    --ifm-breadcrumb-padding-vertical: 4rem;
    --ifm-breadcrumb-separator-size: 5rem;
    --ifm-button-padding-horizontal: 15rem;
    --ifm-button-padding-vertical: 3.75rem;
    --ifm-toc-padding-vertical: 5rem;
    --ifm-toc-padding-horizontal: 5rem;
    --ifm-footer-link-horizontal-spacing: 5rem;
    --ifm-footer-logo-max-width: min(300rem, 90vw);
    --ifm-menu-link-padding-horizontal: 7.5rem;
    --ifm-navbar-item-padding-vertical: 2.5rem;
    --ifm-pagination-font-size: 10rem;
    --ifm-pills-spacing: 1.25rem;
    --ifm-tabs-padding-horizontal: 10rem;
    --ifm-tabs-padding-vertical: 10rem;
  }

  .markdown table th,
  .markdown table td {
    font-size: 10rem;
  }

  .markdown>h1 {
    font-size: 20rem;
    margin: 10rem 0;
  }

  .markdown>p {
    font-size: 12rem;
    margin: 5rem 0;
  }

  .markdown>h2 {
    font-size: 16rem;
    margin: 8rem 0;
  }

  .markdown>h3 {
    font-size: 14rem;
    margin: 5rem 0;
  }

  .markdown>ul>li {
    line-height: 120%;
    margin-bottom: 10rem;
    font-size: 12rem;
  }

  .breadcrumbs {
    margin: 10rem 0;
    display: flex;
    align-items: center;
  }

  .breadcrumbs>li>a>svg {
    width: 15rem;
    height: 15rem;
  }

  .breadcrumbs>li>span {
    font-size: 12rem;
  }

  .breadcrumbs__item {
    display: flex;
    align-items: center;
  }

  .breadcrumbs__link {
    font-size: 12rem;
  }

  .breadcrumbs__item::after {
    width: 10rem !important;
    height: 10rem !important;
  }

  .table-of-contents__link {
    margin: 5rem 0;
  }

  .clean-btn {
    font-size: 18rem !important;
  }

  .theme-edit-this-page {
    font-size: 12rem;
  }

  .menu__link {
    font-size: 16rem;
    margin: 8rem 0;
  }

  .menu__link[tabindex='0'] {
    font-size: 12rem;
    margin: 3rem 0;
  }

  .markdown {
    --ifm-h1-vertical-rhythm-bottom: 5.5;
  }

  .markdown h1:first-child {
    --ifm-h1-font-size: 25rem;
  }

}

strong {
  color: #2d88c9;
}

/* 字体 */
@font-face {
  font-family: Roboto;
  src: url(/static/ttf/Roboto-Regular-14.ttf);
}

@font-face {
  font-family: Inter;
  src: url(/static/ttf/Inter.ttf);
}

.hidden {
  display: none !important;
}

.swiper-pagination-bullet {
  background-color: #ccc !important;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
}