.footer_module {
    width: 100%;
    background-color: #000000;
    overflow: hidden;
    padding: 100px 0;
}

.footer_content {
    width: 1920px;
    margin: 0 auto;
}


@media screen and (min-width: 1950px) {}

@media screen and (max-width: 1950px) and (min-width: 1450px) {}

@media screen and (max-width: 1450px) and (min-width: 1000px) {}

@media screen and (max-width: 1000px) and (min-width: 750px) {}

@media screen and (max-width: 750px) {}