.buy_box {
   width: 100%;
   overflow: hidden;
   background-color: #fff;
}

.buy_center>h2 {
   color: #333;
   font-family: Roboto;
   font-style: normal;
   font-weight: 400;
   letter-spacing: 3.2px;
}

.flex_center {
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.flex_center>img {
   display: block;
   width: 42%;
   aspect-ratio: 454/305;
}

.agents {
   padding: 0;
   margin: 0;
   width: 55%;
   display: flex;
   align-items: center;
   align-content: flex-start;
   flex-wrap: wrap;
}

.agents>li {
   border-radius: 16px;
   background-color: #f5f5f5;
   width: 30%;
   aspect-ratio: 250/120;
   display: flex;
   align-items: flex-start;
   cursor: pointer;
}

.agent_official {
   color: #989898;
   font-family: Inter;
   font-style: normal;
   font-weight: 300;
   margin: 0;
   line-height: 120%;
}

.agents>li:hover {
   box-shadow: 0px 0px 10px 0px #2D88C9;
}

.agent_br {
   line-height: 120%;
   color: #3D3D3D;
   font-family: Inter;
   font-style: normal;
   font-weight: 500;
}

.agents>li>img {
   width: 35%;
   margin-right: 5%;
}

.agent_info>a {
   color: #2D88C9;
   font-family: Inter;
   white-space: nowrap;
   font-style: normal;
   font-weight: 500;
   line-height: 120%;
   text-transform: capitalize;
}

.comingsoon {
   width: 55%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.comingsoon>img {
   width: 40%;
}

@media screen and (min-width: 1950px) {
   .buy_box {
      margin-bottom: -50px;
      margin-top: 100px;
   }

   .buy_center {
      width: 1920px;
      margin: 100px auto;
   }

   .buy_center>h2 {
      font-size: 68px;
      margin-bottom: 80px;
   }

   .agents {
      height: 100%;
      gap: 20px;
   }

   .agents>li {
      padding: 15px;
   }

   .agent_official {
      font-size: 16px;
   }

   .agent_br {
      font-size: 18px;
      margin-bottom: 10px;
   }

   .agent_info>a {
      font-size: 18px;
   }

}

@media screen and (max-width: 1950px) and (min-width: 1450px) {
   .buy_box {
      margin-top: 80px;
      margin-bottom: -30px;
   }

   .buy_center {
      width: 90%;
      margin: 80px auto;
   }

   .buy_center>h2 {
      font-size: 52px;
      margin-bottom: 60px;
   }

   .agents {
      height: 100px;
      gap: 10px;
   }

   .agents>li {
      padding: 10px;
   }

   .agent_official {
      font-size: 16px;
   }

   .agent_br {
      font-size: 16px;
      margin-bottom: 10px;
   }

   .agent_info>a {
      font-size: 14px;
   }
}

@media screen and (max-width: 1450px) and (min-width: 1000px) {
   .buy_center {
      width: 90%;
      margin: 30px auto;
   }

   .buy_center>h2 {
      font-size: 38px;
      margin-bottom: 50px;
   }

   .agents {
      gap: 10px;
   }

   .agents>li {
      width: 48%;
      padding: 10px;
   }

   .agent_official {
      font-size: 16px;
   }

   .agent_br {
      font-size: 16px;
      margin-bottom: 10px;
   }

   .agent_info>a {
      font-size: 14px;
   }

   .flex_center {
      gap: 30px;
      justify-content: flex-start;
   }

   .flex_center>img {
      width: calc(600px*.7);
      height: calc(380px*.7);
   }
}

@media screen and (max-width: 1000px) and (min-width: 750px) {
   .buy_box {
      margin-top: 30px;
      margin-bottom: -30px;
   }

   .buy_center {
      width: 95%;
      margin: 30px auto;
   }

   .flex_center {
      flex-direction: column;
   }

   .buy_center>h2 {
      font-size: 32px;
      margin-bottom: 30px;
   }

   .flex_center>img {
      width: 55%;
   }

   .agents {
      gap: 10px;
      width: 90%;
      margin-top: 10px;
   }

   .agents>li {
      width: 300px;
      padding: 8px;
   }

   .agent_official {
      font-size: 14px;
   }

   .agent_br {
      font-size: 14px;
      margin-bottom: 5px;
   }

   .agent_info>a {
      font-size: 12px;
   }
}

@media screen and (max-width: 750px) {
   .buy_box {
      margin-top: 30rem;
      margin-bottom: 0rem;
   }

   .flex_center {
      width: 100%;
      flex-direction: column;
   }

   .flex_center>img {
      width: 100%;
      margin-bottom: 10rem;
   }

   .buy_center {
      width: 90%;
      margin: 30rem auto;
   }

   .buy_center>h2 {
      font-size: 32rem;
      margin-bottom: 30rem;
   }

   .agents {
      grid-template-columns: repeat(1, 1fr);
      gap: 10rem;
      width: 100%;
   }

   .agents>li {
      width: 100%;
      padding: 8rem;
   }

   .agent_official {
      font-size: 18rem;
   }

   .agent_br {
      font-size: 18rem;
      margin-bottom: 10rem;
   }

   .agent_info>a {
      font-size: 16rem;
   }

   .comingsoon {
      width: 100%;
   }

   .comingsoon>img {
      width: 50%;
      margin: 10rem auto;
      display: block;
   }
}