.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    color: red;
}

.box {
    width: 100%;
    height: 100% !important;
    background-color: #2d88c9;
    background-size: cover;
    padding-bottom: 100px;
}

select {
    width: 30%;
    height: 65px;
    padding: 0 20px;
    padding: 10px 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(/static/form/toButtom.svg) no-repeat right center;
    background-color: #f9f9f9;
    border: 1px #ccc solid1;
    background-size: 40px;
    font-size: 24px;
    border-radius: 10px;
}

option {
    display: block;
    padding: 20px;
    height: 30px;
}

input:focus {
    border-color: #2d88c9;
}

textarea:focus {
    border-color: #2d88c9;
}

select:focus {
    border-color: #2d88c9;
}

.formBtn {
    border: none;
}

@media screen and (min-width: 1350px) {


    .formBox {
        width: 1320px;
        margin: 0 auto;
    }

    .box>h1 {
        margin: 100px 0 50px;
        text-align: center;
        font-weight: 700;
        font-size: 58px;
        line-height: 120%;
        color: #FFFFFF;
    }

    .page {
        width: 100%;
        padding: 35px;
        margin-bottom: 35px;
        border-radius: 30px;
        background-color: #fff;
    }

    .page>p {
        margin-top: 15px;
        font-weight: 400;
        font-size: 22px;
        line-height: 120%;
        color: #767676;
    }

    .title {
        margin-bottom: 50px;
    }

    .title>img {
        width: 52px;
        height: 52px;
        margin-right: 20px;
    }

    .title>h1 {
        margin: 0;
        font-weight: 600;
        font-size: 33px;
        color: #000000;
    }

    .inpBox,
    .inpBox2 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 65px;
    }

    .inpBox>label {
        width: 30%;
        margin-right: 50px;
    }

    .inpBox2>label {
        margin-right: 50px;
        width: 50%;
    }

    label>textarea {
        width: 100%;
        height: 150px;
        border-radius: 10px;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        outline: none;
        font-size: 22px;
        padding: 10px;
    }

    label>input {
        width: 100%;
        height: 65px;
        outline: none;
        background-color: #f9f9f9;
        border-radius: 10px;
        border: 1px solid #ccc;
        padding: 0 10px;
        font-size: 22px;
    }

    label>div {
        font-weight: 500;
        font-size: 23px;
        line-height: 120%;
        color: #000000;
        margin-bottom: 15px;
    }

    .page>label {
        display: block;
        margin-top: 55px;
        width: 100%;
    }

    .page>label>input {
        width: 100%;
        height: 65px;
    }

    .page>h1 {
        font-weight: 600;
        font-size: 33px;
        line-height: 120%;
        color: #000000;
        margin-bottom: 25px;
    }

    .radioBox {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .radioBox>label>div {
        margin-bottom: 0;
        margin-right: 15px;
        font-weight: 500;
        font-size: 28px;
        color: #242424;
    }

    .radioBox>label {
        margin-right: 95px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    label>input[type="radio"] {
        width: 47px;
        height: 47px;
    }

    .formBtn {
        display: block;
        margin: 0 auto;
        width: 200px;
        height: 63px;
        padding: 10px;
        background: #000000;
        border-radius: 8px;
        color: #fff;
        font-weight: 500;
        font-size: 24px;
    }
}

@media screen and (max-width: 1350px) and (min-width: 1050px) {
    .box {
        height: 2600px;
        margin-bottom: 400px;
    }

    .formBox {
        width: 1000px;
        margin: 0 auto;
    }

    .box>h1 {
        margin: 80px 0 40px;
        text-align: center;
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        color: #FFFFFF;
    }

    .page {
        width: 100%;
        padding: 25px;
        margin-bottom: 35px;
        border-radius: 30px;
        background-color: #fff;
    }

    .page>p {
        margin-top: 15px;
        font-weight: 400;
        font-size: 22px;
        line-height: 120%;
        color: #767676;
    }

    .title {
        margin-bottom: 50px;
    }

    .title>img {
        width: 52px;
        height: 52px;
        margin-right: 20px;
    }

    .title>h1 {
        margin: 0;
        font-weight: 600;
        font-size: 33px;
        color: #000000;
    }

    .inpBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .inpBox>label {
        width: 40%;
    }

    label>textarea {
        width: 100%;
        height: 150px;
        border-radius: 10px;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        outline: none;
        font-size: 22px;
        padding: 10px;
    }

    label>input {
        width: 100%;
        height: 65px;
        outline: none;
        background-color: #f9f9f9;
        border-radius: 10px;
        border: 1px solid #ccc;
        padding: 0 10px;
        font-size: 22px;
    }

    label>div {
        font-weight: 500;
        font-size: 23px;
        line-height: 120%;
        color: #000000;
        margin-bottom: 15px;
    }

    .page>label {
        display: block;
        margin-top: 55px;
        width: 100%;
    }

    .page>label>input {
        width: 100%;
        height: 65px;
    }

    .page>h1 {
        font-weight: 600;
        font-size: 23px;
        line-height: 120%;
        color: #000000;
        margin-bottom: 25px;
    }

    .radioBox {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .radioBox>label>div {
        margin-bottom: 0;
        margin-right: 15px;
        font-weight: 500;
        font-size: 28px;
        color: #242424;
    }

    .radioBox>label {
        margin-right: 95px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    label>input[type="radio"] {
        width: 47px;
        height: 47px;
    }

    .formBtn {
        display: block;
        margin: 0 auto;
        width: 200px;
        height: 63px;
        padding: 10px;
        background: #000000;
        border-radius: 8px;
        color: #fff;
        font-weight: 500;
        font-size: 24px;
    }
}

@media screen and (max-width: 1050px) and (min-width: 750px) {


    .formBox {
        width: 700px;
        margin: 0 auto;
    }

    .box>h1 {
        margin: 80px 0 40px;
        text-align: center;
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        color: #FFFFFF;
    }

    .page {
        width: 100%;
        padding: 25px;
        margin-bottom: 35px;
        border-radius: 30px;
        background-color: #fff;
    }

    .page>p {
        margin-top: 15px;
        font-weight: 400;
        font-size: 22px;
        line-height: 120%;
        color: #767676;
    }

    .title {
        margin-bottom: 50px;
    }

    .title>img {
        width: 52px;
        height: 52px;
        margin-right: 20px;
    }

    .title>h1 {
        margin: 0;
        font-weight: 600;
        font-size: 33px;
        color: #000000;
    }

    .inpBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .inpBox>label {
        width: 40%;
    }

    label>textarea {
        width: 100%;
        height: 150px;
        border-radius: 10px;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        outline: none;
        font-size: 22px;
        padding: 10px;
    }

    label>input {
        width: 100%;
        height: 65px;
        outline: none;
        background-color: #f9f9f9;
        border-radius: 10px;
        border: 1px solid #ccc;
        padding: 0 10px;
        font-size: 22px;
    }

    label>div {
        font-weight: 500;
        font-size: 23px;
        line-height: 120%;
        color: #000000;
        margin-bottom: 15px;
    }

    .page>label {
        display: block;
        margin-top: 55px;
        width: 100%;
    }

    .page>label>input {
        width: 100%;
        height: 65px;
    }

    .page>h1 {
        font-weight: 600;
        font-size: 23px;
        line-height: 120%;
        color: #000000;
        margin-bottom: 25px;
    }

    .radioBox {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .radioBox>label>div {
        margin-bottom: 0;
        margin-right: 15px;
        font-weight: 500;
        font-size: 28px;
        color: #242424;
    }

    .radioBox>label {
        margin-right: 95px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    label>input[type="radio"] {
        width: 47px;
        height: 47px;
    }

    .formBtn {
        display: block;
        margin: 0 auto;
        width: 200px;
        height: 63px;
        padding: 10px;
        background: #000000;
        border-radius: 8px;
        color: #fff;
        font-weight: 500;
        font-size: 24px;
    }
}